/* @license
 * MyFonts Webfont Build ID 2473388, 2013-02-07T12:32:09-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Proxima Nova S Semibold by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/s-semibold/
 * 
 * Webfont: Proxima Nova A Semibold by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/a-semibold/
 * 
 * Webfont: Proxima Nova Semibold by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/semibold/
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2473388
 * Webfonts copyright: Copyright (c) Mark Simonson, 2005. All rights reserved.
 * 
 * © 2013 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/25bdac");

  
@font-face {font-family: 'ProximaNovaS-Semibold';src: url('webfonts/25BDAC_0_0.eot');src: url('webfonts/25BDAC_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/25BDAC_0_0.woff') format('woff'),url('webfonts/25BDAC_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaA-Semibold';src: url('webfonts/25BDAC_1_0.eot');src: url('webfonts/25BDAC_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/25BDAC_1_0.woff') format('woff'),url('webfonts/25BDAC_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNova-Semibold';src: url('webfonts/25BDAC_2_0.eot');src: url('webfonts/25BDAC_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/25BDAC_2_0.woff') format('woff'),url('webfonts/25BDAC_2_0.ttf') format('truetype');}
 