@-webkit-viewport {
	width:device-width;
}

@-moz-viewport {
	width:device-width;
}

@-ms-viewport {
	width:device-width;
}

@-o-viewport {
	width:device-width;
}

@viewport {
	width:device-width;
}

@-moz-document url-prefix() {
	fieldsetdisplay:table-cell;
}

html,body {
	height:100%;
}

body {
	font-family:'Open Sans',sans-serif;
	color:#414848;
}

.blue-gray {
	color:#eceff1;
}

.light-gray {
	color:#f7f8f9;
}

.gray {
	color:#eaecef;
}

.dark-gray {
	color:#414848;
}

.bg-blue-gray {
	background-color:#eceff1;
}

.bg-light-gray {
	background-color:#f7f8f9;
}

.bg-gray {
	background-color:#eaecef;
}

h1 {
	margin-top:0;
	padding-top:20px;
	font-weight:300;
	margin-bottom:5px;
}

h2 {
	margin-top:0;
	padding-top:0;
	font-weight:300;
	font-size:24px;
	margin-bottom:20px;
}

h3 {
	font-weight:300;
	font-style:italic;
	margin-top:0;
	margin-bottom:40px;
}

.hero-hundred-h {
	position:relative;
	height:100%;
}

#hero-text {
	position:absolute;
	bottom:20px;
	text-align:left;
	text-shadow:0 0 6px rgba(0,0,0,.8);
}

#hero-text h3 {
	margin-bottom:0;
	font-size:24px;
	color:#FFF;
}

#hero-text h5 {
	margin-top:8px;
	margin-bottom:0;
	font-size:18px;
	font-weight:300;
	font-style:italic;
	color:#FFF;
}

#hero-text-r {
	position:absolute;
	bottom:20px;
	text-align:right;
	padding-right:30px;
	width:100%;
}

#hero-text-r h3 {
	font-size:36px;
	font-weight:300;
	color:#FFF;
	margin-bottom:0;
	text-shadow:0 0 6px rgba(0,0,0,.8);
	letter-spacing:-4px;
}

#hero-text-r h3 span {
	font-size:26px;
}

#hero-text-r h5 {
	display:inline-block;
	vertical-align:middle;
	margin-top:0;
	margin-bottom:0;
	font-size:24px;
	font-weight:300;
	font-style:italic;
	color:#FFF;
	text-shadow:0 0 6px rgba(0,0,0,.8);
}

#hero-text-r .btn {
	background-color:rgba(255,255,255,0.2);
	color:#FFF;
	font-weight:300;
	font-size:16px;
	margin:0 0 -1px 10px;
}

#hero-text-r .btn:hover {
	background-color:rgba(255,255,255,1);
	color:#414848;
}

h4 {
	margin:20px 0;
}

p,ul,ol {
	color:#9ca0a0;
	font-weight:300;
	font-size:16px;
	line-height:1.5;
}

.social-icons {text-align:center;}
.fa {
	color:#414848;
	font-size:18px;
	padding-right:10px;
}

.fa:hover {
	color:#97a4ab;
}

.get-up {
	text-transform:uppercase;
}

.space-above {
	margin-top:30px;
}

.room-above {
	padding-top:30px;
}

.space-below {
	margin-bottom:30px;
}

.room-below {
	padding-bottom:30px;
}

@-webkit-keyframes fadeIn {
	0% {
		opacity:0;
	}

	20% {
		opacity:0;
	}

	40% {
		opacity:.3;
	}

	60% {
		opacity:.5;
	}

	80% {
		opacity:.9;
	}

	100% {
		opacity:1;
	}
}

@keyframes fadeIn {
	0% {
		opacity:0;
	}

	20% {
		opacity:0;
	}

	40% {
		opacity:.3;
	}

	60% {
		opacity:.5;
	}

	80% {
		opacity:.9;
	}

	100% {
		opacity:1;
	}
}

.well,.navbar-inner,.popover,.btn,.tooltip,input,select,textarea,pre,.progress,.modal,.add-on,.alert,.table-bordered,.nav>.active>a,.dropdown-menu,.tooltip-inner,.badge,.label,.img-polaroid,button {
	-moz-box-shadow:none!important;
	-webkit-box-shadow:none!important;
	box-shadow:none!important;
	-webkit-border-radius:0!important;
	-moz-border-radius:0!important;
	border-radius:0!important;
	border-collapse:collapse!important;
	background-image:none!important;
}

#ogden-nav {
	height:20px;
}

.tel a {
	color:#fff;
}

.navbar-toggle,.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus {
	background-color:rgba(239,239,239,0.9);
	border:0;
	border-radius:0;
	margin:-15px 0 0!important;
	padding:20px!important;
}

.navbar-toggle.collapsed {
	background-color:transparent!important;
}

.navbar-default .navbar-toggle .icon-bar,.navbar.solid .navbar-toggle .icon-bar {
	background:#888;
}

.navbar-default .navbar-toggle.collapsed .icon-bar {
	background:#fff!important;
}

.navbar-fixed-top .navbar-brand {
	margin-top:-3px;
	padding:0 15px;
}

.navbar-default {
	background-color:transparent;
	border:none;
}

.navbar-default .navbar-collapse {
	border:none;
}

.navbar-default .navbar-nav>li>a {
	color:#fff;
	font-size:13px;
	font-weight:300;
	text-shadow:0 0 6px rgba(0,0,0,.8);
}

.navbar-default .navbar-nav>li>a:hover {
	color:#fff;
	text-decoration:underline;
}

.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:active,.navbar-default .navbar-brand.active {
	color:#fec503;
}

.navbar-header {
	padding-top:15px;
	color:#FFF;
	font-size:13px;
	font-weight:300;
}

.navbar-brand {
	height:auto!important;
}

.navbar-collapse {
	padding-left:0;
	padding-right:0;
}

.navbar.solid {
	background:#fff;
}

.navbar.solid a,.navbar.solid span {
	color:#414848!important;
	text-shadow:none!important;
}

@media (max-width: 990px) {
	.navbar-header {
		float:none;
	}

	.navbar-toggle {
		display:block;
	}

	.navbar-collapse {
		border-top:1px solid transparent;
		box-shadow:inset 0 1px 0 rgba(255,255,255,0.1);
	}

	.navbar-collapse.collapse {
		display:none!important;
	}

	.navbar-collapse.collapse.in {
		display:block!important;
	}

	.navbar-nav {
		float:none!important;
		margin:7.5px -15px;
	}

	.navbar-nav>li {
		float:none;
		border-bottom:1px solid #6d6e7a;
	}

	.navbar-nav>li>a {
		padding-top:10px;
		padding-bottom:10px;
	}

	.navbar-default .navbar-nav > li > a {
		color:#6d6e7a;
		margin-top:5px;
		padding:10px 12px 14px;
	}

	.dropdown-menu {
		position:relative;
		float:none;
	}

	.dropdown-menu ul li,.dropdown-menu li {
		text-align:right;
	}

	.navbar-collapse .nav {
		background-color:rgba(239,239,239,0.9);
		text-align:right;
		margin:0;
		max-width:100%;
	}
}

.carousel {
	margin-top:0;
	margin-bottom:0;
	min-height: 300px;
}

@media (max-width: 480px) {
	.carousel {
		margin-top:0;
		margin-bottom:0;
		min-height: 480px;
	}
}

.carousel-control.left,.carousel-control.right {
	background-image:none;
}

.carousel-caption {
	padding-top:40px;
	padding-bottom:60px;
	position:static;
	text-shadow:none;
}

.carousel-caption h2 {
	color:#414848;
	margin-bottom:5px!important;
}

.carousel-caption h3 {
	color:#414848;
	font-size:20px;
	margin-bottom:15px;
}

.carousel-caption p {
	padding:0 17%;
}

.carousel-caption .btn {
	margin:10px 15px 0;
	font-size:14px!important;
}

.carousel-caption .btn-primary {
	color:#fff;
	background-color:#2a6496;
	border-color:#2a6496;
}

.carousel-caption .btn-primary:hover {
	color:#fff;
	background-color:#414848;
	border-color:#414848;
}

.carousel-indicators {
	bottom:10px;
}

.carousel-indicators li {
	background-color:transparent;
	border-color:#2a6496;
}

.carousel-indicators .active {
	background-color:#2a6496;
	border-color:#2a6496;
}

.glyphicon-chevron-left:before {
	content:"";
}

.glyphicon-chevron-right:before {
	content:"";
}

.new-section-b {
	margin-top:30px;
	padding-top:20px;
}

.new-section-m {
	margin-top:30px;
}

.new-section-p {
	padding-top:20px;
}

.home-grid-text {
	padding-left:15%;
	padding-right:15%;
	font-size:15px;
}

.text-box {
	height:100%;
}

.row {
	overflow:hidden;
}

.row-fluid {
	width:100%;
}

.btn {
	margin-top:30px;
	padding:10px 20px;
}

.btn-lines {
	border-color:#414848;
	border-radius:0;
	border-left:none;
	border-right:none;
	background-color:transparent;
	margin-bottom:40px;
	font-weight:600;
	font-size:14px;
	text-transform:uppercase;
}

.btn-lines:hover {
	color:#97a4ab;
	border-color:#b0b4b6;
	background-color:transparent;
}

body {
	padding-top:0;
}

header {
	text-align:center;
	color:#fff;
	background-attachment:scroll;
	background-position:center center;
	background-repeat:none;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	-o-background-size:cover;
	min-height:550px;
	height:1px;
	width:100%;
}

#home-tiles .tile {
	margin-top:30px;
}

#home-tiles .tile h2 {
	padding-top:30px;
	margin-bottom:5px!important;
	font-size:30px;
	margin-bottom:20px;
}

#home-tiles .tile h3 {
	font-size:22px;
	margin-bottom:30px;
}

#map {
	padding-left:0;
	padding-right:0;
	padding-top:30px;
}

#life-grid-container {
	padding-left:0;
	padding-right:0;
	margin-bottom:30px;
}

.life-grid {
	margin-top:30px;
}

.life-grid h2 {
	position:absolute;
	top:25%;
	font-size:26px;
	color:#fff;
	text-align:center;
	width:100%;
	z-index:99;
	opacity:1;
	-webkit-transition:opacity 1s ease-out;
	transition:opacity 1s ease-out;
}

.image-overlay:after {
	content:'\A';
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	margin-left:0;
	margin-right:0;
	background:rgba(0,0,0,0.6);
	opacity:.8;
	transition:all 1s;
	-webkit-transition:all 1s;
}

.image-overlay:hover:after {
	opacity:0;
}

.map .m2 {
	height:500px;
}

.masonry-item {
	margin:15px 0;
}

.masonry-item img {
	max-width:100%;
	height:auto;
}

.masonry-item .dtlv-caption {
	background-color:rgba(0,0,0,0.7);
	color:#FFF;
	height:100%;
	text-align:center;
	width:90%;
	position:absolute;
	bottom:0;
	display:none;
	padding-left:10px;
	padding-right:10px;
}

.masonry-item .dtlv-caption h3 {
	font-size:14px;
	position:relative;
	top:50%;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
}

.masonry-item .dtlv-caption h3 a {
	padding:10px;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	width:auto;
	color:#fff;
	font-style:normal;
}

.masonry-item:hover .dtlv-caption {
	display:block;
}

.life-item {
	margin:15px 0;
}

.life-item img {
	max-width:100%;
	height:auto;
}

.life-item .life-caption {
	background-color:rgba(0,0,0,0.7);
	color:#FFF;
	height:100%;
	text-align:center;
	left:15px;
	right:15px;
	position:absolute;
	bottom:0;
	display:block;
	padding-left:10px;
	padding-right:10px;
}

.life-item .life-caption h3 {
	font-size:14px;
	position:absolute;
	top:25%;
	width:100%;
	text-align:center;
	color:#fff;
}

.life-item .life-caption h3 span {
	padding:10px;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	width:auto;
	color:#fff;
	font-style:normal;
}

.life-item .life-caption p {
	display:block;
	position:absolute;
	top:45%;
	width:100%;
	padding:0 30px;
	text-align:center;
	color:#fff;
}

@media (min-width:1025px) {
	.life-item .life-caption {
		background-color:rgba(0,0,0,0.4);
		color:#FFF;
		height:100%;
		text-align:center;
		left:15px;
		right:15px;
		position:absolute;
		bottom:0;
		display:block;
		padding-left:10px;
		padding-right:10px;
	}

	.life-item .life-caption h3 {
		font-size:14px;
		position:relative;
		top:45%;
		-webkit-transform:translateY(-50%);
		-ms-transform:translateY(-50%);
		transform:translateY(-50%);
	}

	.life-item .life-caption h3 span {
		padding:10px;
		border-top:1px solid #fff;
		border-bottom:1px solid #fff;
		width:auto;
		color:#fff;
		font-style:normal;
	}

	.life-item .life-caption p {
		display:none;
		color:#fff;
		text-align:center;
		width:75%;
	}

	.life-item:hover .life-caption {
		background-color:rgba(0,0,0,0.7);
	}

	.life-item:hover .life-caption h3 {
		top:30%;
		-webkit-transition:all .5s ease-in-out;
		-moz-transition:all .5s ease-in-out;
		-o-transition:all .5s ease-in-out;
		transition:all .5s ease-in-out;
	}

	.life-item:hover .life-caption p {
		display:block;
		position:relative;
		top:25%;
		width:100%;
		padding:0 30px;
		-webkit-animation-name:fadeIn;
		-webkit-animation-duration:.5s;
		animation-name:fadeIn;
		animation-duration:.5s;
	}
}

#ogden-residences-carousel .item img {
	width:100%!important;
}

#ogden-residences-carousel .carousel-control.right,#ogden-residences-carousel .carousel-control.left {
	background-image:none!important;
}

#residence-list,#residence-list thead,#residence-list thead th {
	text-align:center;
}

#residence-list thead {
	background:#414848;
	color:#fff;
	text-transform:uppercase;
}

.table-striped>tbody>tr:nth-child(odd)>td,.table-striped>tbody>tr:nth-child(odd)>th {
	background-color:#f7f8f9;
}

@-moz-document url-prefix() {
	fieldsetdisplay:table-cell;
}
}

article.news-item {
	border-bottom:1px solid #ccc;
	padding-bottom:20px;
}

article.news-item h2 {
	margin-bottom:0;
}

article.news-item h2 a {
	color:#414848;
}

article.news-item h2 a:hover {
	color:#414848;
	text-decoration:underline;
}

article.news-item h3 {
	margin-bottom:10px;
	color:blue;
}

#ogden-iframe-carousel .item img {
	width:100%!important;
}

#ogden-iframe-carousel .carousel-control.right,#ogden-iframe-carousel .carousel-control.left {
	background-image:none!important;
}

#ogden-location h3,#ogden-contact h3 {
	font-style:normal;
	font-size:36px;
	font-weight:300;
	margin-bottom:4px;
}

#ogden-location h4,#ogden-contact h4 {
	font-style:italic;
	font-size:24px;
	font-weight:300;
	margin-top:0;
}

footer {
	padding-top:50px !important;
	padding-bottom:20px;
}
.footer-address {
	font-size:13px;
	text-transform:uppercase;
	margin-bottom:0;
	}
.footer-copy {font-size:10px;}

.maFormElement input[type="text"], .maFormElement input[type="select"] {
	font-family: 'Open Sans',sans-serif !important;
	box-shadow:none !important;
	font-weight:100;
	border-radius:0;
	margin: 0 0 11px;
	font-size: 16px;
	line-height: 30px;
	padding: 5px 19px;
	display:block;
	width:100% !important;
	height:50px;
	color:#605F5F;
	background-color:rgba(226, 228, 230, 0);
	background-image:none;
	border:1px solid #C2C2C2;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-o-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.maFormElement input[type="radio"] {
	font-family: 'Open Sans',sans-serif !important;
	padding-top: 10px;
	margin: 0 10px 3px 2px;
	font-size: 16px;
	font-weight:100;
	line-height: 30px;
	padding: 5px 19px;
	height:50px;
	color: #000;
    background: none;
    border-radius: 0px;
}

.maFormElement  label {
	font-family: 'Open Sans',sans-serif !important;
	font-weight:300;
	display:none;
}

.submitAlign{
	float:right;
}


@media (max-width:480px) {
	.maFormElement {
		width:100% !important;
	}

}


.maFormElement button[type="submit"], .maFormElement button[type="submit"] {
	font-family: 'Open Sans',sans-serif !important;
	font-size: 16px;
	line-height: 36px;
	font-weight: 400;
	padding: 6px 37px;
	color: #fff;
	background-color: #414848;
	border-color: #414848;
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	border-radius: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-transform:uppercase;
}


select {
	font-family: 'Open Sans',sans-serif !important;
    color: rgba(65, 72, 72, 0.5);
    border-radius: 0px;
    height: 50px;
    display: inline-block;
    border: 1px solid #C2C2C2;
    padding: 12px 3px 12px 20px !important;
    margin: 0px;
    font-size: 16px; !important;
    outline: medium none;
    line-height: 50px;
    background: none repeat scroll 0% 0% rgba(226, 228, 230, 0);
    width: 100% !important;
    position: relative;
	font-weight:100;
}


#ogden-contact {
	padding-bottom:50px;
	}

#ogden-contact-form {
	border:0;
	width:100%;
	min-height:300px;
}

#ogden-request-btn {
	width:179px;
	height:32px;
	margin:0 0 0 -90px;
	bottom:0;
	position:fixed;
	left:50%;
	background:#2a6496;
	font-size:13px;
	text-align:center;
	padding-top:7px;
	padding-left:15px;
	padding-right:15px;
	color:#fff;
	font-weight:400;
	text-transform:uppercase;
}

.mktoForm .mktoField {
	background:#fff;
	border:0;
	height:30px;
	border-radius:0!important;
	-webkit-border-radius:0!important;
	-moz-border-radius:0!important;
	font-size:16px;
}

.mktoForm select {
	border-radius:0!important;
	-webkit-border-radius:0!important;
	-moz-border-radius:0!important;
	font-size:16px;
}
.maFormElement input{
	font-size:16px;
	}

.mktoForm .mktoLabel {
	color:#414848;
	margin-bottom:7px;
	font-weight:400;
}

.mktoForm button {
	background:#414848;
	border:0;
	padding:5px 15px;
	margin-left:-32px!important;
	font-weight:700;
	color:#fff;
}

footer .credit {
	font-size: 12px;
}
footer .credit a {
	color: #2a6496;
}

@media (max-width:1200px) {
	#home-tiles .tile h2 {
		font-size:26px;
	}

	#home-tiles .tile h3 {
		font-size:20px;
		margin-bottom:15px;
	}

	.home-grid-text {
		padding-left:8%;
		padding-right:8%;
		font-size:13px;
	}

	#home-tiles a {
		margin-bottom:5px;
	}
	.btn-lines {
		margin-bottom: 20px !important;
		margin-top: 10px !important;
		}
}

@media (max-width:992px) {
	#home-tiles .tile h2 {
		font-size:20px;
		padding-top:15px;
		margin-bottom:3px;
	}

	#home-tiles .tile h3 {
		font-size:16px;
		margin-bottom:10px;
	}

	.home-grid-text {
		padding-left:5px;
		padding-right:5px;
		font-size:12px;
	}

	.home-grid-text .tile p {
		margin-bottom:0;
	}

	.text-box .btn {
		margin-top:10px;
		margin-bottom:0;
	}

	.text-box .btn-lines {
		font-size:14px;
		padding:8px 15px;
	}
}

@media (max-width:768px) {
	.navbar-default .navbar-nav > li > a {
		text-shadow:none;
	}

	#hero-text {
		text-align:left;
	}

	#home-tiles .tile h2 {
		font-size:30px;
		padding-top:30px;
	}

	#home-tiles .tile h3 {
		font-size:24px;
		margin-bottom:15px;
	}

	.home-grid-text {
		padding-left:10%;
		padding-right:10%;
		font-size:16px;
	}

	.home-grid-text .tile p {
		margin-bottom:10px;
	}

	.text-box .btn {
		margin-bottom:30px;
	}

	.life-grid {
		margin-top:1px;
		padding-left:0;
		padding-right:0;
	}

	header {
		min-height:365px;
	}

	#home-tiles a {
		margin-bottom:30px;
	}

	#footer-hours p,#footer-address p {
		font-size:16px;
	}
}

@media (max-width:480px) {
	.navbar-default .navbar-nav > li > a {
		text-shadow:none;
	}

	header {
		min-height:300px;
	}

	#hero-text h5 {
		font-size:15px;
	}

	#hero-text-r h3 {
		font-size:24px;
		letter-spacing:-3px;
	}

	#hero-text-r h3 span {
		font-size:18px;
	}

	#hero-text-r h5 {
		font-size:20px;
		margin-bottom:5px;
	}

	#hero-text-r .btn {
		font-size:14px;
		padding:8px 16px;
	}

	.map .m2 {
		height:200px;
	}
}

@media (max-width:340px) {
	#home-tiles .tile h2 {
		font-size:23px;
		padding-top:30px;
	}

	#home-tiles .tile h3 {
		font-size:18px;
		margin-bottom:15px;
	}

	.map .m2 {
		height:300px;
	}
}

img.alignright {
	float:right;
	margin:0 0 1em 1em;
}

img.alignleft {
	float:left;
	margin:0 1em 1em 0;
}

img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

a img.alignright {
	float:right;
	margin:0 0 1em 1em;
}

a img.alignleft {
	float:left;
	margin:0 1em 1em 0;
}

a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.alignnone {
	margin:5px 20px 20px 0;
}

.wp-caption {
	background:#fff;
	border:1px solid #f0f0f0;
	max-width:96%;
	padding:5px 3px 10px;
	text-align:center;
}

.wp-caption.alignnone {
	margin:5px 20px 20px 0;
}

.wp-caption.alignleft {
	margin:5px 20px 20px 0;
}

.wp-caption.alignright {
	margin:5px 0 20px 20px;
}

.wp-caption img {
	border:0 none;
	height:auto;
	margin:0;
	max-width:98.5%;
	padding:0;
	width:auto;
}

.wp-caption p.wp-caption-text {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}

.embed-container {
	position:relative;
	padding-bottom:56.25%;
	height:0;
	overflow:hidden;
	max-width:100%;
	margin-bottom:30px;
}

.embed-container iframe,.embed-container object,.embed-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
