        // custom variables and override bootstrap variables
        // Colors
        $black: #000013;
        $brown: #e3dccd;
        $red: #a33a21;
        $white: #fefefe;
        // Scaffolding
        $text-color: $black;
        $link-color: $brown;
        $link-hover-decoration: none;
        // Typography
        $font-family-sans-serif: "proxima-nova",
        sans-serif;
        $font-size-base: 18px;
        $line-height-base: 1.5;
        $headings-font-weight: normal;
        $headings-color: $red;
        $line-height-computed: floor(($font-size-base * $line-height-base));
        // Buttons
        $btn-default-color: transparent;
        $btn-default-border: $red;
        $btn-border-radius-base: 0;
        // Forms
        $input-color: $black;
        $input-border: $brown;
        $input-border-radius: 0;
        $input-border-focus: $red;
        $input-color-placeholder: $black;
        /*	GENERAL RULES
/*----------------------------------------------------*/
        
        body {
            color: $black;
            background: #ffffff;
            overflow-x: hidden;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        /* CONTENT BLOCK HOLDERS */
        
        .content-block {
            width: 100%;
            padding: 60px 0 60px 0;
            z-index: 100;
            position: relative;
            background-color: #ffffff;
        }
        
        .content-block-halfpad {
            width: 100%;
            padding: 30px 0 30px 0;
            z-index: 100;
            position: relative;
            background-color: #ffffff;
        }
        
        .content-block-nopad {
            width: 100%;
            z-index: 100;
            position: relative;
            background-color: #ffffff;
        }
        /* PADDING, MARGIN & ALIGNMENT */
        
        .pad5 {
            padding-top: 5px;
        }
        
        .pad10 {
            padding-top: 10px;
        }
        
        .pad15 {
            padding-top: 15px;
        }
        
        .pad25 {
            padding-top: 25px;
        }
        
        .pad30 {
            padding-top: 30px;
        }
        
        .pad45 {
            padding-top: 45px;
        }
        
        .pad60 {
            padding-top: 60px;
        }
        
        .pad75 {
            padding-top: 75px;
        }
        
        .pad90 {
            padding-top: 90px;
        }
        
        .pad5-bottom {
            padding-bottom: 5px;
        }
        
        .pad10-bottom {
            padding-bottom: 10px;
        }
        
        .pad15-bottom {
            padding-bottom: 15px;
        }
        
        .pad25-bottom {
            padding-bottom: 25px;
        }
        
        .pad30-bottom {
            padding-bottom: 30px;
        }
        
        .pad45-bottom {
            padding-bottom: 45px;
        }
        
        .pad60-bottom {
            padding-bottom: 60px;
        }
        
        .pad75-bottom {
            padding-bottom: 75px;
        }
        
        .pad90-bottom {
            padding-bottom: 90px;
        }
        
        .element-spacing-top {
            padding-top: 60px;
        }
        
        .min-height-100px {
            min-height: 100px;
        }
        
        .min-height-200px {
            min-height: 200px;
        }
        
        .min-height-300px {
            min-height: 300px;
        }
        
        .min-height-400px {
            min-height: 400px;
        }
        
        .min-height-500px {
            min-height: 500px;
        }
        
        .min-height-600px {
            min-height: 600px;
        }
        
        .min-height-700px {
            min-height: 700px;
        }
        
        .min-height-800px {
            min-height: 800px;
        }
        
        .marg-top30 {
            margin-top: 30px;
        }
        
        .marg-top50 {
            margin-top: 50px;
        }
        
        .marg-bottom5 {
            margin-bottom: 5px;
        }
        
        .marg-left5 {
            margin-left: 5px;
        }
        
        .marg-right5 {
            margin-right: 5px;
        }
        
        .but_marg {
            margin-left: 3px;
        }
        
        .v-center {
            display: inline-block;
            vertical-align: middle;
            float: none;
        }
        /** TYPOGRAPHY **/
        
        h1,
        h2,
        h3,
        .h1,
        .h2,
        .h3 {
            font-family: "kepler-std", Times, serif;
            text-transform: none;
            line-height: 1.1;
        }
        
        .contact-h3 {
            text-transform: none;
        }
        
        h1 small,
        h2 small,
        h3 small,
        .h1 small,
        .h2 small,
        .h3 small {
            color: $black;
        }
        
        h1,
        h2,
        h3 {
            margin-bottom: 20px;
            font-weight: 300;
        }
        
        .headers-kepler {
            font-family: "kepler-std", Times, serif;
            text-transform: none;
        }
        
        .h2-headers-pages {
            font-size: 28px;
        }
        
        .h2-content-blocks {
            font-size: 23px;
        }
        
        h1,
        .h1 {
            font-size: 18px;
        }
        
        h2,
        .h2 {
            font-size: 23px;
        }
        
        h3,
        .h3 {
            font-size: 18px;
        }
        
        h4.qualify a {
            font-family: "kepler-std", Times, serif !important;
            text-transform: none !important;
        }
        
        h4.qualify a:hover {
            text-decoration: underline !important;
            color: $red !important;
        }
        
        p {
            font-family: "kepler-std", Times, serif;
            font-size: 16px;
            line-height: 1.6;
            margin: 15px 0;
            color: $black;
        }
        
        .margin-small {
            margin: 4px;
        }
        
        .margin-none {
            margin: 0px;
        }
        
        .lead {
            margin-bottom: 30px;
            font-size: 20px;
            line-height: 1.4;
            font-weight: 300;
        }
        
        small,
        .small {
            font-size: 80%;
            line-height: 2;
        }
        
        .no-pad {
            padding: 0;
            margin: 0;
            text-align: left;
        }
        
        .list-margin {
            margin-bottom: 18px;
        }
        /* LINKS */
        
        a {
            color: $red;
        }
        
        a:hover {
            color: $red;
            text-decoration: underline;
            -moz-transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
        
        .red-link {
            color: $black;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 12px;
            font-family: "proxima-nova", Helvetica, Arial, sans-serif;
        }
        
        .red-arrow {
            color: $red;
            padding-right: 8px;
            font-size: 16px;
        }
        
        .image-cross {
            font-size: 27px;
            color: $black;
            margin-top: 20px;
        }
        /* LISTS */
        
        ol {
            position: relative;
            padding-left: 22px;
        }
        
        ul {
            list-style: none;
            position: relative;
            padding-left: 22px;
        }
        
        ul li,
        ol li {
            font-family: "kepler-std", Times, serif;
            font-size: 14px;
            color: #515157;
            margin-bottom: 5px;
        }
        
        ul.circle li:before {
            font-family: 'fontawesome';
            content: '\f10c';
            font-size: 12px;
            color: #16a085;
            padding-top: 2px;
            margin-left: -20px;
            position: absolute;
        }
        
        .property-details-list {
            margin-top: 10px;
            li {
                text-transform: uppercase;
                text-align: center;
                font-size: 14px;
                line-height: 26px;
                color: $black;
            }
        }
        /* TITLES */
        
        .underlined-title {
            text-align: center;
        }
        
        hr {
            width: 100%;
            border-width: 1px;
            border-color: $brown;
            margin-bottom: 2px;
        }
        /* IMAGES */
        
        .full-width {
            width: 100%;
        }
        
        .estate-header-logo {
            max-width: 185px;
        }
        
        .inline-img {
            display: inline-block;
        }
        /* Estate Lists */
        
        .estate-entry {
            font-weight: 300;
            font-size: 12px;
            text-align: left;
            margin-bottom: 80px;
            .content-estates {
                padding-left: 10px;
            }
            hr {
                margin-top: 12px;
            }
            img {
                width: 118px;
                height: 118px;
            }
            p {
                margin: 14px 0;
                font-size: 12px;
                font-family: "proxima-nova", Helvetica, Arial, sans-serif;
                min-height: 90px;
            }
            .headline-estate {
                font-size: 23px;
                margin: 16px 0 8px 0;
            }
            .link-estate {
                font-weight: 600;
                font-size: 11px;
                text-transform: uppercase;
                text-decoration: none;
                color: $text-color;
                &:hover {
                    text-decoration: underline;
                    color: $red;
                }
            }
        }
        /* BUTTONS */
        
        .btn {
            color: $red;
            background-color: transparent;
            padding: 10px 20px;
            margin: 15px 0;
            font-family: "proxima-nova", Helvetica, Arial, sans-serif;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0.1em;
            text-shadow: none;
            border: none;
            text-transform: uppercase;
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border: 1px solid $red;
            &:hover {
                background-color: $red;
                border-color: $red;
                color: #FFFFFF;
            }
        }
        
        .btn-red {
            color: #FFFFFF;
            background-color: $red;
            padding: 10px 20px;
            margin: 15px 0;
            font-family: "proxima-nova", Helvetica, Arial, sans-serif;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0.1em;
            text-shadow: none;
            border: none;
            text-transform: uppercase;
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border: 1px solid $red;
            &:hover {
                background-color: #FFFFFF;
                border-color: $red;
                color: $red;
                text-decoration: none;
            }
        }
        
        h1 .btn,
        h2 .btn,
        h3 .btn,
        h4 .btn,
        p .btn {
            margin-left: 15px;
        }
        
        .btn-block {
            display: inline-block;
        }
        /*	HEADER 3
/*----------------------------------------------------*/
        
        #header-3 {
            width: 100%;
            .header-tel {
                position: relative;
                text-transform: uppercase;
                color: #ffffff;
                a {
                    color: #ffffff;
                    &:hover {
                        color: #ffffff;
                    }
                }
            }
            .header-logo {
                max-width: 100%;
                height: auto;
            }
            .main-logo {
                margin-bottom: 50px;
                margin-top: 35px;
            }
            .tel-mobile {
                margin-bottom: 6px;
                display: block;
                text-transform: uppercase;
                font-size: 12px;
            }
            .navbar-nav {
                float: none;
                li {
                    float: none;
                    display: inline-block;
                    margin: 0 35px;
                }
            }
            nav {
                ul {
                    list-style: none;
                    padding: 0;
                    li {
                        display: inline-block;
                        transition: all 0.5s ease;
                        -moz-transition: all 0.5s ease;
                        -webkit-transition: all 0.5s ease;
                        -o-transition: all 0.5s ease;
                        padding-left: 0;
                        position: relative;
                        &:last-child {
                            border: none;
                        }
                        a {
                            font-family: "proxima-nova", Helvetica, Arial, sans-serif;
                            font-weight: 400;
                            text-transform: uppercase;
                            color: #000;
                            padding: 10px 20px;
                            transition: all 0.5s ease;
                            -moz-transition: all 0.5s ease;
                            -webkit-transition: all 0.5s ease;
                            -o-transition: all 0.5s ease;
                            position: relative;
                            font-size: 12px;
                            &:hover {
                                color: $red;
                                text-decoration: none;
                                background: none;
                            }
                            &:focus {
                                text-decoration: none;
                            }
                            &.nav-middle {
                                margin-top: 0;
                                margin-bottom: 0;
                            }
                        }
                        .btn-red {
                            color: #fff;
                        }
                    }
                }
                .active a{
                    color: $red !important;
                }
            }
        }
        
        #nav-toggle {
            position: relative;
            cursor: pointer;
            padding: 10px 35px 16px 0px;
            margin-bottom: -30px;
            z-index: 99999;
            margin-bottom: -30px;
            span:before {
                top: -8px;
                background-color: $black;
            }
            span:after {
                bottom: -8px;
                background-color: $black;
            }
        }
        
        .navicon {
            position: relative;
            height: 26px;
        }
        
        .navbar-toggle .icon-bar {
            background-color: $black !important;
            width: 36px;
        }
        
        .navbar-toggle .icon-bar+.icon-bar {
            margin-top: 6px;
        }
        
        .navbar-toggle {
            padding: 0 !important;
            margin: 0 !important;
        }
        
        .flex-contain {
            display: table;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .flex-contain-footer {
            display: table;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .flex-contain-footer > div {
            align-self: flex-end;
        }
        
        .relative {
            position: relative;
        }
        
        .bottom-copy {
            position: absolute;
            bottom: 0;
        }
        
        .hero {
            background: url('../images/header-3-bg.jpg') no-repeat center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            // padding: 50px 0 160px 0;
            // border: white 10px solid;
            min-height: 600px;
            h1 {
                font-weight: 600;
                color: $white;
                text-transform: none;
                font-size: 28px;
            }
            p {
                color: $white;
                font-size: 16px;
                line-height: 24px;
            }
            .lead {
                font-weight: 600;
                color: #723147;
            }
        }
        
        #header-3 #nav-toggle span,
        #header-3 #nav-toggle span:before,
        #header-3 #nav-toggle span:after {
            cursor: pointer;
            border-radius: 0;
            -moz-border-radius: 0;
            -webkit-border-radius: 0;
            -o-border-radius: 0;
            height: 3px;
            width: 35px;
            background: $black;
            position: absolute;
            display: block;
            content: '';
        }
        
        #header-3 #nav-toggle span:before {
            top: -8px;
        }
        
        #header-3 #nav-toggle span:after {
            bottom: -8px;
        }
        
        #header-3 #nav-toggle span,
        #header-3 #nav-toggle span:before,
        #header-3 #nav-toggle span:after {
            transition: all 500ms ease-in-out;
            -webkit-transition: all 500ms ease-in-out;
            -moz-transition: all 500ms ease-in-out;
            -o-transition: all 500ms ease-in-out;
        }
        
        #header-3 #nav-toggle.active span {
            background-color: transparent;
        }
        
        #header-3 #nav-toggle.active span:before,
        #header-3 #nav-toggle.active span:after {
            top: 0;
        }
        
        #header-3 #nav-toggle.active span:before {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
        }
        
        #header-3 #nav-toggle.active span:after {
            transform: translateY(-10px) rotate(-45deg);
            -webkit-transform: translateY(-10px) rotate(-45deg);
            -ms-transform: translateY(-10px) rotate(-45deg);
            top: 10px;
        }
        
        #header-3 {
            .indicator {
                padding-left: 20px;
            }
            .pull {
                display: none;
            }
            .top-nav {
                h3 {
                    color: $black;
                }
                li {
                    display: block;
                    text-transform: uppercase;
                    margin: 20px 0;
                    a {
                        font-size: 13px;
                    }
                }
            }
        }
        /*	MAP
/*----------------------------------------------------*/
        
        #content-map {
            border-top: 1px solid $brown;
            .the-map {
                padding-top: 30px;
            }
        }
        /*	CTA BAR
/*----------------------------------------------------*/
        
        .cta-bar {
            margin-top: 20px;
            margin-bottom: 20px;
            .border-box {
                border-top: 1px solid $brown;
                border-bottom: 1px solid $brown;
                padding: 20px 0;
                background-color: #fcfbfa;
                h2 {
                    margin-top: 9px;
                    margin-bottom: 0;
                }
                .pull-left {
                    text-align: center
                }
            }
            .border-box-nopad {
                border-top: 1px solid $brown;
                border-bottom: 1px solid $brown;
                padding: 0;
                background-color: #fcfbfa;
                h2 {
                    margin-top: 9px;
                    margin-bottom: 0;
                }
                p {
                    color: $red;
                    font-size: 16px;
                    font-style: italic;
                    line-height: 28px;
                    font-weight: 600;
                }
                .pull-left {
                    text-align: center
                }
            }
        }
        /*	CONTENT BLOCK 1-5
/*----------------------------------------------------*/
        
        .content-1-5 {
            margin-bottom: 40px;
            h2 {
                color: $black;
                // margin-top: 60px;
            }
            .space-drawing {
                margin-top: 20px;
                p {
                    margin: 0;
                }
            }
            img {
                margin: 30px auto 0 auto;
            }
        }
        
        .content-1-5-no-margin {
            margin-bottom: 0px;
            h2 {
                color: $black;
                // margin-top: 60px;
            }
            .space-drawing {
                margin-top: 20px;
                p {
                    margin: 0;
                }
            }
            img {
                margin: 30px auto 0 auto;
            }
        }
        /*	CONTENT BLOCK 2-9
/*----------------------------------------------------*/
        
        .content-2-9 {
            min-height: 260px;
            position: relative;
            .project {
                height: 260px;
                overflow: hidden;
                position: relative;
                padding: 0;
                img {
                    width: 100%;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    -webkit-transform: translateY(-50%) translateX(-50%);
                    transform: translateY(-50%) translateX(-50%);
                    -moz-transform: translateY(-50%) translateX(-50%);
                    -o-transform: translateY(-50%) translateX(-50%);
                }
            }
            .background-image-holder1 {
                position: absolute;
                bottom: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                background-size: cover !important;
                z-index: 0;
                background-position: bottom center !important;
            }
            .background-image-holder2 {
                position: absolute;
                bottom: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                background-size: cover !important;
                z-index: 0;
                background-position: top center !important;
            }
            .background-image-holder4 {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                background-size: cover !important;
                z-index: 0;
                background-position: 50% 50% !important;
            }
            hr {
                width: 80%;
                border-color: rgba(227, 220, 205, .3)
            }
        }
        
        .content-2-9 .project .hover-state {
            position: absolute;
            display: table;
            width: 100%;
            height: 100%;
            top: 0px;
            background-color: rgba(0, 0, 19, 0.6);
            text-align: center;
            -webkit-transition: all .5s ease;
            -moz-transition: all .5s ease;
            transition: all .5s ease;
            opacity: 0;
            padding: 0 25px;
        }
        
        .content-2-9 .project:hover .hover-state {
            opacity: 1;
        }
        
        .content-2-9 .project .hover-state h3 {
            color: #fff;
            margin-top: 40px;
            margin-bottom: 8px;
        }
        
        .content-2-9 .project .hover-state p {
            color: #fff;
        }
        
        .content-2-9 .project .hover-state .align-vertical {
            display: table-cell;
            vertical-align: middle;
            -webkit-transform: translate3d(0, 20px, 0);
            -moz-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0);
            -webkit-transition: all .5s ease;
            -moz-transition: all .5s ease;
            transition: all .5s ease;
            opacity: 0;
        }
        
        .content-2-9 .project:hover .align-vertical {
            -webkit-transform: translate3d(0, 0px, 0);
            -moz-transform: translate3d(0, 0px, 0);
            transform: translate3d(0, 0px, 0);
            opacity: 1;
        }
        /*	CONTACT 1
/*----------------------------------------------------*/
        
        .contact-1 {
            margin-top: 30px;
            padding-top: 45px;
            padding-bottom: 55px;
        }
        
        .contact-1 .contact-info {
            margin-top: 40px;
            padding: 0;
            list-style: none;
        }
        
        hr.middle-divider {
            margin-top: 50px;
        }
        
        .pre-qualify {
            width: auto;
            margin-left: 0;
            margin-top: 78px;
        }
        
        .contact-1 .contact-info span {
            margin-right: 7px;
            color: #1abc9c;
            padding-right: 5px;
        }
        
        #contact span.required {
            font-size: 13px;
            color: #ff0000;
        }
        
        #message {
            margin-bottom: 20px;
            padding: 0;
        }
        
        .error_message {
            display: block;
            background: #FBE3E4;
            padding: 10px 0;
            color: #8a1f11;
            border: 2px solid #FBC2C4;
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
        }
        
        .contact-list {
            margin-top: 0 0 10px 0;
            padding-left: 0;
            li {
                text-transform: uppercase;
                text-align: left;
                font-size: 14px;
                color: $black;
                font-family: "proxima-nova", Helvetica, Arial, sans-serif;
            }
        }
        /* FORM CONTROL */
        
        fieldset {
            border: 2px solid #ecf0f1;
            border-radius: 0;
            padding: 30px 50px;
        }
        
        fieldset legend {
            color: #333;
            padding: 5px 10px;
            border: 2px solid #ecf0f1;
            border-radius: 0;
        }
        
        .form-control {
            border: 1px solid $brown;
            color: $black;
            font-family: "kepler-std", times, serif;
            font-size: 14px;
            line-height: 1.467;
            padding: 8px 12px;
            height: 40px;
            -webkit-appearance: none;
            border-radius: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
            -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
            transition: border .25s linear, color .25s linear, background-color .25s linear;
        }
        
        .form-group {
            position: relative;
            margin-bottom: 20px;
        }
        
        .form-group.focus .form-control,
        .form-control:focus {
            border-color: $red;
            outline: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        
        .form-control[disabled],
        .form-control[readonly],
        fieldset[disabled] .form-control {
            background-color: #f4f6f6;
            border-color: #d5dbdb;
            color: #d5dbdb;
            cursor: default;
            opacity: 0.7;
            filter: alpha(opacity=70);
        }
        
        .form-control.form-minimal {
            border-color: transparent;
        }
        
        .form-control.form-minimal:hover {
            border-color: #bdc3c7;
        }
        
        .form-control.form-minimal:focus {
            border-color: #1abc9c;
        }
        
        .has-success .help-block,
        .has-success .control-label {
            color: #2ecc71;
        }
        
        .has-success .form-control {
            color: #2ecc71;
            border-color: #2ecc71;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        
        .has-success .form-control:-moz-placeholder {
            color: #2ecc71;
            opacity: 1;
        }
        
        .has-success .form-control::-moz-placeholder {
            color: #2ecc71;
            opacity: 1;
        }
        
        .has-success .form-control:-ms-input-placeholder {
            color: #2ecc71;
        }
        
        .has-success .form-control::-webkit-input-placeholder {
            color: #2ecc71;
        }
        
        .has-success .form-control.placeholder {
            color: #2ecc71;
        }
        
        .has-success .form-control:focus {
            border-color: #2ecc71;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        
        .has-success .input-group-addon {
            color: #2ecc71;
            border-color: #2ecc71;
            background-color: #ffffff;
        }
        
        .has-warning .help-block,
        .has-warning .control-label {
            color: #f1c40f;
        }
        
        .has-warning .form-control {
            color: #f1c40f;
            border-color: #f1c40f;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        
        .has-warning .form-control:-moz-placeholder {
            color: #f1c40f;
            opacity: 1;
        }
        
        .has-warning .form-control::-moz-placeholder {
            color: #f1c40f;
            opacity: 1;
        }
        
        .has-warning .form-control:-ms-input-placeholder {
            color: #f1c40f;
        }
        
        .has-warning .form-control::-webkit-input-placeholder {
            color: #f1c40f;
        }
        
        .has-warning .form-control.placeholder {
            color: #f1c40f;
        }
        
        .has-warning .form-control:focus {
            border-color: #f1c40f;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        
        .has-warning .input-group-addon {
            color: #f1c40f;
            border-color: #f1c40f;
            background-color: #ffffff;
        }
        
        .has-error .help-block,
        .has-error .control-label {
            color: #e74c3c;
        }
        
        .has-error .form-control {
            color: #e74c3c;
            border-color: #e74c3c;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        
        .has-error .form-control:-moz-placeholder {
            color: #e74c3c;
            opacity: 1;
        }
        
        .has-error .form-control::-moz-placeholder {
            color: #e74c3c;
            opacity: 1;
        }
        
        .has-error .form-control:-ms-input-placeholder {
            color: #e74c3c;
        }
        
        .has-error .form-control::-webkit-input-placeholder {
            color: #e74c3c;
        }
        
        .has-error .form-control.placeholder {
            color: #e74c3c;
        }
        
        .has-error .form-control:focus {
            border-color: #e74c3c;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        
        .has-error .input-group-addon {
            color: #e74c3c;
            border-color: #e74c3c;
            background-color: #ffffff;
        }
        /* FORM - INPUT ICON */
        
        .form-control + .input-icon {
            position: absolute;
            top: 2px;
            right: 2px;
            line-height: 37px;
            vertical-align: middle;
            font-size: 16px;
            color: #b2bcc5;
            background-color: #ffffff;
            padding: 0 12px 0 0;
            border-radius: 0;
        }
        
        .input-hg + .input-icon {
            line-height: 49px;
            padding: 0 16px 0 0;
        }
        
        .input-lg + .input-icon {
            line-height: 41px;
            padding: 0 15px 0 0;
        }
        
        .input-sm + .input-icon {
            font-size: 18px;
            line-height: 30px;
            padding: 0 10px 0 0;
        }
        /* FORM - INPUT GROUP */
        
        .input-group .input-group-btn .btn {
            margin: 0;
            box-shadow: none;
        }
        /*	FOOTER
/*----------------------------------------------------*/
        
        .copyright-bar {
            padding-top: 0px;
            margin-bottom: 75px;
            position: relative;
            bottom: 0;
            color: $red;
            text-transform: uppercase;
            p {
                color: $red;
                margin: 0;
            }
            .footer-tel {
                text-align: center;
                margin-bottom: 30px;
            }
            .footer-logo {
                text-align: center;
            }
            .footer-soon {
                text-align: center;
                margin-top: 30px;
            }
        }
        /*	MEDIA QUERIES
/*----------------------------------------------------*/
        /* Small Devices, Tablets */
        
        @media (max-width:480px) {
            .pad45 {
                padding-top: 15px;
            }
        }
        
        @media (max-width:760px) {
            #header-3 {
                nav {
                    ul {
                        list-style: none;
                        padding: 0;
                        li {
                            display: block !important;
                            transition: all 0.5s ease;
                            -moz-transition: all 0.5s ease;
                            -webkit-transition: all 0.5s ease;
                            -o-transition: all 0.5s ease;
                            padding-left: 0;
                            position: relative;
                            &:last-child {
                                border: none;
                            }
                        }
                    }
                }
                .main-logo {
                    margin-bottom: 0px !important;
                    margin-top: 10p !important;
                }
                .navbar {
                    min-height: 0px !important;
                }
            }
            .cta-bar {
                .border-box {
                    h2 {
                        margin-top: 26px;
                    }
                    .pull-left {
                        text-align: left;
                    }
                }
            }
            .content-2-9 {
                min-height: 520px;
            }
            .pre-qualify {
                width: 80%;
                margin-left: 10%;
            }
            .contact-1 {
                margin-top: 10px;
                padding-top: 15px;
                padding-bottom: 55px;
            }
            .content-block {
                padding: 10px 0 10px 0;
            }
            .logo-estate {
                img {
                    width: 50%;
                    display: block;
                }
            }
            .space-drawing {
                p {
                    margin-top: 8px !important;
                }
            }
            .estate-entry {
                margin-bottom: 45px;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .element-spacing-top {
                padding-top: 10px;
            }
            .contact-list {
                li {
                    text-align: center;
                }
            }
            .contact-h3 {
                text-transform: none;
                text-align: center;
            }
            .flex-contain-footer {
                display: block;
                text-align: center;
            }
            .flex-contain-footer > div {
                margin: 10px 0;
                text-align: center;
            }
            .equal-housing {
                display: block;
                text-align: center;
            }
            .marg-top30 {
                margin-top: 20px;
            }
            .marg-top50 {
                margin-top: 0;
            }
            .pad30-bottom {
                padding-bottom: 0;
            }
        }
        
        @media only screen and (min-width: 768px) {
            #header-3 {
                .active {
                    color: $red;
                }
            }
            .hero {
                // padding: 50px 0 200px 0;
            }
        }
        /* Medium Devices, Desktops */
        
        @media only screen and (min-width: 992px) {
            #header-3 {
                .hero {
                    // padding: 50px 0 300px 0;
                }
            }
            .content-1-5 img {
                margin: 0;
            }
            .content-2-9 {
                min-height: 260px;
            }
            .pre-qualify {
                width: 60%;
                margin-left: 20%;
            }
            .copyright-bar {
                .footer-tel {
                    text-align: left;
                    margin-bottom: 0;
                }
                .footer-logo {
                    text-align: center;
                }
                .footer-soon {
                    text-align: right;
                    margin-top: 0;
                }
            }
        }
        /* Large Devices, Wide Screens */
        
        @media only screen and (min-width: 1200px) {
            #header-3 {
                .hero {
                    // padding: 50px 0 400px 0;
                }
            }
            .content-2-9 {
                min-height: 360px;
                position: relative;
                .project {
                    height: 360px;
                }
            }
        }
        /* X-Large Devices, Wide Screens */
        
        @media only screen and (min-width: 1900px) {
            #header-3 {
                .hero {
                    // padding: 50px 0 460px 0;
                }
            }
        }