/*	GENERAL RULES
/*----------------------------------------------------*/
/* line 32, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
body {
  color: #000013;
  background: #ffffff;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* CONTENT BLOCK HOLDERS */
/* line 42, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.content-block {
  width: 100%;
  padding: 60px 0 60px 0;
  z-index: 100;
  position: relative;
  background-color: #ffffff; }

/* line 50, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.content-block-halfpad {
  width: 100%;
  padding: 30px 0 30px 0;
  z-index: 100;
  position: relative;
  background-color: #ffffff; }

/* line 58, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.content-block-nopad {
  width: 100%;
  z-index: 100;
  position: relative;
  background-color: #ffffff; }

/* PADDING, MARGIN & ALIGNMENT */
/* line 66, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.pad5 {
  padding-top: 5px; }

/* line 70, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.pad10 {
  padding-top: 10px; }

/* line 74, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.pad15 {
  padding-top: 15px; }

/* line 78, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.pad25 {
  padding-top: 25px; }

/* line 82, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.pad30 {
  padding-top: 30px; }

/* line 86, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.pad45 {
  padding-top: 45px; }

/* line 90, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.pad60 {
  padding-top: 60px; }

/* line 94, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.pad75 {
  padding-top: 75px; }

/* line 98, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.pad90 {
  padding-top: 90px; }

/* line 102, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.pad5-bottom {
  padding-bottom: 5px; }

/* line 106, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.pad10-bottom {
  padding-bottom: 10px; }

/* line 110, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.pad15-bottom {
  padding-bottom: 15px; }

/* line 114, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.pad25-bottom {
  padding-bottom: 25px; }

/* line 118, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.pad30-bottom {
  padding-bottom: 30px; }

/* line 122, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.pad45-bottom {
  padding-bottom: 45px; }

/* line 126, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.pad60-bottom {
  padding-bottom: 60px; }

/* line 130, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.pad75-bottom {
  padding-bottom: 75px; }

/* line 134, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.pad90-bottom {
  padding-bottom: 90px; }

/* line 138, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.element-spacing-top {
  padding-top: 60px; }

/* line 142, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.min-height-100px {
  min-height: 100px; }

/* line 146, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.min-height-200px {
  min-height: 200px; }

/* line 150, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.min-height-300px {
  min-height: 300px; }

/* line 154, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.min-height-400px {
  min-height: 400px; }

/* line 158, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.min-height-500px {
  min-height: 500px; }

/* line 162, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.min-height-600px {
  min-height: 600px; }

/* line 166, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.min-height-700px {
  min-height: 700px; }

/* line 170, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.min-height-800px {
  min-height: 800px; }

/* line 174, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.marg-top30 {
  margin-top: 30px; }

/* line 178, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.marg-top50 {
  margin-top: 50px; }

/* line 182, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.marg-bottom5 {
  margin-bottom: 5px; }

/* line 186, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.marg-left5 {
  margin-left: 5px; }

/* line 190, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.marg-right5 {
  margin-right: 5px; }

/* line 194, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.but_marg {
  margin-left: 3px; }

/* line 198, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.v-center {
  display: inline-block;
  vertical-align: middle;
  float: none; }

/** TYPOGRAPHY **/
/* line 210, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
h1,
h2,
h3,
.h1,
.h2,
.h3 {
  font-family: "kepler-std", Times, serif;
  text-transform: none;
  line-height: 1.1; }

/* line 216, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.contact-h3 {
  text-transform: none; }

/* line 225, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
h1 small,
h2 small,
h3 small,
.h1 small,
.h2 small,
.h3 small {
  color: #000013; }

/* line 231, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
h1,
h2,
h3 {
  margin-bottom: 20px;
  font-weight: 300; }

/* line 236, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.headers-kepler {
  font-family: "kepler-std", Times, serif;
  text-transform: none; }

/* line 241, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.h2-headers-pages {
  font-size: 28px; }

/* line 245, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.h2-content-blocks {
  font-size: 23px; }

/* line 250, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
h1,
.h1 {
  font-size: 18px; }

/* line 255, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
h2,
.h2 {
  font-size: 23px; }

/* line 260, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
h3,
.h3 {
  font-size: 18px; }

/* line 264, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
h4.qualify a {
  font-family: "kepler-std", Times, serif !important;
  text-transform: none !important; }

/* line 269, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
h4.qualify a:hover {
  text-decoration: underline !important;
  color: #a33a21 !important; }

/* line 274, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
p {
  font-family: "kepler-std", Times, serif;
  font-size: 16px;
  line-height: 1.6;
  margin: 15px 0;
  color: #000013; }

/* line 282, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.margin-small {
  margin: 4px; }

/* line 286, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.margin-none {
  margin: 0px; }

/* line 290, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.lead {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 300; }

/* line 298, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
small,
.small {
  font-size: 80%;
  line-height: 2; }

/* line 303, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.no-pad {
  padding: 0;
  margin: 0;
  text-align: left; }

/* line 309, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.list-margin {
  margin-bottom: 18px; }

/* LINKS */
/* line 314, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
a {
  color: #a33a21; }

/* line 318, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
a:hover {
  color: #a33a21;
  text-decoration: underline;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

/* line 327, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.red-link {
  color: #000013;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif; }

/* line 336, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.red-arrow {
  color: #a33a21;
  padding-right: 8px;
  font-size: 16px; }

/* line 342, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.image-cross {
  font-size: 27px;
  color: #000013;
  margin-top: 20px; }

/* LISTS */
/* line 349, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
ol {
  position: relative;
  padding-left: 22px; }

/* line 354, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
ul {
  list-style: none;
  position: relative;
  padding-left: 22px; }

/* line 361, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
ul li,
ol li {
  font-family: "kepler-std", Times, serif;
  font-size: 14px;
  color: #515157;
  margin-bottom: 5px; }

/* line 368, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
ul.circle li:before {
  font-family: 'fontawesome';
  content: '\f10c';
  font-size: 12px;
  color: #16a085;
  padding-top: 2px;
  margin-left: -20px;
  position: absolute; }

/* line 378, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.property-details-list {
  margin-top: 10px; }
  /* line 380, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .property-details-list li {
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    color: #000013; }

/* TITLES */
/* line 390, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.underlined-title {
  text-align: center; }

/* line 394, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
hr {
  width: 100%;
  border-width: 1px;
  border-color: #e3dccd;
  margin-bottom: 2px; }

/* IMAGES */
/* line 402, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.full-width {
  width: 100%; }

/* line 406, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.estate-header-logo {
  max-width: 185px; }

/* line 410, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.inline-img {
  display: inline-block; }

/* Estate Lists */
/* line 415, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.estate-entry {
  font-weight: 300;
  font-size: 12px;
  text-align: left;
  margin-bottom: 80px; }
  /* line 420, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .estate-entry .content-estates {
    padding-left: 10px; }
  /* line 423, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .estate-entry hr {
    margin-top: 12px; }
  /* line 426, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .estate-entry img {
    width: 118px;
    height: 118px; }
  /* line 430, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .estate-entry p {
    margin: 14px 0;
    font-size: 12px;
    font-family: "proxima-nova", Helvetica, Arial, sans-serif;
    min-height: 90px; }
  /* line 436, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .estate-entry .headline-estate {
    font-size: 23px;
    margin: 16px 0 8px 0; }
  /* line 440, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .estate-entry .link-estate {
    font-weight: 600;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000013; }
    /* line 446, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
    .estate-entry .link-estate:hover {
      text-decoration: underline;
      color: #a33a21; }

/* BUTTONS */
/* line 454, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.btn {
  color: #a33a21;
  background-color: transparent;
  padding: 10px 20px;
  margin: 15px 0;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-shadow: none;
  border: none;
  text-transform: uppercase;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border: 1px solid #a33a21; }
  /* line 470, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .btn:hover {
    background-color: #a33a21;
    border-color: #a33a21;
    color: #FFFFFF; }

/* line 477, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.btn-red {
  color: #FFFFFF;
  background-color: #a33a21;
  padding: 10px 20px;
  margin: 15px 0;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-shadow: none;
  border: none;
  text-transform: uppercase;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border: 1px solid #a33a21; }
  /* line 493, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .btn-red:hover {
    background-color: #FFFFFF;
    border-color: #a33a21;
    color: #a33a21;
    text-decoration: none; }

/* line 505, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
h1 .btn,
h2 .btn,
h3 .btn,
h4 .btn,
p .btn {
  margin-left: 15px; }

/* line 509, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.btn-block {
  display: inline-block; }

/*	HEADER 3
/*----------------------------------------------------*/
/* line 515, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
#header-3 {
  width: 100%; }
  /* line 517, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  #header-3 .header-tel {
    position: relative;
    text-transform: uppercase;
    color: #ffffff; }
    /* line 521, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
    #header-3 .header-tel a {
      color: #ffffff; }
      /* line 523, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
      #header-3 .header-tel a:hover {
        color: #ffffff; }
  /* line 528, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  #header-3 .header-logo {
    max-width: 100%;
    height: auto; }
  /* line 532, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  #header-3 .main-logo {
    margin-bottom: 50px;
    margin-top: 35px; }
  /* line 536, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  #header-3 .tel-mobile {
    margin-bottom: 6px;
    display: block;
    text-transform: uppercase;
    font-size: 12px; }
  /* line 542, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  #header-3 .navbar-nav {
    float: none; }
    /* line 544, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
    #header-3 .navbar-nav li {
      float: none;
      display: inline-block;
      margin: 0 35px; }
  /* line 551, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  #header-3 nav ul {
    list-style: none;
    padding: 0; }
    /* line 554, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
    #header-3 nav ul li {
      display: inline-block;
      transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      padding-left: 0;
      position: relative; }
      /* line 562, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
      #header-3 nav ul li:last-child {
        border: none; }
      /* line 565, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
      #header-3 nav ul li a {
        font-family: "proxima-nova", Helvetica, Arial, sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        color: #000;
        padding: 10px 20px;
        transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        position: relative;
        font-size: 12px; }
        /* line 577, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
        #header-3 nav ul li a:hover {
          color: #a33a21;
          text-decoration: none;
          background: none; }
        /* line 582, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
        #header-3 nav ul li a:focus {
          text-decoration: none; }
        /* line 585, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
        #header-3 nav ul li a.nav-middle {
          margin-top: 0;
          margin-bottom: 0; }
      /* line 590, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
      #header-3 nav ul li .btn-red {
        color: #fff; }
  /* line 595, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  #header-3 nav .active a {
    color: #a33a21 !important; }

/* line 601, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
#nav-toggle {
  position: relative;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  margin-bottom: -30px;
  z-index: 99999;
  margin-bottom: -30px; }
  /* line 608, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  #nav-toggle span:before {
    top: -8px;
    background-color: #000013; }
  /* line 612, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  #nav-toggle span:after {
    bottom: -8px;
    background-color: #000013; }

/* line 618, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.navicon {
  position: relative;
  height: 26px; }

/* line 623, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.navbar-toggle .icon-bar {
  background-color: #000013 !important;
  width: 36px; }

/* line 628, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 6px; }

/* line 632, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.navbar-toggle {
  padding: 0 !important;
  margin: 0 !important; }

/* line 637, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.flex-contain {
  display: table;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center; }

/* line 648, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.flex-contain-footer {
  display: table;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center; }

/* line 659, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.flex-contain-footer > div {
  align-self: flex-end; }

/* line 663, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.relative {
  position: relative; }

/* line 667, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.bottom-copy {
  position: absolute;
  bottom: 0; }

/* line 672, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.hero {
  background: url("../images/header-3-bg.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 600px; }
  /* line 681, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .hero h1 {
    font-weight: 600;
    color: #fefefe;
    text-transform: none;
    font-size: 28px; }
  /* line 687, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .hero p {
    color: #fefefe;
    font-size: 16px;
    line-height: 24px; }
  /* line 692, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .hero .lead {
    font-weight: 600;
    color: #723147; }

/* line 700, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
#header-3 #nav-toggle span,
#header-3 #nav-toggle span:before,
#header-3 #nav-toggle span:after {
  cursor: pointer;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  height: 3px;
  width: 35px;
  background: #000013;
  position: absolute;
  display: block;
  content: ''; }

/* line 714, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
#header-3 #nav-toggle span:before {
  top: -8px; }

/* line 718, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
#header-3 #nav-toggle span:after {
  bottom: -8px; }

/* line 724, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
#header-3 #nav-toggle span,
#header-3 #nav-toggle span:before,
#header-3 #nav-toggle span:after {
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out; }

/* line 731, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
#header-3 #nav-toggle.active span {
  background-color: transparent; }

/* line 736, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
#header-3 #nav-toggle.active span:before,
#header-3 #nav-toggle.active span:after {
  top: 0; }

/* line 740, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
#header-3 #nav-toggle.active span:before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg); }

/* line 746, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
#header-3 #nav-toggle.active span:after {
  transform: translateY(-10px) rotate(-45deg);
  -webkit-transform: translateY(-10px) rotate(-45deg);
  -ms-transform: translateY(-10px) rotate(-45deg);
  top: 10px; }

/* line 754, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
#header-3 .indicator {
  padding-left: 20px; }

/* line 757, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
#header-3 .pull {
  display: none; }

/* line 761, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
#header-3 .top-nav h3 {
  color: #000013; }

/* line 764, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
#header-3 .top-nav li {
  display: block;
  text-transform: uppercase;
  margin: 20px 0; }
  /* line 768, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  #header-3 .top-nav li a {
    font-size: 13px; }

/*	MAP
/*----------------------------------------------------*/
/* line 777, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
#content-map {
  border-top: 1px solid #e3dccd; }
  /* line 779, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  #content-map .the-map {
    padding-top: 30px; }

/*	CTA BAR
/*----------------------------------------------------*/
/* line 786, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.cta-bar {
  margin-top: 20px;
  margin-bottom: 20px; }
  /* line 789, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .cta-bar .border-box {
    border-top: 1px solid #e3dccd;
    border-bottom: 1px solid #e3dccd;
    padding: 20px 0;
    background-color: #fcfbfa; }
    /* line 794, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
    .cta-bar .border-box h2 {
      margin-top: 9px;
      margin-bottom: 0; }
    /* line 798, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
    .cta-bar .border-box .pull-left {
      text-align: center; }
  /* line 802, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .cta-bar .border-box-nopad {
    border-top: 1px solid #e3dccd;
    border-bottom: 1px solid #e3dccd;
    padding: 0;
    background-color: #fcfbfa; }
    /* line 807, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
    .cta-bar .border-box-nopad h2 {
      margin-top: 9px;
      margin-bottom: 0; }
    /* line 811, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
    .cta-bar .border-box-nopad p {
      color: #a33a21;
      font-size: 16px;
      font-style: italic;
      line-height: 28px;
      font-weight: 600; }
    /* line 818, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
    .cta-bar .border-box-nopad .pull-left {
      text-align: center; }

/*	CONTENT BLOCK 1-5
/*----------------------------------------------------*/
/* line 826, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.content-1-5 {
  margin-bottom: 40px; }
  /* line 828, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .content-1-5 h2 {
    color: #000013; }
  /* line 832, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .content-1-5 .space-drawing {
    margin-top: 20px; }
    /* line 834, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
    .content-1-5 .space-drawing p {
      margin: 0; }
  /* line 838, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .content-1-5 img {
    margin: 30px auto 0 auto; }

/* line 843, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.content-1-5-no-margin {
  margin-bottom: 0px; }
  /* line 845, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .content-1-5-no-margin h2 {
    color: #000013; }
  /* line 849, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .content-1-5-no-margin .space-drawing {
    margin-top: 20px; }
    /* line 851, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
    .content-1-5-no-margin .space-drawing p {
      margin: 0; }
  /* line 855, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .content-1-5-no-margin img {
    margin: 30px auto 0 auto; }

/*	CONTENT BLOCK 2-9
/*----------------------------------------------------*/
/* line 862, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.content-2-9 {
  min-height: 260px;
  position: relative; }
  /* line 865, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .content-2-9 .project {
    height: 260px;
    overflow: hidden;
    position: relative;
    padding: 0; }
    /* line 870, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
    .content-2-9 .project img {
      width: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translateY(-50%) translateX(-50%);
      transform: translateY(-50%) translateX(-50%);
      -moz-transform: translateY(-50%) translateX(-50%);
      -o-transform: translateY(-50%) translateX(-50%); }
  /* line 881, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .content-2-9 .background-image-holder1 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: cover !important;
    z-index: 0;
    background-position: bottom center !important; }
  /* line 891, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .content-2-9 .background-image-holder2 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: cover !important;
    z-index: 0;
    background-position: top center !important; }
  /* line 901, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .content-2-9 .background-image-holder4 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: cover !important;
    z-index: 0;
    background-position: 50% 50% !important; }
  /* line 911, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .content-2-9 hr {
    width: 80%;
    border-color: rgba(227, 220, 205, 0.3); }

/* line 917, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.content-2-9 .project .hover-state {
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
  top: 0px;
  background-color: rgba(0, 0, 19, 0.6);
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
  padding: 0 25px; }

/* line 932, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.content-2-9 .project:hover .hover-state {
  opacity: 1; }

/* line 936, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.content-2-9 .project .hover-state h3 {
  color: #fff;
  margin-top: 40px;
  margin-bottom: 8px; }

/* line 942, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.content-2-9 .project .hover-state p {
  color: #fff; }

/* line 946, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.content-2-9 .project .hover-state .align-vertical {
  display: table-cell;
  vertical-align: middle;
  -webkit-transform: translate3d(0, 20px, 0);
  -moz-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0; }

/* line 958, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.content-2-9 .project:hover .align-vertical {
  -webkit-transform: translate3d(0, 0px, 0);
  -moz-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
  opacity: 1; }

/*	CONTACT 1
/*----------------------------------------------------*/
/* line 967, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.contact-1 {
  margin-top: 30px;
  padding-top: 45px;
  padding-bottom: 55px; }

/* line 973, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.contact-1 .contact-info {
  margin-top: 40px;
  padding: 0;
  list-style: none; }

/* line 979, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
hr.middle-divider {
  margin-top: 50px; }

/* line 983, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.pre-qualify {
  width: auto;
  margin-left: 0;
  margin-top: 78px; }

/* line 989, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.contact-1 .contact-info span {
  margin-right: 7px;
  color: #1abc9c;
  padding-right: 5px; }

/* line 995, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
#contact span.required {
  font-size: 13px;
  color: #ff0000; }

/* line 1000, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
#message {
  margin-bottom: 20px;
  padding: 0; }

/* line 1005, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.error_message {
  display: block;
  background: #FBE3E4;
  padding: 10px 0;
  color: #8a1f11;
  border: 2px solid #FBC2C4;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px; }

/* line 1016, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.contact-list {
  margin-top: 0 0 10px 0;
  padding-left: 0; }
  /* line 1019, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .contact-list li {
    text-transform: uppercase;
    text-align: left;
    font-size: 14px;
    color: #000013;
    font-family: "proxima-nova", Helvetica, Arial, sans-serif; }

/* FORM CONTROL */
/* line 1029, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
fieldset {
  border: 2px solid #ecf0f1;
  border-radius: 0;
  padding: 30px 50px; }

/* line 1035, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
fieldset legend {
  color: #333;
  padding: 5px 10px;
  border: 2px solid #ecf0f1;
  border-radius: 0; }

/* line 1042, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.form-control {
  border: 1px solid #e3dccd;
  color: #000013;
  font-family: "kepler-std", times, serif;
  font-size: 14px;
  line-height: 1.467;
  padding: 8px 12px;
  height: 40px;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear; }

/* line 1058, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.form-group {
  position: relative;
  margin-bottom: 20px; }

/* line 1064, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.form-group.focus .form-control,
.form-control:focus {
  border-color: #a33a21;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

/* line 1073, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #f4f6f6;
  border-color: #d5dbdb;
  color: #d5dbdb;
  cursor: default;
  opacity: 0.7;
  filter: alpha(opacity=70); }

/* line 1082, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.form-control.form-minimal {
  border-color: transparent; }

/* line 1086, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.form-control.form-minimal:hover {
  border-color: #bdc3c7; }

/* line 1090, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.form-control.form-minimal:focus {
  border-color: #1abc9c; }

/* line 1095, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.has-success .help-block,
.has-success .control-label {
  color: #2ecc71; }

/* line 1099, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.has-success .form-control {
  color: #2ecc71;
  border-color: #2ecc71;
  -webkit-box-shadow: none;
  box-shadow: none; }

/* line 1106, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.has-success .form-control:-moz-placeholder {
  color: #2ecc71;
  opacity: 1; }

/* line 1111, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.has-success .form-control::-moz-placeholder {
  color: #2ecc71;
  opacity: 1; }

/* line 1116, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.has-success .form-control:-ms-input-placeholder {
  color: #2ecc71; }

/* line 1120, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.has-success .form-control::-webkit-input-placeholder {
  color: #2ecc71; }

/* line 1124, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.has-success .form-control.placeholder {
  color: #2ecc71; }

/* line 1128, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.has-success .form-control:focus {
  border-color: #2ecc71;
  -webkit-box-shadow: none;
  box-shadow: none; }

/* line 1134, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.has-success .input-group-addon {
  color: #2ecc71;
  border-color: #2ecc71;
  background-color: #ffffff; }

/* line 1141, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.has-warning .help-block,
.has-warning .control-label {
  color: #f1c40f; }

/* line 1145, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.has-warning .form-control {
  color: #f1c40f;
  border-color: #f1c40f;
  -webkit-box-shadow: none;
  box-shadow: none; }

/* line 1152, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.has-warning .form-control:-moz-placeholder {
  color: #f1c40f;
  opacity: 1; }

/* line 1157, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.has-warning .form-control::-moz-placeholder {
  color: #f1c40f;
  opacity: 1; }

/* line 1162, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.has-warning .form-control:-ms-input-placeholder {
  color: #f1c40f; }

/* line 1166, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.has-warning .form-control::-webkit-input-placeholder {
  color: #f1c40f; }

/* line 1170, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.has-warning .form-control.placeholder {
  color: #f1c40f; }

/* line 1174, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.has-warning .form-control:focus {
  border-color: #f1c40f;
  -webkit-box-shadow: none;
  box-shadow: none; }

/* line 1180, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.has-warning .input-group-addon {
  color: #f1c40f;
  border-color: #f1c40f;
  background-color: #ffffff; }

/* line 1187, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.has-error .help-block,
.has-error .control-label {
  color: #e74c3c; }

/* line 1191, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.has-error .form-control {
  color: #e74c3c;
  border-color: #e74c3c;
  -webkit-box-shadow: none;
  box-shadow: none; }

/* line 1198, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.has-error .form-control:-moz-placeholder {
  color: #e74c3c;
  opacity: 1; }

/* line 1203, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.has-error .form-control::-moz-placeholder {
  color: #e74c3c;
  opacity: 1; }

/* line 1208, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.has-error .form-control:-ms-input-placeholder {
  color: #e74c3c; }

/* line 1212, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.has-error .form-control::-webkit-input-placeholder {
  color: #e74c3c; }

/* line 1216, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.has-error .form-control.placeholder {
  color: #e74c3c; }

/* line 1220, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.has-error .form-control:focus {
  border-color: #e74c3c;
  -webkit-box-shadow: none;
  box-shadow: none; }

/* line 1226, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.has-error .input-group-addon {
  color: #e74c3c;
  border-color: #e74c3c;
  background-color: #ffffff; }

/* FORM - INPUT ICON */
/* line 1233, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.form-control + .input-icon {
  position: absolute;
  top: 2px;
  right: 2px;
  line-height: 37px;
  vertical-align: middle;
  font-size: 16px;
  color: #b2bcc5;
  background-color: #ffffff;
  padding: 0 12px 0 0;
  border-radius: 0; }

/* line 1246, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.input-hg + .input-icon {
  line-height: 49px;
  padding: 0 16px 0 0; }

/* line 1251, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.input-lg + .input-icon {
  line-height: 41px;
  padding: 0 15px 0 0; }

/* line 1256, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.input-sm + .input-icon {
  font-size: 18px;
  line-height: 30px;
  padding: 0 10px 0 0; }

/* FORM - INPUT GROUP */
/* line 1263, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.input-group .input-group-btn .btn {
  margin: 0;
  box-shadow: none; }

/*	FOOTER
/*----------------------------------------------------*/
/* line 1270, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
.copyright-bar {
  padding-top: 0px;
  margin-bottom: 75px;
  position: relative;
  bottom: 0;
  color: #a33a21;
  text-transform: uppercase; }
  /* line 1277, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .copyright-bar p {
    color: #a33a21;
    margin: 0; }
  /* line 1281, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .copyright-bar .footer-tel {
    text-align: center;
    margin-bottom: 30px; }
  /* line 1285, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .copyright-bar .footer-logo {
    text-align: center; }
  /* line 1288, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .copyright-bar .footer-soon {
    text-align: center;
    margin-top: 30px; }

/*	MEDIA QUERIES
/*----------------------------------------------------*/
/* Small Devices, Tablets */
@media (max-width: 480px) {
  /* line 1298, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .pad45 {
    padding-top: 15px; } }

@media (max-width: 760px) {
  /* line 1306, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  #header-3 nav ul {
    list-style: none;
    padding: 0; }
    /* line 1309, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
    #header-3 nav ul li {
      display: block !important;
      transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      padding-left: 0;
      position: relative; }
      /* line 1317, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
      #header-3 nav ul li:last-child {
        border: none; }
  /* line 1323, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  #header-3 .main-logo {
    margin-bottom: 0px !important;
    margin-top: 10p !important; }
  /* line 1327, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  #header-3 .navbar {
    min-height: 0px !important; }
  /* line 1333, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .cta-bar .border-box h2 {
    margin-top: 26px; }
  /* line 1336, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .cta-bar .border-box .pull-left {
    text-align: left; }
  /* line 1341, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .content-2-9 {
    min-height: 520px; }
  /* line 1344, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .pre-qualify {
    width: 80%;
    margin-left: 10%; }
  /* line 1348, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .contact-1 {
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 55px; }
  /* line 1353, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .content-block {
    padding: 10px 0 10px 0; }
  /* line 1357, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .logo-estate img {
    width: 50%;
    display: block; }
  /* line 1363, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .space-drawing p {
    margin-top: 8px !important; }
  /* line 1367, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .estate-entry {
    margin-bottom: 45px; }
    /* line 1369, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
    .estate-entry img {
      width: 100%;
      height: auto; }
  /* line 1374, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .element-spacing-top {
    padding-top: 10px; }
  /* line 1378, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .contact-list li {
    text-align: center; }
  /* line 1382, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .contact-h3 {
    text-transform: none;
    text-align: center; }
  /* line 1386, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .flex-contain-footer {
    display: block;
    text-align: center; }
  /* line 1390, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .flex-contain-footer > div {
    margin: 10px 0;
    text-align: center; }
  /* line 1394, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .equal-housing {
    display: block;
    text-align: center; }
  /* line 1398, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .marg-top30 {
    margin-top: 20px; }
  /* line 1401, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .marg-top50 {
    margin-top: 0; }
  /* line 1404, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .pad30-bottom {
    padding-bottom: 0; } }

@media only screen and (min-width: 768px) {
  /* line 1411, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  #header-3 .active {
    color: #a33a21; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /* line 1427, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .content-1-5 img {
    margin: 0; }
  /* line 1430, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .content-2-9 {
    min-height: 260px; }
  /* line 1433, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .pre-qualify {
    width: 60%;
    margin-left: 20%; }
  /* line 1438, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .copyright-bar .footer-tel {
    text-align: left;
    margin-bottom: 0; }
  /* line 1442, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .copyright-bar .footer-logo {
    text-align: center; }
  /* line 1445, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .copyright-bar .footer-soon {
    text-align: right;
    margin-top: 0; } }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /* line 1459, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
  .content-2-9 {
    min-height: 360px;
    position: relative; }
    /* line 1462, /Users/carlosavilesbuitron/Documents/Websites/country-ridge.dev/wp-content/themes/countryridge/scss/custom-styles.scss */
    .content-2-9 .project {
      height: 360px; } }

/* X-Large Devices, Wide Screens */

/*# sourceMappingURL=custom-styles.css.map */
