/* ---------------------------------------------------------
	1. General reset
	2. Common site styles
		2a. Specific page styles
	3. Custom form styles
	4. Styles for responsive breakpoints
	 ---------------------------------------------------------*/
/* ---------------------------------------------------------
	2. General reset
	 ---------------------------------------------------------*/
html {
	margin: 0;
	height: 100%;
}
* { max-height: 100000px; }
/*
 * set min-width of body
 * set default line height
 */
body {
	margin: 0;
	line-height: 24px;
	min-width: 320px;
	height: 100%;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	font-family: "azo-sans-web",sans-serif;
}
input, textarea, select { outline: none; }
/* html5 tags reset */
header, footer, article, section, hgroup, nav, figure, main { display: block; }
figure {
	margin: 0;
	padding: 0;
}
/* set styles for default page links */
a:hover, a:active, a:focus {
	text-decoration: none;
	outline: none;
}
img { border-style: none; }
@-ms-viewport {width: device-width;}
@-webkit-viewport {width: device-width;}
@-moz-viewport {width: device-width;}
@-ms-viewport {width: device-width;}
@-o-viewport {width: device-width;}
@viewport {width: device-width;}
input[type="image"] {
	padding: 0;
	border: none;
}
input[type=file], textarea { -webkit-appearance: none; }
input[type="image"] {
	padding: 0;
	border: none;
}
input[type="reset"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner {
border:0;
}
input[type="reset"]:focus, input[type="submit"]:focus, input[type="button"]:focus { outline: none; }
input[type="checkbox"], input[type="password"], input[type="text"],input[type="email"],input[type="tel"], input[type="submit"], input[type="reset"] {
	-webkit-border-radius: 0;
	-webkit-appearance: none;
	border-radius: 0;
	box-shadow:none !important;
}
input[type="email"], input[type="search"] {
	-webkit-border-radius: 0;
	-webkit-appearance: none;
	border-radius: 0
}
input[type=search] { -webkit-box-sizing: content-box; }
input[type="search"]::-webkit-search-cancel-button {
-webkit-appearance: none;
}
/* ---------------------------------------------------------
	2. Сommon site styles
	 ---------------------------------------------------------*/

/* fonts */

h1,h2,h3,h4,h5,h6,input,select,textarea {
	font-family: 'Cinzel', serif;
}
p,a,strong,em,ul,ol,li {
	font-family: "azo-sans-web",sans-serif;
}

/* general styles */

.space-above {
	margin-top: 20px;
}
.space-below {
	margin-bottom: 20px;
}
.space-left {
	margin-left: 20px;
}
.space-right {
	margin-right: 20px;
}
.extra-space-above {
	margin-top: 40px;
}
.extra-space-below {
	margin-bottom: 40px;
}
.cinzel {
	font-family: 'Cinzel', serif !important;
}

/* buttons */

.btn-default:hover {
	color: #fff;
	background-color: #bba35d;
	border-color: #cec6a6;
}

.btn-primary:hover {
	color: #bba35d;
	background-color: #fff;
	border-color: #cec6a6;
}

.btn-sold {
	padding:4px 9px 3px 9px !important;
	opacity: 1 !important;
	font-family: 'Cinzel', serif !important;
}

/* loading gif */

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/loading.gif) 50% 50% no-repeat rgb(255,255,255);
}

/* main container styles */
#wrapper {
	overflow: hidden;
	width: 100%;
	position: relative;
	min-height: 100%;
	padding-top:45px;
}
.w1 { padding-bottom: 76px; }
/* header styles */
#header {
	background: #fff;
	position: fixed;
	z-index: 9999;
	height: 45px;
	width:100%;
}
/* page logo styles */
.logo {
	padding: 15px 0;
	float: left;
	width: 178px;
	height: auto;
}
.home .logo {
	background: #fff;
	width: 189px;
	height: auto;
	padding: 12px 20px 19px;
}
/* main navigation styles */
.navbar-nav {
	max-width:73%;
	float: right;
	padding: 14px 0 0;
	font-variant: small-caps;
	font-size: 15px;
}
.navbar-nav > li { padding: 0 0 11px 43px; }
.navbar-nav > li > a { position: relative; }
.navbar-nav > li.open > a:after {
	position: absolute;
	content: "";
	left: 50%;
	margin: 0 0 0 -5px;
	bottom: -6px;
	background: url(../images/sprite.png) no-repeat -1px -1px;
	width: 9px;
	height: 5px;
}
.navbar-nav li.open a { color: #bba35d; }
/* dropdown styles */
.dropdown-menu {
	line-height: 20px;
	-webkit-box-shadow: inset 0 2px 1px 0 #e3e4e4;
	box-shadow: inset 0 2px 1px 0 #e3e4e4;
	min-width: inherit;
	width: 545px;
	padding: 15px 0 2px 37px;
	left: -192px;
	font-variant: normal;
	letter-spacing: -4px;
	z-index: 9999;
	font-family: Arial, Helvetica, sans-serif;
}
@media (min-width:769px) {
	.dropdown-menu.half {
		width:185px;
		left: -36px;
	}
	.dropdown-menu.half li {
		width:100% !important;
	}
}
.navbar-nav > li > .dropdown-menu > li {
	display: inline-block;
	vertical-align: top;
	letter-spacing: 0;
	width: 50%;
	padding: 0 2% 22px 0;
}
/* dropdown title */
.dropdown-menu .title {
	display: inline-block;
	vertical-align: top;
	margin: 0 0 7px;
	position: relative;
	color: #bbb399;
}
.dropdown-menu .title:after {
	position: absolute;
	content: "";
	left: 0;
	bottom: 2px;
	right: 0;
	width: auto;
	height: 1px;
	background: #cbc6b3;
}
.navbar-nav > li > .dropdown-menu > li ul { font-style: italic; }
.navbar-nav > li > .dropdown-menu > li ul li a{color: #8c7c3d;font-weight: 300;font-size: 13px;}
.navbar-nav > li > .dropdown-menu > li ul li a:hover{color:#bba35d;}
/* main slider */
.slider {
	margin-top: -112px;
	margin-bottom: 37px;
	float: left;
	width: 100%;
	position: relative;
}
.slider:after {
	content: '';
	display: block;
	clear: both;
}
.slider img {
	width: 100%;
	height: auto;
}
/* info caption */
.info-caption {
	position: absolute;
	left: 0;
	right: 0;
	top: 55px;
	z-index: 99;
}
/* carousel-caption */
.slider .carousel-caption {
	left: 0;
	right: 0;
	width: 100%;
	bottom: 39px;
	z-index: 99;
}
.slider .carousel-caption .link {
	color: #fff;
	display: inline-block;
	vertical-align: top;
	padding: 0 14px 0 0;
	margin: 0 5px 0 0;
	position: relative;
}
.slider .carousel-caption .link:after {
	position: absolute;
	content: "";
	right: 0;
	top: 7px;
	background: url(../images/sprite.png) no-repeat -50px -2px;
	width: 6px;
	height: 10px;
}
.slider .carousel-caption .link:hover:after { background-position: -59px -2px; }
.slider .carousel-caption a:hover { color: #bba35d; }

/* home page carousel specific styles */
#vdm-carousel .carousel-caption a {
	color: #fff;
	display: inline-block;
	vertical-align: top;
	padding: 0;
	margin: 0;
	position: relative;
	text-decoration: underline;
}
#vdm-carousel .carousel-caption p:after {
	position: absolute;
	content: "";
	right: 40px;
	top: 72px;
	background: url(../images/sprite.png) no-repeat -50px -2px;
	width: 6px;
	height: 10px;
}
#vdm-carousel .carousel-caption a:hover { color: #fff; }


/* partial view galleries */
.slide.gallery1 {
	width:1190px;
	max-width: 100%;
	margin-bottom: -20px;
}
.gallery .mask {
	width: 100%;
	margin: 0 auto;
}
.gallery1 .mask {
	width: 100%;
	margin: 0 auto;
}
.gallery1 .mask .slideset,
.gallery .mask .slideset{
	float: left;
}
.gallery .mask .slideset .item{
	float: left;
	position: relative;
}
.gallery1 .mask .slideset .item{
	float: left;
	position: relative;
}
@media (min-width:480px) {
	.gallery1 .mask .slideset .item .carousel-caption  {
		visibility: hidden;
		opacity: 0;
		transition: opacity .3s ease-out;
	}
	.gallery1 .mask .slideset .item.active .carousel-caption  {
		visibility: visible;
		opacity: 1;
		transition: opacity .3s ease-in;
	}
}
.gallery1 .mask .slideset img{
	padding: 0 10px;
}
.gallery1 .carousel-indicators {
	/* padding: 32% 0 0 !important; */
}
.home .gallery1 .carousel-indicators {
	padding: 50% 0 0 !important;
}

@media (max-width:500px) {
	.home .gallery1 .carousel-indicators {
		padding: 72% 0 0 !important;
	}
}
@media (min-width:501px) and (max-width:767px) {
	.home .gallery1 .carousel-indicators {
		padding: 64% 0 0 !important;
	}
}
@media (min-width:992px) {
	.gallery1 .next, .gallery1 .prev {
		position: absolute;
		height:640px;
		top:82px;
		width:300px;
	}
	.gallery1 .next {
		right:0px;
	}
	.gallery1 .prev {
		left:0px;
	}
	.gallery1 .carousel-indicators {
		/* padding: 42% 0 0 !important; */
	}
	.home .gallery1 .carousel-indicators {
		padding: 52% 0 0 !important;
	}
}
@media (min-width:1200px) {
	.home .gallery1 .carousel-indicators {
		padding: 50% 0 0 !important;
	}
}
@media (min-width:1500px) {
	.home .gallery1 .carousel-indicators {
		padding: 36% 0 0 !important;
	}
}
@media (min-width:768px) {
	.gallery1 #property-nav.next, .gallery1 #property-nav.prev {
		position: absolute;
		height: auto;
		width: auto;
		top: 10%;
		font-size: 30px;
		font-weight: 200;
	}
	.gallery1 #property-nav.next {
		right:20px;
	}
	.gallery1 #property-nav.prev {
		left:20px;
	}
}
@media (max-width:768px) {
	.gallery1 #property-nav.next, .gallery1 #property-nav.prev {
		display: none;
	}
}

/* carousel-indicators */
.slider .carousel-indicators {
	margin-bottom: 0;
	bottom: 5px;
	margin-left: -31.5%;
}
.slider .carousel-indicators li { margin: 1px 4px; }
.slider .carousel-indicators li:hover, .slider .carousel-indicators li.active {
	margin: 0 3px;
	width: 12px;
	height: 12px;
	background-color: #fff;
}
/* caption-text */
.slider .caption-text {
	padding: 0 39px 0 0;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}
.slider .carousel-caption h2 {
	color: #fff;
	margin-bottom: 4px;
}
.slider .carousel-caption .title {
	position: relative;
	display: inline-block;
	vertical-align: top;
}
.slider .carousel-caption .title:after {
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	bottom: 2px;
	background: #fff;
	width: auto;
	height: 1px;
}
.info-caption .temp {
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding: 0 25px 0 0;
	color: #fff;
	line-height: 24px;
}
.info-caption .temp:after {
	position: absolute;
	content: "";
	right: 0;
	top: 0;
	background: url(../images/sprite.png) no-repeat -2px -10px;
	width: 20px;
	height: 23px;
}
/* content */
.content {
	color: #8c7c3d;
	font: 14px/26px Arial, Helvetica, sans-serif;
}
.content p:first-letter { font: 30px/30px Georgia, "Times New Roman", Times, serif; }
/* aside link */
.aside-link {
	font-family: 'Cinzel', serif !important;
	white-space: normal;
	margin: 13px 0 0 5px;
	display: block;
	font-size: 21px;
	line-height: 24px;
	padding: 19px 10px;
}
.aside-link span { display: block; }
/* col-area */
.col-area {
	position: relative;
	padding-bottom: 20px;
}
.home .col-area {
	margin-bottom: 80px;
}
.col-area:before {
	position: absolute;
	content: "";
	left: 50%;
	bottom: 0;
	background: #cec6a6;
	width: 155px;
	height: 1px;
	margin: 0 0 0 -77px;
	z-index: 99;
}
/* img-holder */
.feature-section .img-holder {
	position: relative;
	margin: 0 0 40px;
}
.feature-section .img-holder.alignright { float: right; }
.feature-section .img-holder.add .caption {
	top: auto;
	bottom: 28px;
}
/* sub-head */
.sub-head {
	font: 18px/20px "azo-sans-web",sans-serif;
	display: block;
	margin: 0 0 9px;
}
.feature-section a, .feature-section .link-holder { overflow: hidden; }
.feature-section a, .feature-section .link {
	color: #fff;
	float: left;
	text-decoration: none;
	line-height: 16px;
}
.feature-section .link {
	position: relative;
	padding: 0 0 0 0;
	text-decoration:underline;
}
.feature-section .link:after {
	content: "";
	display:inline-block;
	vertical-align:middle;
	background: url(../images/sprite.png) no-repeat -31px -2px;
	width: 5px;
	height: 9px;
	margin:0 0 0 5px;
}
/* text */
.feature-section a:hover { text-decoration: none; }
.feature-section .link .text {
	display: block;
	position: relative;
	text-decoration: underline;

}
/* caption */
.feature-section .caption {
	position: absolute;
	left: 29px;
	right: 25px;
	top: 19px;
	color: #fff;
	z-index: 99;
}
.feature-section .caption h2 {
	color: #fff;
	margin: 0 0 -3px -5px;
	line-height: 46px;
	font-variant: small-caps;
}
/* feature-section */
.feature-section { margin-bottom: 20px; }
/* info-row */
.info-row {
	margin-bottom: 34px;
	position: relative;
	overflow: hidden;
}
.info-row .info-col:before, .info-row:before {
	position: absolute;
	content: "";
	right: 15px;
	top: 0;
	bottom: 0;
	height: 9999px;
	width: 1px;
	background: #cec6a6;
}
.info-row .info-col:before {
	left: 15px;
	right: auto;
}
/* info-col */
.info-row .info-col { position: relative; }
/* block */
.info-row .block {
	min-height: 100%;
	height: 100%;
	width: 100%;
	white-space: nowrap;
}
.info-row .block:after {
	content: '';
	display: inline-block;
	height: 100%;
	width: 1px;
	overflow: hidden;
	margin: 0 0 0 -5px;
	vertical-align: middle;
}
.info-row .block .holder {
	vertical-align: middle;
	display: inline-block;
	white-space: normal;
	padding: 15px 0 10px 5.4%;
}
.info-row h3 {
	word-spacing: -1px;
	font-size: 16px;
	margin: 0 0 15px;
	font-variant: small-caps;
}
/* btn-read */
.info-row .btn-read {
	color: #808083;
	position: relative;
	padding: 0 8px 0 0;
	display: inline-block;
	vertical-align: top;
	line-height: 18px;
}
.info-row .btn-read:hover{color:#bba35d;}
.info-row .btn-read:after {
	content: "";
	display:inline-block;
	vertical-align:middle;
	margin:0 0 2px 5px;
	background: url(../images/sprite.png) no-repeat -40px -2px;
	width: 5px;
	height: 8px;
}
/* feature-block */
.feature-block {
	position: relative;
}
.home .feature-block {
	padding-bottom: 33px;
	margin-bottom: 46px;
}
.home .feature-block:before {
	position: absolute;
	content: "";
	left: 50%;
	bottom: 0;
	width: 155px;
	height: 1px;
	margin: 0 0 0 -77px;
	background: #cec6a6;
}
.feature-block h2 {
	font-variant: small-caps;
	margin-bottom: 6px;
}
.page-no-image {
	padding-top:3%;
}
.page-no-image .col-area, .page-image .col-area {
	padding-bottom: 0px;
}
/* heading */
.feature-block .heading { margin-bottom: 27px; }
.feature-block img {
	width: 100%;
	height: auto;
	right: 0;
	left: 0;
	top: 0;
	position: absolute;
}

/* carousel-caption */
#carousel1 h2 {
	color:#fff;
}
.carousel-caption { text-shadow: none; }
.feature-block .carousel-caption {
	position: static !important;
	width: 100%;
	height: auto;
	padding: 45% 0 0;
	color: #808083;
	margin: 0;
	/*overflow: hidden;*/
}

/* single property carousel-caption */

.single .feature-block .carousel-caption, .tax-status .feature-block .carousel-caption {
	padding: 0;
	position: relative !important;
	left: 0;
	right: 0;
	top: -70px;
}
.single .feature-block img, .tax-status .feature-block img {
	position: relative;
}

.feature-block img {
	width: 100%;
	height: auto;
	right: 0;
	left: 0;
	top: 0;
	position: absolute;
}

.tax-neighborhood .feature-block .carousel-caption {padding:43% 0 0;}
.home .feature-block .carousel-caption { padding: 48% 0 0; }
.page.page-template-default .feature-block .carousel-caption { padding: 44% 0 0; }
.page.page-template-default .feature-block .carousel-caption h1 {margin-top:30px;}

@media (max-width:480px) {
	.single .feature-block .carousel-caption, .tax-status .feature-block .carousel-caption {
		top:0px;
	}
}

/* real estate landing page carousel-property-info */

.gallery1 .mask .slideset .item .carousel-property-info {
	visibility: hidden;
	opacity: 0;
	transition: opacity .3s ease-out;
}
.gallery1 .mask .slideset .item.active .carousel-property-info  {
	visibility: visible;
	opacity: 1;
	transition: opacity .3s ease-in;
	z-index: 99;
}
.gallery1 .carousel-property-info {
	position: absolute;
	right:115px;
	bottom:100px;
}
@media (max-width:480px) {
	.gallery1 .carousel-property-info {
		position: absolute;
		right:50px;
		bottom:30px;
	}
}
.gallery1 .carousel-property-info h2 {
	font-size: 18px !important;
	color:#fff !important;
	margin-top:0px;
}
.gallery1 .carousel-property-info h3 {
	font-size: 26px !important;
	color:#fff !important;
	margin-bottom: 5px;
}
.gallery1 .carousel-property-info a {
	text-decoration: underline;
	color:#fff !important;
}

/* textarea */
.feature-block .textarea {
	background: #fff;
	position: relative;
	margin: 0 5px;
	padding: 2px 10% 0;
}
.home .feature-block .textarea { padding: 2px 17% 0; }
.feature-block .textarea:after {
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	top: 100%;
	height: 5px;
	width: 100%;
	background: #fff;
}
/* header */
.feature-block .textarea .header {
	overflow: hidden;
	margin: 0 0 16px;
}
.feature-block .header h2 {
	margin-bottom: 10px;
	margin-top: 30px;
}
.home .feature-block .header h2 {
	margin-bottom: 10px;
	margin-top: 20px;
}
.feature-block .textarea .header em {
	display: block;
	color: #bba35d;
	font-size: 18px;
	line-height: 24px;
	font-style: italic;
}
/* carousel-indicators */
.feature-block .carousel-indicators {
	bottom: auto;
	top: -26px;
	z-index: 99;
	/* padding: 38% 0 0; */
	margin-left: -30%;
}
.feature-block .carousel-indicators li { margin: 1px 3px; }
.feature-block .carousel-indicators .active, .feature-block .carousel-indicators :hover {
	margin: 1px 2px;
	width: 12px;
	height: 12px;
	background-color: #fff;
}
/* form-section */
.form-section { margin-bottom: 60px; }
/* heading */
.form-section .heading {
	overflow: hidden;
	margin: 0 0 22px;
}
.form-section .heading h2 {
	font-variant: small-caps;
	margin-bottom: 7px;
}
/* form-control */
#mktoForm_1001, #mktoForm_1023 {
	font-family: 'Cinzel', serif !important;
	width:100% !important;
}
#mktoForm_1001 .mktoFieldWrap, #mktoForm_1023 .mktoFieldWrap {
	width:93% !important;
}
#mktoForm_1001 .mktoFormCol, #mktoForm_1023 .mktoFormCol {
	width:50% !important;
}
@media (max-width:480px) {
	#mktoForm_1001 .mktoFormCol, #mktoForm_1023 .mktoFormCol {
		width:100% !important;
	}
}
#mktoForm_1001 input, #mktoForm_1023 input {
	font-family: 'Cinzel', serif !important;
	box-shadow:none !important;
	border-radius:0;
	font-variant: small-caps;
	margin: 0 0 20px;
	font-size: 24px;
	line-height: 29px;
	padding: 25px 19px;
	display:block;
	width:100% !important;
	height:79px;
	color:#808083;
	background-color:#fff;
	background-image:none;
	border:1px solid #cec6a6;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-o-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#mktoForm_1001 textarea, #mktoForm_1023 textarea {
	padding: 25px 19px !important;
	font-size: 24px !important;
	font-family: 'Cinzel', serif !important;
	font-variant: small-caps;
	height: 178px !important;
	min-height: 178px !important;
	max-height: 178px !important;
	min-width: 100% !important;
	max-width: 100% !important;
	resize: none;
	color:#808083 !important;
	margin:20px 0 !important;
	border:1px solid #cec6a6;
}
#mktoForm_1001 button[type="submit"], #mktoForm_1023 button[type="submit"] {
	font-family: 'Cinzel', serif !important;
	font-size: 24px;
	line-height: 36px;
	padding: 10px 17px;
	color: #fff;
	background-color: #bba35d;
	border-color: #bba35d;
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	border-radius: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#mktoForm_1001 label, #mktoForm_1023 label {
	display:none;
}


/* net-results form */

.maFormElement  {
	font-family: 'Cinzel', serif !important;
	width:100% !important;
}
.maFormElement{
	width:93% !important;
}
.maFormElement {
	width:50% !important;
}

.formFull { width:100%;}

.maFormElement2 {
	width:100% !important;
}
@media (max-width:480px) {
	.maFormElement {
		width:100% !important;
	}
}
.maFormElement  input{
	font-family: 'Cinzel', serif !important;
	box-shadow:none !important;
	border-radius:0;
	font-variant: small-caps;
	margin: 0 0 20px;
	font-size: 24px;
	line-height: 29px;
	padding: 25px 19px;
	display:block;
	width:100% !important;
	height:79px;
	color:#808083;
	background-color:#fff;
	background-image:none;
	border:1px solid #cec6a6;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-o-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.maFormElement textarea{
	padding: 25px 19px !important;
	font-size: 24px !important;
	font-family: 'Cinzel', serif !important;
	font-variant: small-caps;
	height: 178px !important;
	min-height: 178px !important;
	max-height: 178px !important;
	min-width: 100% !important;
	max-width: 100% !important;
	resize: none;
	color:#808083 !important;
	margin:20px 0 !important;
	border:1px solid #cec6a6;
}
.maFormElement button[type="submit"] {
	font-family: 'Cinzel', serif !important;
	font-size: 24px;
	line-height: 36px;
	padding: 10px 17px;
	color: #fff;
	background-color: #bba35d;
	border-color: #bba35d;
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	border-radius: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.maFormElement label {
	display:none;
}




.maFormElement2  {
	font-family: 'Cinzel', serif !important;
	width:100% !important;
}
.maFormElement2{
	width:93% !important;
}


.maFormElement2 {
	width:100% !important;
}
@media (max-width:480px) {
	.maFormElement2 {
		width:100% !important;
	}
}
.maFormElement2  input{
	font-family: 'Cinzel', serif !important;
	box-shadow:none !important;
	border-radius:0;
	font-variant: small-caps;
	margin: 0 0 20px;
	font-size: 24px;
	line-height: 29px;
	padding: 25px 19px;
	display:block;
	width:100% !important;
	height:79px;
	color:#808083;
	background-color:#fff;
	background-image:none;
	border:1px solid #cec6a6;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-o-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.maFormElement2 textarea{
	padding: 25px 19px !important;
	font-size: 24px !important;
	font-family: 'Cinzel', serif !important;
	font-variant: small-caps;
	height: 178px !important;
	min-height: 178px !important;
	max-height: 178px !important;
	min-width: 100% !important;
	max-width: 100% !important;
	resize: none;
	color:#808083 !important;
	margin:20px 0 !important;
	border:1px solid #cec6a6;
}
.maFormElement2 button[type="submit"] {
	font-family: 'Cinzel', serif !important;
	font-size: 24px;
	line-height: 36px;
	padding: 10px 17px;
	color: #fff;
	background-color: #bba35d;
	border-color: #bba35d;
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	border-radius: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.maFormElement2 label {
	display:none;
}



/* footer */
#footer {
	position: relative;
	height: 76px;
	margin-top: -76px;
	padding-top: 11px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
/* tel */
#footer .tel {
	color: #808083;
	margin-top: 10px;
	font-size: 14px;
	line-height: 16px;
	display: inline-block;
	vertical-align: top;
}
#footer p {
  margin: 5px 0 5px;
  line-height: 16px;
}
#footer:before {
	position: absolute;
	content: "";
	left: 15px;
	right: 15px;
	top: 0;
	width: 98%;
	height: 1px;
	background: #cec6a6;
}
/* social-networks */
.social-networks {
	overflow: hidden;
	letter-spacing: -4px;
	margin: 18px 0 0;
	padding: 0;
}
.social-networks li {
	letter-spacing: 0;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
	margin: 0 24px 10px 0;
}
.social-networks li a {
	display: block;
	overflow: hidden;
	text-indent: -9999px;
	background: url(../images/sprite.png) no-repeat -2px -40px;
	width: 11px;
	height: 20px;
}
.social-networks li.twitter a {
	background-position: -38px -43px;
	width: 18px;
	height: 15px;
}
.social-networks li.instagram a {
	background-position: -81px -41px;
	width: 18px;
	height: 19px;
}
.social-networks li a:hover { opacity: 0.8; }
/* footer-logo */
.footer-logo {
	display: block;
	width: 153px;
	height: 58px;
	margin: 0 auto;
}
.footer-logo:hover img {
	opacity: 0.8;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
#footer a { color: #bba35d; }
#footer a:hover { color: #808083; }


/* -----------------------------
	2a. Page Specific Styling
	 ----------------------------*/

/* ------ Single Amenity Page -------- */

#related-post-list li {
	border-left: 1px solid #bba35d;
	padding-left: 20px;
}

/* ------ Status Taxonomy --------*/

/* subnav */

#real-estate-subnav .current-menu-item {
	text-decoration: underline;
}
#real-estate-subnav li:hover {
	text-decoration: underline;
}

/* grid */

.grid-item {
	min-height: 300px;
}
.grid-item h3 {
	margin-bottom: 5px;
}
.grid-item p {
	margin-bottom:0px;
}

/* ------ News ------*/

.news-image {
	margin-top: 20px;
	margin-right: 20px;
}
.news-row {
	padding-bottom: 20px;
	border-bottom: 1px solid #cec6a6;
}


/* ---------------------------------------------------------
	3. Custom form styles
	 ---------------------------------------------------------*/

::-webkit-input-placeholder { /* WebKit browsers */
    color:#808083;
    opacity:  1;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:#808083;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:#808083;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:#808083;
   opacity:  1;
}

/* custom select styles */
.fake-select {
	position: relative;
	display: inline-block;
	margin: 0 0 20px;
	width: 100%;
}
 select::-ms-expand {display: none;}
/* default select styles */
select {
	color:#808083 !important;
	border-radius:0;
	height: 79px;
	display: inline-block;
	border: 1px solid #cec6a6;
	padding: 24px 3px 24px 20px !important;
	font-variant: small-caps;
	margin: 0;
	font-size: 24px !important;
	outline: none;
	line-height: 31px;
	background: #fff;
	-webkit-appearance: none;
	appearance: none;
	width: 100% !important;
	position: relative;
}
.fake-select:before {
	content: "";
	position: absolute;
	top: 1px;
	right: 1px;
	bottom: 1px;
	width: 32px;
	background: #fff;
	pointer-events: none;
	z-index: 1;
}
.fake-select:after {
	position: absolute;
	right: 15px;
	content: '';
	top: 50%;
	background: url(../images/sprite.png) no-repeat -75px -3px;
	width: 11px;
	height: 6px;
	margin-top: -3px;
	z-index: 1;
}
/* feature-list */
.feature-list {
	margin: 0 -44px -20px 0;
	padding: 0;
	overflow: hidden;
	color: #808083;
	font-family: Arial, Helvetica, sans-serif;
}
.feature-list li {
	float: left;
	width: 25%;
	margin: 0 0 20px;
	position: relative;
}
/* feature-row */
.feature-row {
	margin-bottom: 11px;
	position: relative;
	overflow: hidden;
}
.feature-row:before, .feature-list li:before {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	background: #cec6a6;
	bottom: 0;
	width: 1px;
	height: 100%;
}
.feature-row:before {
	left: auto;
	right: 31.53%;
	height: 9999px;
}
.feature-list p { margin: 0 0 8px; }
.feature-list .title {
	display: block;
	font: small-caps 24px/30px Georgia, "Times New Roman", Times, serif;
	margin: 0 0 10px;
	text-transform: none;
	color: #bba35d;
}
/* block */
.feature-list .block {
	min-height: 100%;
	height: 100%;
	width: 100%;
	white-space: nowrap;
}
.feature-list .block:after {
	content: '';
	display: inline-block;
	height: 100%;
	width: 1px;
	overflow: hidden;
	margin: 0 0 0 -5px;
	vertical-align: middle;
}
.feature-list .block .holder {
	vertical-align: middle;
	display: inline-block;
	white-space: normal;
	padding: 5px 2% 5px 18%;
}
/* definition-list */
.feature-row dl {
	margin: 0;
	padding: 12px 20% 0 8.7%;
	width: 100%;
	float: right;
	font-family: "azo-sans-web",sans-serif;
	line-height: 18px;
}
.feature-row .dl-horizontal dt {
	text-align: left;
	font-weight: normal;
	white-space: normal;
	width: auto;
	margin: 0 5px 0 0;
}
.feature-row .dl-horizontal dd {
	margin: 0 0 8px;
	clear: right;
	overflow: hidden;
	line-height: 18px;
}
.feature-row .dl-horizontal dd span { display: block; }
.features-area h2 { font-variant: small-caps; }
.features-area { margin-bottom: 25px; }
.features-area:first-child { margin-bottom: 30px; }
/* list */
.features-area .list {
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 18px;
	margin: 0;
}
.features-area .list li {
	position: relative;
	padding: 0 0 6px 14px;
}
.features-area .list li:after {
	position: absolute;
	content: "";
	left: 0;
	top: 6px;
	background: url(../images/sprite.png) no-repeat -36px -21px;
	width: 7px;
	height: 6px;
}
.features-area .list li a {
	display: inline-block;
	vertical-align: top;
	position: relative;
	color: #808083;
}
.features-area .list li a:hover { color: #bba35d; }
.features-area .list li a:after {
	content: "";
	display:inline-block;
	vertical-align:middle;
	margin:0 0 2px 5px;
	background: url(../images/sprite.png) no-repeat -40px -2px;
	width: 5px;
	height: 8px;
}
/* widget */
.widget {
	width: 100%;
	margin: 0 0 2px;
	padding: 0 3px 0 5px;
}
.widget:after {
	display: block;
	content: "";
	clear: both;
}
/* header-box */
.widget .header-box {
	padding: 0 7% 7px 0;
	overflow: hidden;
}
.widget h2 {
	margin-bottom: 7px;
	font-variant: small-caps;
}
.widget ul {
	margin: 0 0 3px -2px;
	font-family: Arial, Helvetica, sans-serif;
	color:#808083;
}
.widget ul a{
	color:#808083;
}
.widget ul a:hover{
	color:#bba35d;
}
.widget .btn.btn-default {
	font-size: 20px;
	line-height: 30px;
	min-width: 80.8%;
	padding: 8px 27px;
	text-align: center;
	font-variant: small-caps;
}
/* form-control */
#mktoForm_1009 {
	font-family: 'Cinzel', serif !important;
	width:100% !important;
}
#mktoForm_1009 .mktoFieldWrap {
	width:90% !important;
}
#mktoForm_1009 .mktoFormCol {
	width:90% !important;
}
.widget input.mktoField {
	font-family: 'Cinzel', serif !important;
	font-size: 18px !important;
	font-variant: small-caps;
	line-height: 22px;
	margin: 0 0 14px;
	padding: 6px 0;
	height: 34px;
	border: 0;
	box-shadow: none;
	border-bottom: 1px solid #Cec6a6;
	display: block;
	width: 100% !important;
	color: #808083;
	background-color: #fff;
	background-image: none;
	border-radius: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


.widget input{
	font-family: 'Cinzel', serif !important;
	font-size: 18px !important;
	font-variant: small-caps;
	line-height: 22px;
	margin: 0 0 14px;
	padding: 6px 0;
	height: 34px;
	border: 0;
	box-shadow: none;
	border-bottom: 1px solid #Cec6a6;
	display: block;
	width: 100% !important;
	color: #808083;
	background-color: #fff;
	background-image: none;
	border-radius: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


.widget input.mktoField {
	font-family: 'Cinzel', serif !important;
	font-size: 18px !important;
	font-variant: small-caps;
	line-height: 22px;
	margin: 0 0 14px;
	padding: 6px 0;
	height: 34px;
	border: 0;
	box-shadow: none;
	border-bottom: 1px solid #Cec6a6;
	display: block;
	width: 100% !important;
	color: #808083;
	background-color: #fff;
	background-image: none;
	border-radius: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.widget select {
	font-family: 'Cinzel', serif !important;
	border: 0;
	border-bottom: 1px solid #CEC6A6;
	font-size: 18px !important;
	font-variant: small-caps;
	height: 34px !important;
	line-height: 22px !important;
	padding: 6px 0 !important;
	margin: 0 0 14px !important;
}
.widget .fake-select { margin: 0 0 14px; }
.widget select option { padding: 0; }
.widget .fake-select:after { right: 20px; }
.widget .fake-select:before {
	right: 0;
	top:0;
}
.widget button[type="submit"] {
	font-family: 'Cinzel', serif !important;
	margin: 6px 0 0;
	font-size: 20px;
	line-height: 26px;
	padding: 9px 25px;
	color: #fff;
	background-color: #bba35d;
	border-color: #bba35d;
	display: inline-block;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	border-radius: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.widget label {
	display: none;
}
/* video-section */
.video-section { margin-bottom: 53px; }
.video-section h2 {
	margin-top: 0;
	margin-bottom: 14px;
	font-variant: small-caps;
}
/* video-holder */
.video-section .video-holder { position: relative; }
/* ico-play */
.video-holder .ico-play {
	overflow: hidden;
	text-indent: -999px;
	background: url(../images/sprite.png) no-repeat -10px -80px;
	width: 99px;
	height: 99px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -60px 0 0 -70px;
}
/* properties-section */
.properties-section { margin-bottom: 81px; }
/* heading */
.properties-section .heading { margin-bottom: 24px; }
.properties-section h2 { font-variant: small-caps; }
/* img-holder */
.properties-section .img-holder { overflow: hidden; }
/* text */
.properties-section .text {
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}
.properties-section h3 {
	margin-top: 15px;
	margin-bottom: 11px;
	font-variant: small-caps;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.properties-section p { margin: 0 0 6px; }
.properties-section .link {
	line-height: 18px;
	display: inline-block;
	vertical-align: top;
	padding: 0 11px 0 0;
	position: relative;
	color: #808083;
}
.properties-section .link:hover { color: #bba35d; }
.properties-section .link:after {
	position: absolute;
	content: "";
	right: 0;
	top: 5px;
	background: url(../images/sprite.png) no-repeat -40px -2px;
	width: 5px;
	height: 8px;
}
/* ---------------------------------------------------------
	4. Styles for Responsive web design
	---------------------------------------------------------*/
/* styles for screens 1025px wide and wider */
@media only screen and (min-width:1025px) {
.tel {
	cursor: default;
	pointer-events: none;
}
}
/* styles for screens 1200px wide and narrower */
@media only screen and (max-width: 1200px) {
	.feature-section .img-holder.alignright { float: none; }
	.content {
		font-size: 14px;
		line-height: 22px;
	}
	.feature-section .img-holder { margin: 0 0 33px; }
	.home .feature-block .textarea,
	.feature-block .textarea {
		margin: 0;
		padding: 2px 8% 0;
	}
	.feature-list{margin:0 0 -20px;}
	.feature-row dl{padding:12px 8% 0;}
	.feature-list .block .holder{padding:5px 2% 5px 10%;}
	.widget .header-box{padding:0 0 7px;}
}
/* styles for screens 992px wide and narrower */
@media only screen and (max-width: 992px) {
	.container {
		padding-left: 20px;
		padding-right: 20px;
	}
	.dropdown-menu {
		width: 324px;
		left: 22px;
		padding: 15px 0 0 19px;
	}
	.info-caption { top: 55px; }
	.slider .carousel-indicators {
		bottom: 1px;
		margin-left: -32.5%;
	}
	.slider .carousel-caption { bottom: 20px; }
	.slider .caption-text { padding: 0; }
	.aside-link { margin: 13px 0 0 3px; }
	.content { line-height: 26px; }
	.col-area {
		padding-bottom: 19px;
		margin-bottom: 40px;
	}
	.feature-section .caption { left: 12px; }
	.feature-section .imgs-area .caption { left: 22px; }
	.feature-section .img-holder.add .caption { bottom: 19px; }
	.feature-section .img-holder { margin: 0 0 16px; }
	.feature-section .imgs-area { padding: 0 5px; }
	.feature-section .img-holder.alignright, .feature-section .img-holder.alignright.add {
		float: left;
		width: 50%;
		padding: 0 10px;
	}
	.feature-section { margin-bottom: 24px; }
	.info-row .block .holder { padding: 18px 0 10px 4.7%; }
	.info-row h3 {
		line-height: 16px;
		margin: 0 0 13px;
	}
	.home .feature-block h2,
	.feature-block h2 { margin-bottom: 0; }
	.home .feature-block .heading,
	.feature-block .heading { margin-bottom: 22px; }
	.home .feature-block .carousel-caption { padding: 44.9% 0 0; }
	.home .feature-block .carousel-indicators {
		/* padding: 41.4% 0 0; */
		margin-left: -32.6%;
	}
	.home .feature-block .textarea,
	.feature-block .textarea {
		margin: 0 -9px;
		padding: 2px 4% 0;
	}
	.home .feature-block,
	.feature-block { margin-bottom: 25px; }
	.form-control {
		font-size: 20px;
		height: 62px;
		line-height: 24px;
		padding: 18px 8px;
		margin: 0 0 15px;
	}
	select {
		height: 75px;
		padding: 18px 3px 18px 5px;
		font-size: 20px;
		line-height: 24px;
	}
	.fake-select { margin: 0 0 15px; }
	.fake-select:before { width: 25px; }
	.form-section textarea.form-control {
		height: 139px !important;
		max-height: 139px !important;
		min-height: 139px !important;
	}
	.form-section input[type="submit"] { margin-top: 5px; }
	.feature-list{
		font-size:12px;
		margin:0 -20px -20px 0;
	}
	.feature-list .title{
		font-size:18px;
		line-height:24px;
	}
	.feature-list .block .holder{padding:5px 2% 5px 6%;}
	.feature-row dl{
		padding:12px 0 0 4%;
		font-size:13px;
	}
	.widget .btn.btn-default{
		padding:8px 15px;
		min-width:100%;
		font-size:18px;
	}
	.widget h2{
		font-size:34px;
	}
	.properties-section{margin-bottom:40px;}
	.widget .fake-select:before{width:27px;}
	.widget .fake-select:after{right:10px;}
}
/* styles for screens 767px wide and wider */
@media only screen and (min-width: 767px) {
	.home img#logo-small {
		visibility: hidden;
		opacity: 0;
		transition:visibility 0s, opacity 0s;
	}
	.fixed-position img#logo-small {
		visibility: visible;
		opacity: 1;
		transition:visibility 1s, opacity 1s;
	}
	.home img#logo-large {
		visibility: visible;
		opacity: 1;
		transition:visibility 1s, opacity 1s;
	}
	.fixed-position img#logo-large {
		height:0;
		visibility: hidden;
		opacity: 0;
		transition:visibility 1s, opacity 1s;
	}
}
/* styles for screens 767px wide and narrower */
@media only screen and (max-width: 767px) {
	.container {
		padding-left: 15px;
		padding-right: 15px;
	}
	#header .navbar-header { padding: 15px 0; }
	.navbar-toggle {
		margin: 0;
		padding: 0;
	}
	.navbar-toggle .icon-bar { background: #8c7c3d; }
	.navbar-toggle:hover .icon-bar { background: #808083; }
	#header .navbar-collapse {
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		background: #f7f7f7;
	}
	.navbar-nav {
		max-width:inherit;
		float: none;
		padding: 0;
		text-align: center;
		font-variant: small-caps;
		font: 16px/20px Arial, Helvetica, sans-serif;
		border-top: 1px solid #e3e4e4;
		-webkit-box-shadow: inset 0 1px 1px 0 #ececec;
		box-shadow: inset 0 1px 1px 0 #ececec;
	}
	.navbar-nav > li.open > a:after { bottom: -1px; }
	.navbar-nav > li > a {
		padding-top: 8px;
		padding-bottom: 8px;
	}
	.navbar-nav > li:first-child > a { padding-top: 14px; }
	.nav .open > a, .nav .open > a:hover, .nav .open > a:focus { background-color: #f7f7f7; }
	.navbar-nav > li { padding: 0; }
	.navbar-nav > li + li { border-top: 1px solid #cac2a2; }
	.dropdown-menu {
		padding: 5px 10px;
		text-align: center;
	}
	.dropdown-menu .title { margin: 0 0 3px; }
	.navbar-nav > li > .dropdown-menu > li {
		display: block;
		width: 100%;
		padding: 0 0 9px;
	}
	.navbar-nav > li > .dropdown-menu > li ul li {
		display: inline-block;
		vertical-align: top;
		padding: 0 4px 2px;
		font-size: 13px;
	}
	.home .logo, .logo {
		width: 178px;
		height: auto;
		padding: 0;
	}
	.home img#logo-large {
		visibility: hidden;
		opacity: 0;
		height:0;
	}
	.slider {
		margin-top: 0;
		float: none;
		margin-bottom: 14px;
	}
	.slider .carousel-caption { bottom: -2px; }
	.slider .carousel-caption .link:after { top: 4px; }
	.slider .caption-text {
		font-size: 12px;
		line-height: 15px;
	}
	.slider .carousel-caption h1 {
		font-size: 16px;
		line-height: 18px;
	}
	.slider .carousel-indicators {
		margin: 0;
		width: 100%;
		left: 0;
		right: 0;
		bottom: 5px;
		padding: 0 10px;
		text-align: right;
		height: 10px;
		overflow: hidden;
		z-index: 100;
	}
	.slider .carousel-indicators li {
		margin: 0 4px;
		vertical-align: top;
	}
	.slider .carousel-indicators li:hover, .slider .carousel-indicators li.active {
		width: 10px;
		height: 10px;
		margin: 0 4px;
	}
	.content {
		font-size: 15px;
		line-height: 22px;
	}
	.aside-link {
		margin: 16px 0 0;
		font-size: 18px;
		line-height: 24px;
		padding: 15px 10px;
	}
	.col-area:before { display: none; }
	.col-area { margin-bottom: 0; }
	.aside-link span { display: inline; }
	.feature-section { margin-bottom: 7px; }
	.feature-section .img-holder {
		margin: 0 0 10px;
		overflow: hidden;
	}
	.feature-section .img-holder img{width:100%;}
	.feature-section .img-holder .main-img {
		margin: 0 -25%;
		max-width: inherit;
		width:150%;
		float: left;
		height: 140px;
	}
	.feature-section .caption {
		left: 18px;
		right: 18px;
		top: 16px;
	}
	.feature-section .caption h2 {
		font-size: 24px;
		line-height: 28px;
		margin: 0 0 -6px;
	}
	.sub-head {
		font-size: 14px;
		line-height: 18px;
		margin: 0 0 4px;
	}
	.feature-section .link:after { bottom: 2px; }
	.feature-section .link .text { font: 12px/16px Arial, Helvetica, sans-serif; }
	.info-row { margin-bottom: 6px; }
	.info-row .block .holder { padding: 17px 20px 5px; }
	.info-row h3 {
		line-height: 18px;
		margin: 0 0 2px;
	}
	.info-row .btn-read { font: 14px/20px Arial, Helvetica, sans-serif; }
	.info-row .info-col {
		height: auto !important;
		margin-bottom: 7px;
		overflow: hidden;
	}
	.info-row:before { display: none; }
	.info-row .info-col:before, .info-row:before { top: 3px; }
	.feature-section .img-holder.alignright, .feature-section .img-holder.alignright.add {
		width: 100%;
		float: none;
	}
	.feature-block{
		padding-bottom:0;
		margin-bottom:4px;
	}
	.home .feature-block {
		padding-bottom: 12px;
		margin-bottom: 20px;
	}
	.page-no-image {
		padding-top:8%;
	}
	.feature-block .textarea {
		padding:24px 21px 0 8px;
		text-align:justify;
		line-height:21px;
	}
	.home .feature-block .textarea{
		padding: 11px 15px 0;
		text-align:left;
		line-height:24px;
	}
	.home .feature-block .textarea .header,
	.feature-block .textarea .header {
		margin: 0 0 13px;
		text-align: center;
	}
	.home .feature-block .heading,
	.feature-block .heading { margin-bottom: 14px; }
	.home .feature-block .carousel-caption,
	.feature-block .carousel-caption { padding: 56% 0 0; }
	.feature-block .header h2{
		font-size: 33px;
		margin:0 0 11px;
	}
	.home .feature-block .header h2{
		margin: 0;
		font-size:30px;
	}
	.feature-block .carousel-indicators{ padding: 31px 0 0;}
	.home .feature-block .carousel-indicators { padding: 50.5% 0 0; }
	.feature-block .carousel-indicators li {
		border-color: #8c7c3d;
		margin: 0 3px;
		position: relative;
	}
	.feature-block .carousel-indicators .active, .feature-block .carousel-indicators *:hover {
		width: 10px;
		height: 10px;
		margin: 0 3px;
		background: #8c7c3d;
	}
	.feature-block .carousel-indicators li:before {
		content: '';
		/* background: #fff; */
		position: absolute;
		z-index: -1;
		left: 0;
		right: 0;
		bottom: 0;
		top: -5px;
		height: 20px;
		margin: 0 -12px;
	}
	.form-section .heading { margin: 0 0 9px; }
	.form-section .heading h2 {
		line-height: 32px;
		margin-bottom: 14px;
	}
	.form-control {
		font-size: 16px;
		line-height: 20px;
		height: 39px;
		padding: 8px;
		margin: 0 0 10px;
	}
	select {
		height: 84px;
		padding: 8px 3px 8px 5px;
		font-size: 16px;
		line-height: 20px;
	}
	.fake-select:after { right: 11px; }
	.fake-select { margin: 0 0 10px; }
	.fake-select:before { width: 20px; }
	.form-section textarea.form-control {
		height: 117px !important;
		max-height: 117px !important;
		min-height: 117px !important;
	}
	.form-section input[type="submit"] {
		margin-top: 0;
		padding: 9px 17px;
	}
	#footer .tel { margin-top: 17px; }
	.social-networks { margin: 23px -17px 0 0; }
	.w1 { padding-bottom: 131px; }
	#footer {
		height: 131px;
		margin-top: -131px;
		overflow: hidden;
	}
	#footer:before {
		left: 0;
		right: 0;
		width: 100%;
	}
	.feature-list{
		margin:0 -31px 0 0;
		line-height:14px;
	}
	.feature-list li{
		width:33.33%;
		margin:0 0 9px;
	}
	.feature-list .block .holder {
		padding: 10px 17% 7px 9%;
		width: 100%;
	}
	.feature-list .title{
		font-size:16px;
		margin:0 0 8px;
	}
	.feature-list p{margin:0 0 5px;}
	.feature-row:before{
		background:none;
		height:0;
	}
	.feature-row{margin-bottom:0;}
	.feature-row dl{
		font-size:14px;
		position:relative;
		padding:12px 5% 4px 9.1%;
	}
	.feature-row dl:after{
		position:absolute;
		content:"";
		left:0;
		top:0;
		bottom:0;
		height:auto;
		width:1px;
		background:#cec6a6;
	}
	.feature-row .dl-horizontal dt{float:left;}
	.video-holder .ico-play{
		background-position:-125px -83px; width: 50px; height: 50px;
		margin:-25px 0 0 -25px;
	}
	.widget{
		padding:0;
		margin:0 0 10px;
	}
	.widget h2{
		margin-top:14px;
		font-size:36px;
	}
	.features-area .list{line-height:17px;}
	.features-area .list li{padding:0 10px 5px 14px;}
	.features-area{margin-bottom:27px;}
	.features-area:first-child{margin-bottom:7px;}
	.widget h2{font-size:33px;}
	.widget .header-box{
		line-height:20px;
		padding:0;
	}
	.widget .header-box p{margin:0 0 6px;}
	.widget .form-control{
		font-size:17px;
		margin:0 0 9px;
	}
	.widget .fake-select{margin:0 0 9px;}
	.widget .fake-select:after{
		margin-top:-1px;
		right:11px;
	}
	.widget select{font-size:17px;}
	.widget input[type="submit"]{margin:12px 0 0;}
	.video-section{margin-bottom:10px;}
	.properties-section h2{
		text-align:left;
		font-size:31px;
	}
	.properties-section h3{
		margin-top:7px;
		margin-bottom:0;
	}
	.properties-section{margin-bottom:-7px;}
	.properties-section .text{margin:0 0 14px;}
	.feature-block h2{font-size:35px;}
	.info-row .btn-read:after{margin:0 0 1px 5px;}
}

/* styles for screens 480px wide and narrower */
@media only screen and (max-width: 480px) {
	#mktoForm_1001 .mktoFormCol {
		width: 100% !important;
	}
	.page-no-image {
		padding-top:10%;
	}
}

/* Fade transition for carousel items */
.carousel .item {
    left: 0 !important;
      -webkit-transition: opacity .6s; /*adjust timing here */
         -moz-transition: opacity .6s;
           -o-transition: opacity .6s;
              transition: opacity .6s;
}
.carousel-control {
    background-image: none !important; /* remove background gradients on controls */
}
/* Fade controls with items */
.next.left,
.prev.right {
    opacity: 1;
    z-index: 1;
}
.active.left,
.active.right {
    opacity: 0;
    z-index: 2;
}

/* wordpress image styling */

img.alignright {float:right; margin:1em 0 2em 2em;}
img.alignleft {float:left; margin:1em 2em 2em 0;}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
a img.alignright {float:right; margin:1em 0 2em 2em;}
a img.alignleft {float:left; margin:1em 2em 2em 0;}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}
