@charset "UTF-8";
#header .header-holder:after, .nav ul:after {
  content: " ";
  display: block;
  clear: both; }

#nav ul, .nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }

@-webkit-viewport {
  width: device-width; }
@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
/* ---------------------------------------------------------
   1. Common site styles
   2. Custom form styles
   3. Styles for responsive breakpoints
   ---------------------------------------------------------*/
html {
  height: 100%; }

body {
  font-family: "proxima-nova", sans-serif !important;
  min-width: 320px;
  height: 100%;
  font-weight: 300; }

a {
  outline: none !important; }

/* ---------------------------------------------------------
   1. Сommon site styles
   ---------------------------------------------------------*/
/* main container styles */
#wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: table;
  table-layout: fixed; }

.w1 {
  display: table-row;
  width: 100%; }

.w2 {
  display: table-cell;
  overflow: hidden; }

.mb60 {
  margin-bottom: 60px; }

.three-imgs div[class*="col-"] {
  padding: 0px; }
.three-imgs.no-edges {
  margin-left: 0;
  margin-right: 0; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%; }
  .embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/* header styles */
#header {
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 84px;
  /* page logo styles */ }
  #header .header-holder {
    margin: 0;
    padding: 0 0 0 195px; }
  #header .logo {
    width: 165px;
    position: absolute;
    left: 15px;
    right: 0; }
    #header .logo img {
      display: block;
      width: 100%;
      height: auto; }
  #header .holder {
    overflow: hidden;
    margin: 0 0 18px; }
  #header .contact {
    float: right;
    margin: 7px 10px 0 0;
    width: 150px;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px; }
    #header .contact a {
      text-decoration: none;
      color: #003d4c; }
      #header .contact a:hover {
        opacity: 0.7; }
    #header .contact .tel {
      pointer-events: none; }
  #header .open-close {
    float: right;
    margin: 1px 0 0; }
    #header .open-close .opener {
      background: none;
      text-decoration: none;
      color: #003d4c;
      font-size: 16px;
      line-height: 42px;
      padding: 0 10px;
      text-align: center;
      font-weight: bold;
      display: inline-block;
      vertical-align: middle;
      border: 1px solid #003d4c;
      min-width: 165px; }
      #header .open-close .opener:hover {
        opacity: 0.7; }
    #header .open-close .mob {
      display: none; }
  #header .btn-contact {
    text-align: right; }
    #header .btn-contact .btn-info {
      background: none;
      text-decoration: none;
      color: #003d4c;
      font-size: 16px;
      line-height: 42px;
      padding: 0 10px;
      text-align: center;
      font-weight: bold;
      display: inline-block;
      vertical-align: middle;
      border: 1px solid #003d4c;
      min-width: 165px; }
      #header .btn-contact .btn-info:hover {
        opacity: 0.7; }

.nav-holder {
  display: none; }

/* main navigation styles */
#nav {
  overflow: hidden; }
  #nav address {
    display: inline-block;
    vertical-align: bottom;
    width: 298px;
    margin: 6px 0 0;
    text-transform: uppercase;
    border-bottom: 1px solid #6b6b6c; }
    #nav address span {
      display: block;
      padding: 11px 0 5px; }
    #nav address .tel {
      color: #003d4c;
      text-decoration: none;
      pointer-events: none; }
      #nav address .tel:hover {
        opacity: 0.7; }
    #nav address em {
      font-style: normal; }
    #nav address a {
      text-decoration: none;
      color: #666; }
      #nav address a:hover {
        opacity: 0.7; }
  #nav ul {
    margin: 0 -60px 0 0;
    counter-reset: item;
    max-width: 530px; }
    #nav ul li {
      float: left;
      min-width: 148px;
      margin: 0 13px 10px 0;
      position: relative; }
      #nav ul li:before {
        position: absolute;
        left: 10px;
        top: 9px;
        color: #666;
        font-size: 10px;
        line-height: 12px;
        z-index: 1;
        pointer-events: none; }
      #nav ul li.current-menu-item:before, #nav ul li.active:before, #nav ul li.hover:before, #nav ul li:hover:before {
        color: #fff; }
      #nav ul li.current-menu-item a, #nav ul li.active a, #nav ul li.hover a, #nav ul li:hover a {
        background: #003d4c;
        color: #fff;
        padding: 18px 12px 2px; }
        #nav ul li.current-menu-item a:after, #nav ul li.active a:after, #nav ul li.hover a:after, #nav ul li:hover a:after {
          font-weight: normal; }
    #nav ul a {
      display: block;
      color: #666;
      position: relative;
      font-size: 15px;
      line-height: 30px;
      padding: 18px 0 2px;
      text-transform: uppercase;
      text-decoration: none; }
      #nav ul a:after {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        background: #666;
        height: 1px; }
    #nav ul ul {
      margin: 0; }
    #nav ul ul li:before {
      float: left;
      width: 30px;
      margin: 0 0 0 -30px;
      content: counters(item,".") " ";
      counter-increment: item; }

/* main informative part styles */
#main {
  overflow: visible;
  margin: 0 0 60px; }
  #main.mb0 {
    margin-bottom: 0px; }

.txt-area {
  overflow: hidden;
  padding: 0 99px 4px; }
  .txt-area p {
    margin: 0 0 15px; }

hr {
  margin: 40px 0 40px 0; }

.margin-top {
  margin-top: 40px; }

.margin-bottom {
  margin-bottom: 40px; }

.nav {
  overflow: hidden;
  margin: 0 0 54px; }
  .nav li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 32px; }
    .nav li.mob {
      display: none; }
    .nav li.active a {
      color: #666;
      text-decoration: underline; }
  .nav a {
    color: #CCCCCC;
    font-size: 18px;
    text-decoration: none; }
    .nav a:hover {
      color: #003d4c;
      text-decoration: underline; }

h1 {
  margin: 0 0 40px;
  font-weight: 300;
  color: #003d4c;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px; }

h2 {
  margin: 0 0 20px;
  color: #003d4c;
  font-weight: 300;
  font-size: 30px;
  line-height: 34px; }

h3 {
  margin: 0;
  text-transform: uppercase;
  color: #003d4c;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px; }

.bh-list {
  margin-top: 40px; }
  .bh-list ul {
    list-style: none; }
    .bh-list ul li {
      float: left;
      width: 33%;
      font-weight: 300;
      font-size: 16px;
      margin-top: 10px; }

.amenities-list ul {
  list-style: none; }
  .amenities-list ul li {
    font-weight: 300;
    font-size: 16px;
    margin-top: 10px; }

/* article holder */
.article-holder {
  overflow: hidden;
  margin: 0 0 54px; }

.article {
  overflow: hidden; }
  .article .img-box {
    margin: 0 -15px;
    overflow: hidden; }
    .article .img-box img {
      display: block; }
  .article p {
    margin: 0 0 20px; }
  .article .text-box {
    padding: 5% 15px;
    float: left;
    width: 100%; }
  .article .img-holder {
    overflow: hidden; }
    .article .img-holder img {
      display: block;
      width: 100%;
      height: auto; }
  .article .btn-holder {
    overflow: hidden; }
    .article .btn-holder .btn-default,
    .article .btn-holder .btn-info {
      float: left;
      min-width: 165px;
      line-height: 32px;
      background: #003d4c;
      font-weight: bold;
      white-space: normal;
      text-transform: uppercase;
      color: #fff;
      margin: 0 20px 0 0;
      border-radius: 0;
      border: 0; }
      .article .btn-holder .btn-default:hover,
      .article .btn-holder .btn-info:hover {
        opacity: 0.7; }
    .article .btn-holder .btn-info {
      background: #fff;
      color: #003d4c;
      line-height: 30px;
      border: 1px solid #003d4c; }

/* text area */
.text-area {
  overflow: hidden;
  margin: 0 0 36px; }
  .text-area address {
    font-weight: 300;
    margin: 0;
    font-size: 24px;
    line-height: 26px; }
    .text-area address a {
      text-decoration: none;
      color: #003d4c;
      font-size: 16px;
      line-height: 20px;
      border-bottom: 1px dotted #003d4c; }
      .text-area address a:hover {
        border: 0; }

/* user form styles */
.user-form {
  overflow: hidden;
  margin: 0 0 30px; }
  .user-form .col-holder {
    overflow: hidden;
    margin: 0 0 29px; }
  .user-form .col {
    float: right;
    width: 48.7%; }
    .user-form .col:first-child {
      float: left; }
  .user-form .col-3 {
    float: left;
    width: 33%;
    padding-right: 15px; }
    .user-form .col-3:first-child {
      float: left; }
    .user-form .col-3:last-child {
      padding-right: 0px; }
  .user-form .sub-title {
    margin: 0 0 4px;
    display: block;
    font-weight: 300; }
  .user-form label {
    font-weight: 300;
    margin: 0;
    float: left; }
  .user-form input[type="text"],
  .user-form input[type="email"] {
    box-shadow: none;
    padding: 6px 9px;
    border-width: 0 0 1px;
    outline: none;
    border-radius: 0; }
  .user-form .form-control {
    width: 100%;
    height: 32px;
    float: left;
    border: solid #b2b2b2;
    color: #666; }
  .user-form .radio-holder {
    overflow: hidden;
    margin: 3px 0 8px; }
    .user-form .radio-holder .title {
      margin: 0 19px 0 0; }
    .user-form .radio-holder input[type="radio"] {
      float: left;
      width: 13px;
      height: 13px; }
    .user-form .radio-holder .radio-box {
      float: left;
      margin: 0 22px 0 11px; }
    .user-form .radio-holder .radio-area {
      display: inline-block;
      vertical-align: middle; }
  .user-form input[type="submit"] {
    display: block;
    margin: 40px auto 0;
    min-width: 165px;
    background: #003d4c;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    border: 0;
    border-radius: 0;
    text-align: center;
    height: 44px;
    line-height: 32px; }
    .user-form input[type="submit"]:hover {
      opacity: 0.7; }
  .user-form .title {
    font-weight: 300;
    margin: 4px 0 4px 9px;
    display: inline-block;
    vertical-align: middle; }

/* visual styles */
.visual {
  overflow: hidden;
  padding: 0 0 96px; }
  .visual .carousel {
    padding: 0 8.5%; }
  .visual .carousel-inner {
    margin: 0 auto; }
    .visual .carousel-inner .item {
      padding: 0 50px; }
  .visual .carousel-control.left,
  .visual .carousel-control.right {
    background: none; }
  .visual .carousel-caption {
    position: static;
    overflow: hidden;
    padding: 0 0 20px;
    margin: 0 0 0 -49px; }
  .visual .carousel-indicators li {
    float: left;
    text-indent: 0;
    margin: 0;
    width: auto;
    height: auto;
    color: #003d4c;
    font-size: 18px;
    line-height: 22px; }
    .visual .carousel-indicators li:hover, .visual .carousel-indicators li.active {
      color: #666;
      text-decoration: underline; }
  .visual .frame img {
    display: block;
    width: 100%;
    height: auto; }
  .visual .links-holder {
    overflow: hidden;
    margin: 0 0 14px;
    position: relative;
    z-index: 10; }
    .visual .links-holder h3 {
      float: left;
      margin: 0 25px 0 0;
      max-width: 50%;
      font-size: 30px;
      line-height: 34px;
      color: #003d4c;
      text-transform: none;
      font-weight: 300; }
    .visual .links-holder .carousel-indicators {
      position: static;
      overflow: hidden;
      margin: 6px 0 0;
      width: auto; }
      .visual .links-holder .carousel-indicators li {
        margin: 0 23px 0 0; }
  .visual .carousel-control {
    top: 50%;
    bottom: auto;
    width: 10%; }
    .visual .carousel-control .glyphicon-chevron-left,
    .visual .carousel-control .glyphicon-chevron-right {
      width: 42px;
      height: 82px;
      font-size: 0;
      line-height: 0;
      margin-left: 0;
      margin-top: 16px;
      opacity: 1;
      position: relative;
      left: 0;
      top: 0; }
      .visual .carousel-control .glyphicon-chevron-left:after, .visual .carousel-control .glyphicon-chevron-left:before,
      .visual .carousel-control .glyphicon-chevron-right:after,
      .visual .carousel-control .glyphicon-chevron-right:before {
        position: absolute;
        left: -18px;
        top: -4px;
        content: '';
        background: #003d4c;
        width: 3px;
        height: 55px;
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -webkit-transform: rotate(45deg); }
      .visual .carousel-control .glyphicon-chevron-left:after,
      .visual .carousel-control .glyphicon-chevron-right:after {
        margin: 38px 0 0;
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg); }
    .visual .carousel-control .glyphicon-chevron-right {
      margin-right: 0; }
      .visual .carousel-control .glyphicon-chevron-right:after, .visual .carousel-control .glyphicon-chevron-right:before {
        left: auto;
        right: -17px;
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -webkit-transform: rotate(45deg); }
      .visual .carousel-control .glyphicon-chevron-right:before {
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg); }
  .visual .btn-default {
    color: #003d4c;
    min-width: 176px;
    font-weight: bold;
    text-transform: uppercase;
    background: none;
    line-height: 30px;
    border: 1px solid #003d4c;
    border-radius: 0;
    float: left; }
    .visual .btn-default:hover {
      opacity: 0.7; }

/* map styles */
div.gjmaps-wrapper ul.gjmaps-categories {
  padding-left: 0;
  list-style: none;
  width: 100%;
  height: auto;
  margin: 0 auto 40px;
  text-align: center;
  position: relative;
  -webkit-transition: height 0.5s;
  transition: height 0.5s; }
  div.gjmaps-wrapper ul.gjmaps-categories li.gjmaps-category {
    display: inline-block;
    font-size: 17px;
    font-weight: 400;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    color: #bcbec0; }
    div.gjmaps-wrapper ul.gjmaps-categories li.gjmaps-category.active {
      color: #003d4c; }
div.gjmaps-wrapper .gjmaps-map-canvas {
  height: 600px; }

/* page styles */
body.page main p em {
  color: #003d4c; }
body.page main p a {
  color: #003d4c; }

.txt-area em {
  color: #003d4c; }

.footer-image {
  margin-top: 8px; }

/* home specific styles */
.home #ps-carousel .home-text {
  z-index: 99; }
  .home #ps-carousel .home-text p {
    color: #003d4c;
    font-size: 18px;
    line-height: 26px;
    margin: 0; }
  .home #ps-carousel .home-text .btn-default {
    margin: 5px 0 40px;
    width: auto;
    background: #003d4c;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    border: 0;
    border-radius: 0;
    height: 44px;
    line-height: 32px;
    padding-left: 20px;
    padding-right: 20px; }
  .home #ps-carousel .home-text .cta-text {
    text-align: right; }
    @media only screen and (max-width: 992px) {
      .home #ps-carousel .home-text .cta-text {
        text-align: center; } }
  .home #ps-carousel .home-text .cta-btn {
    text-align: left; }
    @media only screen and (max-width: 992px) {
      .home #ps-carousel .home-text .cta-btn {
        text-align: center; } }
.home #ps-carousel .home-image {
  position: relative;
  bottom: -webkit-calc(-100% + 40px);
  bottom: calc(-100% + 40px);
  margin-bottom: 20px; }
.home .carousel-indicators {
  position: relative;
  width: 100%;
  text-align: right;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
  bottom: 0; }
  .home .carousel-indicators li {
    border-radius: 0px;
    border-color: #003d4c;
    background: #fff; }
    .home .carousel-indicators li.active {
      background-color: #003d4c; }
.home .carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity; }
.home .carousel-fade .carousel-inner .active {
  opacity: 1; }
.home .carousel-fade .carousel-inner .active.left,
.home .carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1; }
.home .carousel-fade .carousel-inner .next.left,
.home .carousel-fade .carousel-inner .prev.right {
  opacity: 1; }
.home .carousel-fade .carousel-control {
  z-index: 2; }
.home hr {
  color: #003d4c; }

/* footer styles */
#footer {
  overflow: hidden;
  display: table-footer-group;
  width: 100%;
  font-size: 12px;
  line-height: 16px; }
  #footer .f1 {
    display: table-row;
    height: 1%; }
  #footer .f2 {
    display: table-cell; }
  #footer .footer-holder {
    border-top: 1px solid #b2b2b2;
    padding: 10px 0;
    overflow: hidden; }
  #footer .copy-right {
    float: right;
    width: 16.5%;
    margin: 6px 0 0;
    text-align: right;
    text-transform: uppercase;
    color: #003d4c; }
    #footer .copy-right .tel {
      pointer-events: none; }
    #footer .copy-right a {
      text-decoration: none;
      color: #003d4c; }
      #footer .copy-right a:hover {
        opacity: 0.7; }
  #footer .footer-area {
    float: left;
    width: 28%; }
    #footer .footer-area a:hover img {
      opacity: 0.7; }
    #footer .footer-area img {
      float: right; }
    #footer .footer-area p {
      margin: 5px 0 0;
      overflow: hidden; }
      #footer .footer-area p span {
        display: block; }

/* ---------------------------------------------------------
   2. Custom form styles
   ---------------------------------------------------------*/
/* custom radio styles */
.jcf-radio {
  float: left;
  position: relative;
  overflow: hidden;
  cursor: default;
  background: #fff;
  border: 1px solid #666;
  border-radius: 9px;
  margin: 3px 8px 0 0;
  width: 16px;
  height: 16px; }
  .jcf-radio span {
    display: none;
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    background: #003d4c;
    border-radius: 100%; }
  .jcf-radio input[type="radio"] {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    left: 0;
    top: 0; }
  .jcf-radio.jcf-checked span {
    display: block; }

/* ---------------------------------------------------------
   3. Styles for responsive breakpoints
   ---------------------------------------------------------*/
/* styles for screens 767px wide and larger  */
@media only screen and (min-width: 767px) {
  #header .open-close .slide {
    display: none !important; } }
/* styles for screens 1224px wide and narrower */
@media only screen and (max-width: 1224px) {
  #header .contact .tel {
    pointer-events: inherit; }
  #header address .tel {
    pointer-events: inherit; }

  #footer .copy-right .tel {
    pointer-events: inherit; } }
/* styles for screens 1200px wide and narrower */
@media only screen and (max-width: 1200px) {
  #header .logo {
    margin: 0 5px 0 0;
    width: 145px; }
  #header address {
    width: 210px;
    word-break: break-all; }

  .article.align-right .text-box {
    margin: 0 0 0 -15px; }

  .visual .carousel-control .glyphicon-chevron-left:after, .visual .carousel-control .glyphicon-chevron-left:before {
    left: -5px; }
  .visual .carousel-control .glyphicon-chevron-right:after, .visual .carousel-control .glyphicon-chevron-right:before {
    right: -5px; } }
/* styles for screens 992px wide and narrower */
@media only screen and (max-width: 992px) {
  #header {
    padding-top: 15px;
    padding-bottom: 51px; }
    #header .logo {
      width: 124px; }
    #header address {
      display: none; }
    #header .open-close .opener {
      font-size: 12px;
      line-height: 22px;
      min-width: 123px; }
    #header .contact {
      margin: 0;
      font-size: 12px; }
    #header .holder {
      margin: 0 0 2px; }

  #nav ul li {
    margin: 0 20px 2px 0; }
    #nav ul li:before {
      left: 7px;
      top: 8px; }
  #nav ul a {
    padding: 18px 12px 2px 0; }

  .txt-area {
    padding: 0 36px 4px; }
    .txt-area p {
      margin: 0 0 18px; }

  h2 {
    margin: 0 0 18px; }

  .article {
    font-size: 15px;
    line-height: 20px; }
    .article .text-box {
      padding: 14px 0 0 4px; }
    .article .btn-holder {
      margin: 0 -36px 0 2px; }
      .article .btn-holder .btn-default,
      .article .btn-holder .btn-info {
        margin: 0 18px 0 0; }

  .text-area {
    margin: 0 0 15px; }
    .text-area address {
      font-size: 18px;
      line-height: 22px;
      padding: 1% 0 0 12%; }
      .text-area address a {
        display: inline-block;
        vertical-align: middle;
        margin: 11px 0 0; }

  .article-holder {
    margin: 0 0 56px; }

  .user-form .col {
    width: 48%; }
  .user-form .radio-holder .radio-box {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 22px 4px 11px; }
  .user-form .radio-holder .radio-area .radio-box {
    width: auto;
    margin: 0 22px 0 11px; }
  .user-form input[type="submit"] {
    margin: -7px auto 0; }

  #main.mb60 {
    margin: 0 0 30px; }

  #footer .footer-area {
    width: 43.4%; }
  #footer .copy-right {
    width: 26.5%; }

  .visual {
    padding: 0 0 92px; }
    .visual .links-holder h3 {
      margin: 0 25px 13px 0; }
    .visual .links-holder .carousel-indicators li {
      margin: 0 16px 0 0; }
    .visual .btn-default {
      float: none; }
    .visual .carousel {
      padding: 0 8.3%; }
    .visual .carousel-inner .item {
      padding: 0; }
    .visual .carousel-control .glyphicon-chevron-left,
    .visual .carousel-control .glyphicon-chevron-right {
      width: 21px;
      height: 41px;
      margin-top: 10px; }
      .visual .carousel-control .glyphicon-chevron-left:after, .visual .carousel-control .glyphicon-chevron-left:before,
      .visual .carousel-control .glyphicon-chevron-right:after,
      .visual .carousel-control .glyphicon-chevron-right:before {
        width: 2px;
        height: 28px;
        left: 6px;
        top: -1px; }
      .visual .carousel-control .glyphicon-chevron-left:after,
      .visual .carousel-control .glyphicon-chevron-right:after {
        margin: 19px 0 0; }
    .visual .carousel-control .glyphicon-chevron-right:after, .visual .carousel-control .glyphicon-chevron-right:before {
      right: 6px;
      left: auto; }
    .visual .carousel-control .glyphicon-chevron-right:after {
      margin: 19px 0 0; } }
/* styles for screens 767px wide and narrower */
@media only screen and (max-width: 767px) {
  .visual {
    padding: 0;
    margin: 0 0 30px; }
    .visual .frame {
      display: table;
      width: 100%;
      table-layout: fixed; }
      .visual .frame img {
        margin: 0 0 25px; }
    .visual .carousel-caption {
      display: table-footer-group;
      width: 100%;
      height: 1%; }
    .visual .carousel-control.left,
    .visual .carousel-control.right {
      top: auto;
      bottom: 0; }
    .visual .carousel-control .glyphicon-chevron-left,
    .visual .carousel-control .glyphicon-chevron-right {
      margin-top: 0;
      position: static; }

  .nav-opener .bar-holder {
    position: relative;
    display: block;
    right: 0;
    top: 0;
    width: 25px;
    height: 20px;
    border-radius: 5px;
    background: none;
    transition: ease all 0.5s; }
    .nav-opener .bar-holder:before, .nav-opener .bar-holder:after,
    .nav-opener .bar-holder .bar {
      background: #666;
      border-radius: 3px;
      position: absolute;
      top: 50%;
      left: 20%;
      right: 20%;
      height: 2px;
      margin-top: -2px;
      transition: all 0.2s linear; }
    .nav-opener .bar-holder:before, .nav-opener .bar-holder:after {
      content: '';
      top: 30%; }
    .nav-opener .bar-holder:after {
      top: 70%; }
    .nav-opener .bar-holder:hover {
      opacity: 0.9; }

  .nav-active .nav-opener .bar-holder .bar {
    opacity: 0; }
  .nav-active .nav-opener .bar-holder:after, .nav-active .nav-opener .bar-holder:before {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    top: 50%;
    left: 15%;
    right: 15%; }
  .nav-active .nav-opener .bar-holder:after {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }

  .nav-holder {
    display: block;
    position: absolute;
    right: 22px;
    top: 10px;
    width: 55px;
    padding: 0 0 5px;
    z-index: 10;
    border-bottom: 1px solid #666; }
    .nav-holder .nav-txt .show-btn,
    .nav-holder .nav-txt .close-btn {
      font-size: 16px;
      line-height: 20px;
      color: #666;
      text-transform: uppercase;
      font-style: normal;
      text-decoration: none; }

  .nav-opener {
    text-decoration: none; }
    .nav-opener:hover, .nav-opener:focus {
      text-decoration: none; }
    .nav-opener .nav-txt .close-btn {
      display: none; }

  .nav-active .nav-txt .show-btn {
    display: none; }
  .nav-active .nav-txt .close-btn {
    display: block; }
  .nav-active #header {
    background: #f5f5f5; }
  .nav-active .drop-holder {
    z-index: 99;
    max-height: inherit; }
  .nav-active .drop-area {
    transform: translateY(0px); }

  .drop-holder {
    transition: all 0.25s linear 0s;
    position: absolute;
    right: 0;
    left: 0;
    padding: 0;
    top: 101%;
    max-height: 0;
    overflow: hidden;
    z-index: 10; }

  .drop-area {
    margin: 20px 0 1px;
    background-color: #fefefe;
    background: linear-gradient(to bottom, #f5f5f5 10%, #fefefe 100%);
    transform: translateY(-100%);
    transition: all 0.25s linear 0s; }

  #nav {
    padding: 9px 20px 0;
    border-bottom: 1px solid #acacac; }
    #nav address {
      display: block;
      width: auto;
      font-size: 15px;
      border: 0; }
      #nav address span {
        padding: 16px 0 5px; }
      #nav address em {
        font-style: normal;
        display: block; }
    #nav ul {
      overflow: hidden;
      margin: 0 -30px 22px 0; }
      #nav ul li {
        margin: 0 20px 9px 0;
        min-width: 130px; }

  #header {
    position: relative;
    overflow: visible;
    padding-top: 20px;
    padding-bottom: 32px; }
    #header .header-holder {
      padding: 0 0 0 60px; }
    #header .logo {
      width: 56px;
      left: 20px; }
    #header .contact {
      display: none; }
    #header .holder {
      overflow: visible;
      margin: 0;
      float: right;
      margin: 9px 79px 0 0; }
      #header .holder .slide {
        position: absolute;
        left: 0;
        top: 79px;
        background: #fff;
        z-index: 99;
        right: 0;
        padding: 16px 20px 20px;
        line-height: 20px;
        border-bottom: 1px solid #acacac; }
        #header .holder .slide p {
          margin: 0 0 7px; }
      #header .holder .user-form {
        margin: 0; }
        #header .holder .user-form .col-holder {
          margin: 0; }
        #header .holder .user-form .col {
          width: 100%;
          margin: 0 0 9px; }
          #header .holder .user-form .col.last {
            margin: -21px 0 9px; }
        #header .holder .user-form .col-3 {
          width: 100%;
          margin: 0 0 9px; }
          #header .holder .user-form .col-3.last {
            margin: -21px 0 9px; }
        #header .holder .user-form input[type="text"],
        #header .holder .user-form input[type="email"] {
          font-size: 15px; }
        #header .holder .user-form input[type="submit"] {
          margin: 0 auto; }
        #header .holder .user-form .title {
          margin: 6px 0;
          font-size: 15px; }
        #header .holder .user-form .radio-holder .radio-box {
          margin: 0 22px 6px 9px; }
        #header .holder .user-form .sub-title {
          font-size: 15px; }
    #header .col-xs-9 {
      position: inherit; }
    #header .open-close .opener {
      font-size: 16px;
      line-height: 32px;
      border: 0;
      position: relative;
      text-align: left;
      text-transform: uppercase;
      min-width: 141px;
      padding: 15px 9px 1px; }
      #header .open-close .opener:before {
        position: absolute;
        left: 12px;
        top: 5px;
        content: 'i';
        font-style: italic;
        font-size: 11px;
        line-height: 13px; }
      #header .open-close .opener:after {
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 0;
        content: '';
        height: 1px;
        background: #003d4c; }
    #header .open-close.active .opener {
      color: #fff;
      background: #003d4c; }
      #header .open-close.active .opener:before {
        content: '+';
        font-size: 13px;
        font-weight: 300;
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -webkit-transform: rotate(45deg); }
      #header .open-close.active .opener .desktop {
        display: none; }
      #header .open-close.active .opener .mob {
        display: block; }

  h1 {
    margin: 0 0 16px; }

  .txt-area {
    padding: 0 5px 0 3px;
    text-align: left; }
    .txt-area p {
      margin: 0 0 16px; }

  .nav {
    margin: 0 0 35px; }
    .nav li {
      margin: 0 -2px;
      font-size: 12px; }
      .nav li.mob {
        display: inline-block;
        vertical-align: middle; }
      .nav li.desktop {
        display: none; }
      .nav li a {
        font-size: 12px; }

  .article-holder {
    overflow: visible;
    margin: 0 -15px 35px; }

  h2 {
    margin: 0 0 16px; }

  .article {
    overflow: visible;
    line-height: 22px; }
    .article.align-right .text-box {
      padding: 33px 20px; }
    .article .img-box img {
      height: auto !important;
      width: 100% !important;
      margin: 0 !important; }
    .article .same-height {
      height: auto !important; }
    .article .text-box {
      padding: 20px 5px; }
    .article .btn-holder.inner .btn-default {
      min-width: 168px; }
    .article .btn-holder .btn-default,
    .article .btn-holder .btn-info {
      min-width: 141px;
      margin: 0; }
    .article .img-holder {
      padding: 7px 0 0; }
      .article .img-holder img {
        position: relative;
        left: 50%;
        width: 1140px;
        margin: 0 0 0 -570px; }

  h3 {
    letter-spacing: -1.2px; }

  .text-area {
    margin: 0 5px 8px;
    line-height: 24px; }
    .text-area address {
      display: none; }

  .user-form {
    margin: 0 5px 30px; }
    .user-form .col-holder {
      margin: 0; }
    .user-form .col {
      width: 100%;
      margin: 0 0 19px; }
      .user-form .col.last {
        margin: -14px 0 0; }
    .user-form .col-3 {
      width: 100%;
      margin: 0 0 19px; }
      .user-form .col-3.last {
        margin: -14px 0 0; }
    .user-form input[type="text"],
    .user-form input[type="email"] {
      font-size: 15px; }
    .user-form .title {
      margin: 4px 0 6px;
      font-size: 15px; }
    .user-form .sub-title {
      font-size: 15px; }
    .user-form .radio-holder .title {
      margin: 0; }
    .user-form input[type="submit"] {
      margin: 22px auto 0; }

  .visual {
    overflow: visible;
    margin: -34px 0 56px; }
    .visual .carousel {
      padding: 0 5px; }
    .visual .links-holder {
      margin: 0 0 28px;
      overflow: visible; }
      .visual .links-holder h3 {
        float: none;
        max-width: inherit;
        margin: 0 0 7px; }
      .visual .links-holder .carousel-indicators {
        margin: 6px -15px 0 0; }
        .visual .links-holder .carousel-indicators li {
          margin: 0 15px 0 0; }
    .visual .frame img {
      margin: 0 0 19px; }
    .visual .carousel-control.left, .visual .carousel-control.right {
      background: #fff; }
    .visual .carousel-control .glyphicon-chevron-left:after, .visual .carousel-control .glyphicon-chevron-left:before,
    .visual .carousel-control .glyphicon-chevron-right:after,
    .visual .carousel-control .glyphicon-chevron-right:before {
      left: 10px; }
    .visual .carousel-control .glyphicon-chevron-right:after, .visual .carousel-control .glyphicon-chevron-right:before {
      right: 10px; }

  #footer .footer-holder {
    padding: 11px 5px; }
  #footer .copy-right,
  #footer .footer-area {
    width: 100%;
    text-align: left; }
  #footer .copy-right .email {
    display: inline-block;
    vertical-align: middle;
    margin: 4px 0 0; }
  #footer .copy-right p {
    margin: 0; }
  #footer .footer-area {
    font-size: 11px; }
    #footer .footer-area p {
      margin: 7px 0 0; }

  /* #wrapper,
  .w1,
  .w2{
  	display: block;
  }
  #footer{
  	display: block;
  	.f1,
  	.f2{
  		display: block;
  	}
  } */ }
