/* ----- GLOBAL STYLES----- */

html, body {
	min-height:100%;
	height:100%;
}

.height-fix {
	height:50%;
	overflow:hidden;
}
.start-container {
	height:100%;
}
.hero-img {
	height: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 0px;
}
.hero-img.hero-right {
	background-position: 0 35%;
}
.hero-img.hero-left {
	background-position: 0 35%;
}
@media (min-width:768px) {
	.height-fix {
	height:85%;
	}
	.start-container {
		height:100%;
	}
	.hero-img {
		height: 100%;
		margin-bottom: 30px;
		background-attachment: fixed;
		background-size: contain;
	}
	.hero-img.hero-right {
		background-position: right center;
	}
	.hero-img.hero-left {
		background-position: left center;
	}
}

.hero-shadow {
	position: absolute;
	bottom:0px;
}

.hero-full {
	margin-top:70px;
	margin-bottom:40px;
	padding-top:50px;
	padding-right:0;
	padding-left:0;
	height:70%;
	background-attachment:fixed;
	background-position:center top;
	background-repeat:none;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	-o-background-size:cover;
}

.header-row {
	margin-top:100px;
}

body {
	font-family:'Raleway',sans-serif;
	color:#666;
}

h1 {
	font-size:50px;
	font-weight:100;
	text-transform:uppercase;
}

.hero-full h1 {
	color:#FFF;
	font-weight:100;
}

h2 {
	font-size:36px;
	font-weight:100;
	line-height:32px;
	text-transform:uppercase;
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

p {
	font-size:16px;
	font-weight:300;
	line-height:24px;
}

h1 span {
	border-bottom:#e5e5e5 2px solid;
}

.hero-button {
	position:absolute;
	display:table;
	width:100%;
	bottom:60px;
	text-transform:uppercase;
}

.hero-full h1 span {
	border-bottom:#fff 1px solid;
}

.hero-full p {
	color:#fff;
	margin-top:20px;
	margin-bottom:60px;
}

a:hover {
	color:#06b0cf;
	text-decoration:none;
}

b,strong {
	font-weight:500;
}

.white {
	color:#fff;
}

.black {
	color:#000;
}

.m-no-pad {
	padding-left:0;
	padding-right:0;
}

.marg-above {
	margin-top:40px;
}

.marg-below {
	margin-bottom:40px;
}

.pad-below {
	margin-bottom:20px;
}

.with-shadow img {
	vertical-align:top;
}

.sub-nav-pad {
	margin-bottom:80px;
}

.hero-sub-nav {
	margin-top:25px;
	margin-bottom:15px;
}

.hero-sub-nav div {
	display:inline-block;
	vertical-align:middle;
	max-width:50%;
}

.hero-sub-nav a {
	color:#fff;
	font-weight:200;
	line-height:60%;
}

.hero-sub-nav span:hover {
	color:#06b0cf;
}

.hero-sub-nav a:hover {
	text-decoration:none;
}

.hero-sub-nav a:hover::after {
	font-family:FontAwesome;
	content:&#xf107;
}

.hero-sub-nav a:hover {
	text-decoration:underline;
}

.hero-sub-nav::before {
	font-weight:200;
	color:#06b0cf;
	font-size:46px;
	vertical-align:middle;
	content:"[ ";
	padding-right:10px;
}

.hero-sub-nav::after {
	font-weight:200;
	color:#06b0cf;
	font-size:46px;
	vertical-align:middle;
	content:" ]";
	padding-left:10px;
}

.no-edges {
	padding-left: 0px !important;
	padding-right: 0px !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
}
#grid-container [class*='col-']:first-child {
  padding:0;
  border:0px;
}
#grid-container [class*='col-']:last-child {
  padding:0;
}
#grid-container [class*='col-'] {
	border:0px;
	background-size: cover;
}
.grid-item{
	background-position:center center;
	background-size:contain;
	}

@media (min-width:768px) {
	#grid-container [class*='col-'] {
		border-left:30px solid #fff;
	}
	.grid-item{}
}


/* ----- NAV TOP ----- */
.navbar-default {
	height:71px;
	background-color:#fff;
	border:#f8f8f8 1px solid;
}

.navbar-brand {
	padding:10px 15px;
	width:30px;
	height:25px;
}

.navbar-nav>li>a {
	padding-top:25px;
}

.menu-item a:hover {
	text-decoration:none;
}

.menu-item a::before,ul.dropdown-menu a::before {
	font-weight:200;
	color:#06b0cf;
	font-size:36px;
	vertical-align:middle;
	content:"[ ";
	padding-right:0;
	visibility:hidden;
}

.menu-item a::after,ul.dropdown-menu a::after {
	font-weight:200;
	color:#06b0cf;
	font-size:36px;
	vertical-align:middle;
	content:" ]";
	padding-left:0;
	visibility:hidden;
}

.menu-item a:hover::before,.menu-item a:hover::after,.current-menu-item a::before,.current-menu-item a::after,ul.dropdown-menu .current-menu-item a::before,ul.dropdown-menu .current-menu-item a::after,.current-menu-parent a::before,.current-menu-parent a::after {
	text-decoration:none;
	visibility:visible;
}

.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus {
	background-color:#fff!important;
}

.disappear {
	display:block;
}
@media (min-width:768px) {
	.disappear {
		display:none;
	}
}

.dropdown-menu {
	position:absolute;
	z-index:1000;
	min-width:10px;
	padding:0;
	margin:0;
	font-size:12px;
	text-align:center;
	list-style:none;
	background-color:#fff;
	border:0;
	border-radius:0;
	-webkit-box-shadow:none;
	box-shadow:none;
	float:none;
}

.home .dropdown-menu {
	position:relative;
	padding:10px 0;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}

.dropdown-menu>li>a {
	padding:0 20px;
	line-height:1;
}

.dropdown-menu>li>a:hover,.home .dropdown-menu>li>a:focus {
	color:#262626;
	text-decoration:none;
	background-color:#fff;
}

.home #menu-main-nav-1 li {
	float:none!important;
}

.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:hover,.navbar-default .navbar-nav>.open>a:focus {
	background:none!important;
}

.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus {
	background:none;
	color:#333;
}

/*** collapsed navbar styles ***/

.navbar-toggle {
	margin-top:17px;
	margin-bottom: 17px;
}
.navbar-collapse.in, .navbar-collapse.collapsing {
	background: #fff;
	width:100%;
	text-align:center;
	position:absolute;
}
.navbar-collapse.in ul li a, .navbar-collapse.collapsing ul li a {
	padding-bottom:5px;
}

/*** fixed page ****/
.page-fixed {
	padding-top:150px;
	padding-bottom:150px;
	color:#fff;
	background-attachment:fixed;
	background-position:center top;
	background-repeat:none;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	-o-background-size:cover;
}

.quote-box {
	padding:30px;
	border:#06b0cf 2px solid;
	margin-bottom:30px;
}

.quote-box h4 {
	line-height:inherit;
}

.make-table {
	position:relative;
	display:table;
}

/* ----- INDEX ----- */
body#Home .nav-item a {
	color:#666;
}

body#Home .nav-item a:hover {
	text-decoration:none;
	color:#000;
}

#theLogo {
	margin-top:40px;
	margin-bottom:40px;
}

#home-logo {
	margin:50px 0;
}

.hero-img {
	padding-right:0;
	padding-left:0;
}

.hero-img img {
	overflow:hidden;
}

.hero-left {
	padding-right:15px;
	margin-top:2px;
}

.hero-right {
	padding-left:15px;
	margin-top:2px;
}

.hero-button a {
	font-size:30px;
	font-weight:100;
}
.hero-button .aleft {
	margin-right: -36%;
}
.hero-button .aright {
	margin-left: -36%;
}


.hero-button .hero-sub-nav::before {
	font-weight:100;
	font-size:72px;
}

.hero-button .hero-sub-nav::after {
	font-weight:100;
	font-size:72px;
}

#Tagline {
	padding:20px;
	border-top:#e5e5e5 2px solid;
	border-bottom:#e5e5e5 2px solid;
	margin-top:30px;
	margin-bottom:30px;
}

.featured {
	margin-bottom:30px;
}

.featured-textbox {
	position:absolute;
	display:table;
	width:100%;
	left:0;
	text-transform:uppercase;
}

.textbox-left {
	width:40%;
}

.featured-valign-t {
	display:table-cell;
	vertical-align:middle;
}

.featured-valign-m {
	display:table-cell;
	vertical-align:middle;
}

.featured-valign-b {
	display:table-cell;
	vertical-align:middle;
}

.tall {
	height:200px;
}

.square {
	height:200px;
	overflow:hidden;
}

.wide {
	margin-top:30px;
	height:200px;
}

.marg-square {
	margin-top:30px;
}

.featured-textbox h2, .featured-bottom-text h2 {
	font-weight:700;
	font-size:30px;
	margin-bottom:0;
	margin-top:6px;
	line-height:1;
}

.featured-textbox h3 {
	font-weight:300;
	font-size:18px;
	margin-top:0;
}

.featured-bottom-text h3 a {
	font-weight:300;
	font-size:18px;
	margin-top:0;
	color:#000;
}

.featured-bottom-text {
	width:100%;
	height:218px;
	text-align:center;
	padding-top:16%;
}


	.featured-textbox a {
		font-size:14px;}

	.featured-textbox .hero-sub-nav::before {
		font-size:46px;}

	.featured-textbox .hero-sub-nav::after {
		font-size:46px;}




.featured-bottom img {
	vertical-align:top;
}

.bottom-outline {
	border:#f5f5f5 2px solid;
}

.bottom-fill {
	background-color:#f5f5f5;
}

/* ----- WHO WE ARE ----- */

.hero-dancers {
	background-image:url(../images/Header-img-dancers.jpg);
}

p i {
	margin-left:10px;
	vertical-align:middle;
}

.about-valign-m {
	display:table-cell;
	vertical-align:middle;
	height:400px;
}

/* ----- OUR WORK ----- */
.work-full {
	margin-top:70px;
	margin-bottom:40px;
	padding-right:0;
	padding-left:0;
	color:#fff;
}

.work-header {
	position:absolute;
	width:95%;
	height:100%;
	max-height:300px;
	left:5%;
}

.work-header .make-table {
	height:30%;
}

.work-header div h1 {
	height:70%;
	font-size:18px;
}

.work-header div h1 span {
	/* border-bottom:none; */
}

.header-row img {
	border-bottom:#e5e5e5 2px solid;
}

.work-text {
	margin-top:0;
	margin-bottom:40px;
}

.work-item {
	border:#e5e5e5 2px solid;
	margin-bottom:20px;
	overflow:hidden;
}

.work-item img {
	width:100%;
	height:auto;
	margin-top:20px;
}

/* ----- CONTACT ------ */
.contact-header{
	margin-top: 70px;
	margin-bottom: 30px;
}
.contact-img-h {
	height:300px;
}
.contact-txt-h {
	min-height: 460px;
	z-index:100;
}
.contact-txt-left{
	text-align:center;
}
.contact-txt-right{
	text-align:center;
}


/* ----- SINGLE PERFORMANCES ------ */
/*** fade the slides ***/
.carousel-fade .carousel-inner .item {
	opacity:0;
	-webkit-transition-property:opacity;
	-moz-transition-property:opacity;
	-o-transition-property:opacity;
	transition-property:opacity;
}

.carousel-fade .carousel-inner .active {
	opacity:1;
}

.carousel-fade .carousel-inner .active.left,.carousel-fade .carousel-inner .active.right {
	left:0;
	opacity:0;
	z-index:1;
}

.carousel-fade .carousel-inner .next.left,.carousel-fade .carousel-inner .prev.right {
	opacity:1;
}

.carousel-fade .carousel-control {
	z-index:2;
}

/** add some arrows to the content row carousel **/
#bt-performance-gallery .bt-carousel-control {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	width:10%;
	font-size:40px;
	color:#fff;
	text-align:center;
	text-shadow:inherit;
	filter:inherit;
	opacity:inherit;
}

#bt-performance-gallery .bt-carousel-control.right {
	right:0;
	left:auto;
}

#bt-performance-gallery .bt-carousel-control i {
	margin:auto;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	height:45px;
}

/** responsive video embeds */
#bt-performance-video {
	position:relative;
	padding-bottom:56.25%;
	height:0;
	overflow:hidden;
	max-width:100%;
	height:auto;
}

#bt-performance-video iframe,#bt-performance-video object,#bt-performance-video embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

/* ----- SUPPORT ----- */
.support-header {margin-top:42px;}

.support-item {border:#e5e5e5 2px solid;}

.support-text {
	margin-top:40px;
	margin-bottom:40px;
}

/* ----- FOOTER ----- */
#Footer {
	padding:20px 0;
	border-top:#e5e5e5 2px solid;
	border-bottom:#e5e5e5 2px solid;
	margin-top:30px;
}

#Footer a {
	color:#06b0cf;
	text-decoration:none;
	font-weight:700;
}

#Footer a:hover {
	color:#06b0cf;
	text-decoration:underline;
}


@media (min-width: 768px) {
	.navbar-brand {
		width:60px;
		height:50px;
	}

	.nav>li>a {
		padding-left:0;
		padding-right:0;
	}

	.header-row img {
		border:none;
	}

	.m-no-pad {
		padding-left:15px;
	}

	.nav-center .nav-item {
		line-height:1.2;
	}

	/* ----- HOME PAGE -----*/
	.hero-button a {
		font-size:28px;
		margin-right:0;
	}
	.hero-button .aleft {
		margin-right:0;
	}
	.hero-button .aright {
		margin-left:0;
	}
	.hero-button .hero-sub-nav::before {
		font-size:72px;
	}
	.hero-button .hero-sub-nav::after {
		font-size:72px;
	}

	.featured-8 {
		margin-top:13px;
	}

	.featured-valign-t {
		vertical-align:top;
	}
	.featured-valign-m {
		vertical-align:middle;
	}
	.featured-valign-b {
		vertical-align:bottom;
		padding-bottom: 20px;
	}

	.hero-img {
	}

	.hero-left {
		padding-right:0;
		margin-top:0;
	}

	.hero-right {
		padding-left:0;
		margin-top:0;
	}
	#Tagline {
		margin-top:30px;
		margin-bottom:40px;
	}

	.tall {
		height:406px;
		margin-top:0;
		margin-bottom:0;
	}

	.square {
		height:220px;
		overflow:visible;
	}

	.wide {
		height:173px;
		margin-top: 12px;
	}

	.marg-square {
		margin-top:0;
	}

	.featured-textbox h2,.featured-bottom-text h2 {
		font-size:30px;
		margin-bottom:0;
	}

	.featured-textbox h3,.featured-bottom-text h3 {
		font-size:15px;
		margin-top:0;
	}

	.featured-bottom-text {
		padding-top:15%;
	}

	/* ----- OUR WORK ----- */
	.work-header .make-table {
		height:90%;
	}

	.work-header div h1 {
		height:70%;
		font-size:50px;
	}

	.work-text {
		margin-top:0;
		margin-bottom:0;
	}

	.work-item img {
		width:570px;
		margin-top:0;
	}

	.hero-sub-nav {
		margin-top:30px;
		margin-bottom:10px;
	}

	.quote-box {
		margin-bottom:0;
	}

	/* ----- CALENDAR ----- */
	.hero-submit {
		margin-top:0;
	}
	
	/* ----- CONTACT ----- */
	.contact-txt-left{
		text-align:right;
	}
	.contact-txt-right{
		text-align:left;
	}
}

@media (min-width: 992px) {
	/* ----- HOME PAGE -----*/
	.hero-img img {
	}

	.featured-8 {
		margin-top:23px;
	}

	.tall {
		height:542px;
	}

	.square {
		height:293px;
	}

	.wide {
		height:226px;
	}

	.featured-textbox h2,.featured-bottom-text h2 {
		font-size:36px;
		margin-bottom:0;
	}

	.featured-textbox h3,.featured-bottom-text h3 {
		font-size:18px;
		margin-top:0;
	}

	.featured-bottom-text {
		padding-top:12%;
	}

	/* ----- OUR WORK ----- */
	.work-text {
		margin-top:6%;
		margin-bottom:0;
	}

	.hero-sub-nav {
		margin-top:40px;
		margin-bottom:20px;
	}

	/* ----- CALENDAR ----- */
	.hero-submit {
		margin-top:0;
	}
}

@media (min-width: 1200px) {
	.work-text {
		margin-top:10%;
	}

	.hero-sub-nav {
		margin-top:45px;
		margin-bottom:30px;
	}

	/* ----- HOME PAGE -----*/
	.hero-button a {
		font-size:42px;
	}

	.hero-button .hero-sub-nav::before {
		font-size:100px;
	}

	.hero-button .hero-sub-nav::after {
		font-size:100px;
	}

	.featured-8 {
		margin-top:30px;
	}

	.featured-bottom-text {
		height:250px;
	}

	.featured-textbox h2,.featured-bottom-text h2 {
		margin-top:15px;
	}

	.tall {
		height:665px;
	}

	.square {
		height:360px;
	}

	.wide {
		height:275px;
	}

	/* ----- CALENDAR ----- */
	.hero-submit {
		margin-top:10px;
	}
	
	/* ----- CONTACT ----- */
	.contact-txt-h {
	min-height: 600px;
	}

}

/**** Content Sliding ******/
.height-transition {
	-webkit-transition:max-height .5s ease-in-out;
	-moz-transition:max-height .5s ease-in-out;
	-o-transition:max-height .5s ease-in-out;
	transition:max-height .5s ease-in-out;
	overflow-y:hidden;
}

.height-transition-hidden {
	max-height:0;
}

/**** remove wow.js animation for tablet/mobile ******/

@media (max-width:768px) {
	.wow {
		visibility: visible !important;
		-webkit-animation: none !important;
	    -moz-animation: none !important;
	    -o-animation: none !important;
	    -ms-animation: none !important;
	    animation: none !important;
	}
}
