/* carousel styles */
@include media("screen", ">tablet") {
	.carousel-fade {
	    .carousel-inner {
	        .item {
	            transition-property: opacity;
	        }

	        .item,
	        .active.left,
	        .active.right {
	            opacity: 0;
	        }

	        .active,
	        .next.left,
	        .prev.right {
	            opacity: 1;
	        }

	        .next,
	        .prev,
	        .active.left,
	        .active.right {
	            left: 0;
	            transform: translate3d(0, 0, 0);
	        }
	    }
	}
}
#hero-carousel {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    @include media("screen", "<tablet") {
      position: relative;
      height: 319px;
      overflow: hidden;
      margin: 0 0 24px;
    }
    .carousel-holder {
	    height: 100vh;
		min-height: 500px;
		margin-right: 0;
	    .carousel-inner {
		    height: 100vh;
			min-height: 500px;
			margin-right: 0;
		    .item {
			    height: 100vh;
				min-height: 500px;
				margin-right: 0;
				transition-duration: 1s;
		    }
	    }
    }
}
.carousel{
  .carousel-control{
    background: none;
    color: $brand-primary;
    font-size: 12px;
    opacity: 1;
    text-shadow: none;
    @include size(30px);
    line-height: 30px;
    top: 50%;
    margin-top: -15px;
    filter:none;
    &:hover{
      color: $gray-darker;
    }
  }
  .control-row{
    @include inline-block(top);
    position: relative;
    padding: 0 55px;
    text-align: center;
    transform: translateX(-50%);
    left: 50%;
    @include media("screen", "<tablet") {
      padding: 0 20px;
      display: block;
    }
  }
  .carousel-indicators{
    position: static;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    @include inline-block(top);
    li{
      text-indent: 0;
      background: none;
      border: none;
      border-radius: 0;
      @include inline-block(top);
      @include size(auto);
      margin: 0 7px 0 8px;
      color: black(0.2);
      &:hover{
        color: $black;
      }
    }
    .active{
      color: $black;
    }
  }
}

/* latest-carousel styles */
.latest-carousel{
  margin-bottom: 120px;
  @include media("screen", "<desktop") {
    margin-bottom: 90px;
  }
  @include media("screen", "<tablet") {
    margin-bottom: 60px;
  }
  .carousel{
    padding: 0 25px;
    @include media("screen", "<desktop") {
      padding: 0;
    }
    .carousel-indicators{
      position: relative;
      background: $white;
      z-index: 2;
      float: left;
      margin: 0;
      bottom: auto;
      text-align: left;
      left: auto;
      width: auto;
      padding: 0 12px 0 0;
      transform: translateY(0);

      @include media("screen", "<desktop") {
        padding: 0 10px 0 41px;
      }
      @include media("screen", "<tablet") {
        background: none;
        float: none;
        padding: 0 20px;
        text-align: center;
      }
      li{
        margin: 0 19px 0 0;
        float: left;
        @include media("screen", "<tablet") {
          float: none;
          @include inline-block(top);
          margin: 0 8px;
        }
      }
    }
    .carousel-holder{
      position: relative;
      @include media("screen", "<tablet") {
        margin: 0 -20px;
      }
    }
    .carousel-inner{
      margin: 0 0 51px;
      @include media("screen", "<desktop") {
        margin: 0 0 16px;
      }
      @include media("screen", "<tablet") {
        margin: 0 0 11px;
      }
    }
    .carousel-control{
      @include media("screen", "<tablet") {
        display: none;
      }
      &.left{
	    font-size: 50px;
        left: 20px;
        @include media("screen", "<=1350px") {
          left: 10px;
        }
        @include media("screen", "<desktop") {
          left: 10px;
        }
        @include media("screen", "<tablet") {
          left: 10px;
        }
      }
      &.right{
	    font-size: 50px;
        right: 20px;
        @include media("screen", "<=1350px") {
          right: 10px;
        }
        @include media("screen", "<desktop") {
          right: 10px;
        }
        @include media("screen", "<tablet") {
          right: 10px;
        }
      }
    }
    .control-row{
      position: relative;
      overflow: hidden;
      text-align: left;
      display: block;
      padding: 0;
      @include media("screen", "<tablet") {
        overflow: visible;
        position: relative;
        margin: 0 0 18px;
        display: block;
        width: 100%;
        text-align: center;
      }
      &:before{
        @extend %double-border;
        left: 0;
        right: 0;
        top: 50%;
        margin-top: -3px;
        z-index: 1;
        display: block;
        @include media("screen", "<tablet") {
          display: none;
        }
      }
    }
    .partner-holder{
      /** max-width: 327px; **/
      margin: 0 auto;
      .btn{
        min-width: 188px;
        @include media("screen", "<tablet") {
          min-width: 144px;
        }
      }
    }
    .partner-logo{
      margin: 0 0 20px;
      @include inline-block(top);
      img{
        @include size(100%, auto);
      }
    }
  }
}

/* gallery-section styles */
.gallery-section{
  text-align: center;
  padding: 0 140px 0px;
  @include media("screen", "<desktop") {
    padding: 0 30px 0px;
  }
  @include media("screen", "<tablet") {
    padding: 0 10px 0px;
  }
  .carousel-holder{
    margin: 0  -110px 53px;
    position: relative;
    @include media("screen", "<desktop") {
      margin: 0 0 11px;
    }
    &:before{
      @extend %double-border;
      bottom: 63px;
      width: 9999px;
      z-index: 2;
      display: none;
      @include media("screen", "<desktop") {
        bottom: 21px;
      }

    }
    &.left-border{
      &:before{
        display: block;
        right: 53.3%;
        @include media("screen", "<desktop") {
          right: 50%;
        }
        @include media("screen", "<tablet") {
          display: none;
        }
      }
    }
    &.right-border{
      &:before{
        display: block;
        left: 63%;
        @include media("screen", "<desktop") {
          left: 50%;
        }
        @include media("screen", "<tablet") {
        display: none;
      }
      }
    }
    .carousel-control {
	    &.left {
		    left:20px;
	    }
	    &.right {
		    right:20px;
	    }
    }
  }
  .carousel-inner{
    margin: 0;
    img{
      @include size(100%, auto);
    }
  }
  .control-row{
    transform: translateX(0);
    left: auto;
    @include media("screen", "<tablet") {
      padding: 0 30px;
      margin: 0 -7px;
      display: block;
    }
  }
  .carousel-indicators{
    @include inline-block(top);
    margin: 0;
    text-align: center;
    li{
      float: none;
      margin: 0 7px 0 8px;
      @include inline-block(top);
    }
  }
}

/* intro-carousel styles */
.intro-carousel{
  padding: 0 30px;
  @include media("screen", "<tablet") {
    padding: 0 10px;
  }
  .carousel-holder{
    position: relative;
    &:before{
      @extend %double-border;
      bottom: 60px;
      right: 48%;
      width: 9999px;
      z-index: 4;
      @include media("screen", "<desktop") {
        bottom: 19px;
        right: 74%;
      }
    }
  }
  .carousel-control{
    &.left{
      left: -80px;
      @include media("screen", "<=1350px") {
        left: -50px;
      }
      @include media("screen", "<widescreen") {
        left: -30px;
      }
      @include media("screen", "<tablet") {
        left: -24px;
      }
    }
    &.right{
      right: -80px;
      @include media("screen", "<=1350px") {
        right: -50px;
      }
      @include media("screen", "<widescreen") {
        right: -30px;
      }
      @include media("screen", "<tablet") {
        right: -24px;
      }
    }
  }
}

/* plans-carousel styles */
.plans-carousel{
  .plans-bg {
	  margin-bottom: 40px;
  }
  .control-row{
    text-align: right;
    position: relative;
    @include media("screen", "<tablet") {
      margin-bottom: 11px;
    }
  }
  .control-block{
    padding: 0 270px;
    position: relative;
    @include media("screen", "<desktop") {

      padding: 0 20px 68px;
    }
    @include media("screen", "<tablet") {
      padding: 0 0 20px;
    }
  }
  .btn-holder{
    padding-top: 15px;
    @include media("screen", "<desktop") {
      bottom: 0;
      top: auto;
      left: 50%;
    }
    @include media("screen", "<tablet") {
      position: relative;
      left: 0;
      right: 0;
    }
    &:before{
      @extend %double-border;
      left: 0;
      top: 0;
      width: 9999px;
    }
    .btn{
      @include media("screen", "<tablet") {
        display: block;
      }
    }
  }
  .carousel-holder{
    margin-bottom: 45px;
    @include media("screen", "<desktop") {
      margin-bottom: 9px;
    }
    @include media("screen", "<tablet") {
      margin-bottom: 13px;
    }
  }
  .title{
    display: block;
    text-transform: uppercase;
    position: relative;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    color: $brand-primary;
    margin: 0 0 12px;
    span{
      color: $black;
    }
  }
  .image-frame {
	overflow: hidden;
	text-align: center;
	width: 100%;
	i {
		display: none;
	}
	&:hover {
		img {
			@include animate(transform, 0.5s, cubic-bezier(0, 0, .5, 1));
			transform: scale(1.2);
		}
		i {
			display: inline-block;
			position: absolute;
			top:40%;
			z-index: 99;
			left:0;
			right:0;
			color:$brand-primary;
		}
	  }
  }
}