/* collection styles */
.collection{
  position: relative;
  margin: 0 0 50px;
  padding-top: 50px;
  padding-bottom: 38px;
  @include media("screen", "<desktop") {
    padding-bottom: 0;
    margin: 0;
  }
  @include media("screen", "<tablet") {
    padding-top: 33px;
    padding-bottom: 18px;
  }
  .topic{
    text-align: center;
    margin: 0 auto 50px;
    max-width: 900px;
    @include media('screen', '<desktop') {
      margin: 0 auto 52px;
      padding-left: 20px;
    }
    @include media('screen', '<tablet') {
      text-align: left;
      margin: 0 auto 33px;
      padding-left: 0;
    }
    h2{
      font: 42px/1.2 $second-font-family-sans-serif;
      color: #692f25;
      margin: 0 0 4px;
      @include media('screen', '<tablet') {
        font-size: 34px;
      }
    }
    p{
      margin: 0;
    }
  }
}

/* residense-boxes styles */
.residense-boxes{
  margin: 0 0 60px;
  @include media('screen', '<desktop') {
    margin: 0 0 130px;
  }
  @include media('screen', '<tablet') {
    margin: 0 0 75px;
  }
}

/* residence styles */
.residence{
  font-size: 0;
  line-height: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0 0 30px;
  @include media('screen', '<desktop') {
    margin: 0 0 20px;
  }
  @include media('screen', '<tablet') {
    display: block;
  }
  &:last-child{
    .text-holder{
      &:after{
        left: 30%;
        bottom: -33px;
        @include media('screen', '<desktop') {
          left: 18px;
          bottom: -104px;
        }
        @include media('screen', '<tablet') {
          left: 50%;
          bottom: - 39px;
        }
      }
    }
  }
  .img-holder{
    display: table-cell;
    vertical-align: middle;
    width: 327px;
    @include media('screen', '<desktop') {
      vertical-align: top;
    }
    @include media('screen', '<tablet') {
      width: auto;
      display: block;
      margin: 0 0 20px;
    }
    img{
      display: block;
      width: 100%;
      height: auto;
      @include media('screen', '<tablet') {
        max-width: 100%;
        width: auto;
        margin: 0 auto;
      }
    }
  }
  .text-holder{
    display: table-cell;
    vertical-align: middle;
    position: relative;
    @include media('screen', '<desktop') {
      vertical-align: top;
      padding: 20px 0 0 17px;
    }
    @include media('screen', '<tablet') {
      display: block;
      padding: 0 0 26px;
    }
    &:after{
      content:"";
      position:absolute;
      bottom:0;
      left:10%;
      right: -9999px;
      height: 5px;
      border: solid $brand-primary;
      border-width: 1px 0;
      @include media('screen', '<desktop') {
        left: 18px;
      }
      @include media('screen', '<tablet') {
        left: 0;
      }
    }
    .logo-img{
      max-width: 100%;
    }
  }
  .inner-area{
    @include inline-block(middle);
    width: 55%;
    padding: 0 10px 0 10px;
    text-align: center;
    @include media('screen', '<desktop') {
      width: auto;
      display: block;
      margin: 0px;
      padding: 0;
    }
  }
  .btn-holder{
    @include inline-block(middle);
    text-align: left;
    width: 32%;
    padding: 80px 0;
    position: relative;
    @include media('screen', '<desktop') {
      width: auto;
      display: block;
      padding: 0;
      text-align: center;
      margin-bottom: 20px;
    }
  }
  .btn{
    position: relative;
    @include media('screen', '<desktop') {
      position: static;
    }
    @include media('screen', '<tablet') {
      position: relative;
    }
    &:after{
      content:"\f061";
      position:absolute;
      top:50%;
      left:100%;
      margin: -5px 0 0 40px;
      font: normal normal normal 13px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: $brand-primary;
      @include media('screen', '<desktop') {
        margin: -5px 0 0 17px;
      }
      @include media('screen', '<tablet') {
        margin: -5px 0 0 57px;
      }
    }
  }
  .inner-area{
    font-size: 14px;
    line-height: 1.86;
  }
}

/* exclusive-features styles */
.exclusive-features{
  position: relative;
  padding-top: 40px;
  h2{
    text-align: center;
    text-transform: uppercase;
    font: 20px/1.2 $second-font-family-sans-serif;
    margin: 0 0 55px;
    @include media('screen', '<tablet') {
      margin: 0 0 31px;
    }
  }
  h3{
    text-transform: uppercase;
    font: 16px/1.2 $second-font-family-sans-serif;
    margin: 0 0 9px;
    color: $black;
  }
  .inner-area{
    padding: 0 40px 0 0;
    margin: 0 0 50px;
    @include media('screen', '<desktop') {
      padding: 0 30px 0 0;
    }
    @include media('screen', '<tablet') {
      padding: 0;
      margin: 0 0 28px;
    }
  }
}