/* Сommon site styles */
html{height:100%;}
body {
  margin:0;
  height: 100%;
  min-width: 320px;

}
.main-holder{
  overflow: hidden;
  display: table;
  width: 100%;
  height:100%;
  table-layout: fixed;
}
#wrapper {
  display:table-cell;
  margin:0 auto;
  width: 100%;
  overflow: hidden;
}
#main{
  position: relative;
}

.bg-stretch {
 background-size: cover;
 background-position: 50% 50%;
}

.container-fluid{
  max-width: 100%;
  @include media ('screen', '>rich-people') {
	  max-width: 80%;
  }
}
a{
  @include animate(color);
}

h1,
h2,
h3,
h4,
h5,
h6{
  margin-top: 0;
}

picture{
  img{
    @include size(100%, auto);
  }
}
.section{
  padding-left: 30px;
  padding-right: 30px;
  @include media("screen", "<tablet") {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.btn{
  @include animate(color background);

  &.btn-default{
    border-width: 2px;
    padding-top: $padding-base-vertical - 1;
    padding-bottom: $padding-base-vertical - 1;
    &:focus,
    &:hover{
      background: $brand-primary;
      border-color: $brand-primary;
      color: $white;
    }

  }
}

.btn{
  font-size: 12px;
  line-height: 1.2;
  text-transform: uppercase;
}

.form-group {
  @include media ('screen', '<tablet') {
    margin: 0 0 10px;
  }
}

.form-control{
  -webkit-appearance:none;
  box-shadow: none;
  @include placeholder {
    color: $brand-primary;
  }
}
/* headline */
.headline {
  position: relative;
  &:before {
    @extend %double-border;
    width: 82px;
    top: 0;
    left: 50%;
    margin-left: -41px;
    @include media ('screen', '<tablet') {
      left: 0;
      margin: 0;
    }
  }
}

/* single-img styles */
.single-img{
  padding-top: 65px;
  padding-bottom: 60px;
  @include media("screen", "<desktop") {
    padding-top: 60px;
  }
  @include media("screen", "<tablet") {
    padding-top: 41px;
  }
  img{
    @include size(100%, auto);
  }
}

/* map-placeholder styles */
.map-placeholder{
  padding: 0 40px;
  position: relative;
  margin-bottom: 60px;
  @include media("screen", "<desktop") {
    margin-bottom: 40px;
  }
  @include media("screen", "<tablet") {
    margin: 0 -10px 49px;
    padding: 0;
  }
  .pin{
    @include absolute-top(87.4%, 48%);
    z-index: 2;
    width: 62px;
    margin-top: -16px;
    img{
      @include size(100%, auto);
    }
  }
}

/* fake-square styles */
.fake-square {
  @include img-responsive;
  @include media("screen", "<tablet") {
    max-width: none;
    width: 100%;
  }
}