/* follow-us styles */
.follow-us{
  position: relative;
  margin: 0 0 39px;
  @include media('screen', '<desktop') {
    margin: 0 0 20px;
  }
  h2{
    font-size: 20px;
    line-height: 1.2;
    margin: 0 200px 26px 0;
    text-transform: uppercase;
    @include media('screen', '<tablet') {
      margin: 0 0 15px;
      padding-left: 26px;
      position: relative;
    }
    .fa{
      font-size: 19px;
      margin: 0 7px 0 0;
      @include media("screen", "<tablet") {
        @include absolute-top(3px, 0);
      }
    }
  }
  .btn{
    min-width: 188px;
    position:absolute;
    top:-70px;
    right:0;
    @include media('screen', '<tablet') {
      position: static;
      min-width: 135px;
    }
  }
}

/* visuals-boxes styles */
.visuals-boxes{
  position: relative;
  @include media('screen', '<tablet') {
    overflow: hidden;
  }
  .box{
    display: block;
    overflow: hidden;
    position: relative;
    margin: 0 0 20px;
    @include media('screen', '<tablet') {
      margin: 0 -5px 11px;
    }
    &:hover{
      .bg-stretch{
        transform: scale(1.2);
      }
    }
  }
  .bg-stretch{
    position:absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: -1;
    @include animate(transform, 0.5s, cubic-bezier(0, 0, .5, 1));
    img{
      max-width: none;
    }
  }
}