/* footer styles */
#footer {
  overflow:hidden;
  display:table-footer-group;
  height:1%;
  font-size: 13px;
  .footer-holder {
    padding: 78px 0 39px;
    position: relative;
    @include media ('screen', '<desktop') {
      padding: 65px 30px 50px;
    }
    @include media ('screen', '<tablet') {
      padding: 28px 10px 18px;
    }
    &:before {
      @extend %double-border;
      left: -110px;
      right: -110px;
      top: 0;
      z-index: 10;
      @include media ('screen', '<tablet') {
        left: 10px;
        right: 10px;
      }
    }
  }
  .main-block {
    text-align: left;
    padding-top: 4px;
    @include media ('screen', '<tablet') {
      text-align: right;
      padding: 0;
    }
    li {
      margin: 0 0 16px;
      @include media ('screen', '<tablet') {
        margin: 0 0 12px;
      }
    }
  }
  .footer-logo {
    @include media ('screen', '<tablet') {
      padding: 7px 0 0;
      img {
        margin-left: 0;
      }
    }
  }
  .footer-list {
    a {
      color: $black;
      &:hover {
        color: $brand-primary;
      }
    }
  }
  .info-block {
    font-size: 14px;
    text-align: left;
    padding: 5px 0 0 27px;
    @include media("screen", "<widescreen") {
      padding-left: 0;
    }
    @include media ('screen', '<tablet') {
      text-align: right;
      padding: 14px 0 0;
    }
  }
  .logo-list {
    padding: 5px 0 0;
    font-size: 0;
    @include media ('screen', '<tablet') {
      padding: 0;
    }
    .img-responsive {
      margin: 0 auto;
    }
    li {
      text-align: center;
      width: 33.3%;
    }
    a {
      &:hover {
        opacity: .8;
      }
    }
    img {
      vertical-align: bottom;
      max-width: 100%;
      height: auto;
    }
  }
  .social-networks {
    text-align: center;
    padding: 7px 37% 0 0;
    @include media ('screen', '<desktop') {
      padding: 7px 30% 0 0;
    }
    @include media ('screen', '<tablet') {
      padding: 23px 0 0;
      text-align: right;
      margin-right: -20px;
    }
    .fa {
      font-size: 19px;
    }
    li {
      margin: 0 0 13px;
    }
    @include media ('screen', '<tablet') {
      font-size: 0;
      li {
        @include inline-block(middle);
        margin: 5px 19px;
      }
      .fa {
        font-size: 20px;
      }
    }
  }
  .site-link {
    padding: 9px 0 0;
    font-size: 12px;
    @include media ('screen', '<tablet') {
      padding: 4px 0 0;
    }
  }
  address {
    color: $brand-primary;
    @include media ('screen', '<desktop') {
      margin-left: -5px;
    }
    @include media ('screen', '<tablet') {
      margin: 0 0 7px;
    }
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}