/* header styles */
#header{
  padding: 47px 30px 36px;
  @include absolute-top(0, 0);
  right: 0;
  z-index: 200;
  @include media("screen", "<desktop") {
    padding-bottom: 53px;
  }
  @include media("screen", "<tablet") {
    padding: 16px 10px;
  }
  .homepage &{
    padding: 22px 30px 0;
    @include media("screen", "<tablet") {
      background: $white;
      padding: 16px 10px;
    }
  }
  &.fixed-position{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: $white;
    padding: 12px 30px;
    z-index: 200;
    @include media("screen", "<tablet") {
      padding: 16px 10px;
    }
    &:before{
      @extend %double-border;
      top: 100%;
      width: 200px;
      right: 0;
      margin-top: 10px;
      @include media("screen", "<tablet") {
        display: none;
      }
    }
    .navbar-brand{
      margin-top: 0;
      width: 50px;
      top: 12px;
      z-index: 5;
      .homepage &{
        width: 50px;
        top: 12px;
      }
      .for-fixed{
        display: block;
      }
      .for-static{
        display: none !important;
      }
    }
    .info{
      display: none;
    }
    .navbar-nav{
      a{
        color: $link-color;
        &:hover{
          color: $black;
          .homepage &{
            color: $black;
          }
        }
        .homepage &{
          color: $link-color;
        }
      }
      .active{
        a{
         color: $black;
          .homepage &{
             color: $black;
          }
         &:hover{
           color: $black;
           .homepage &{
             color: $black;
          }
         }
        }
      }
    }
     .social-networks{
      @include media("screen", "<tablet") {
        margin-top: 20px;
      }
     }
    .main-nav{
      padding: 6px 0;
      @include media("screen", "<tablet") {
        padding-top: 35px;
        margin-bottom: 20px;
      }
      &:before{
        display: none;
        @include media("screen", "<tablet") {
          display: block;
        }
      }
      .active{
        a{
          &:before{
            .homepage &{
              background: $black;
            }
          }
        }
      }
      a{
        line-height: 1;
      }
    }
    .navbar-toggle{
      margin-bottom: 0;
    }
  }
  .navbar-brand{
    width: 46px;
    padding: 0;
    height: auto;
    margin-top: 0;
    z-index: 5;
    @include absolute-top(30px, 40px);
    @include media("screen", "<tablet") {
      margin-top: 0;
      top: 20px;
      width: 46px;
      left: 20px;
    }
    .homepage &{
      width: 56px;
      @include media("screen", "<desktop") {
        width: 40px;
        top: 27px;
      }
      @include media("screen", "<tablet") {
        margin-top: 0;
        top: 20px;
        width: 46px;
        left: 20px;
      }
    }
    img{
      @include size(100%, auto);
    }
    .for-fixed{
      display: none;
    }
    .for-static{
      display: block;
    }
  }
  .container-fluid{
    max-width: none;
  }
  .navbar-nav{
    a{
      @include inline-block(top);
      padding: 0;
      background: none;
      color: $link-color;
      &:hover{
        color: $black;
        .homepage &{
          color: rgba($white, .8);
          @include media("screen", "<tablet") {
            color: $black;
          }
        }
      }
      .homepage &{
        color: $white;
        background: none;
        @include media("screen", "<tablet") {
          color: $link-color;
        }
      }
    }
    .active{
      a{
        color: $black;
        .homepage &{
          color: $white;
          @include media("screen", "<tablet") {
            color: $link-color;
          }
        }
        &:hover{
          color: $black;
          .homepage &{
            color: $white;
            @include media("screen", "<tablet") {
              color: $link-color;
            }
          }
        }
      }
    }
  }
  .info{
    margin: 0 0 12px;
    @include media("screen", "<desktop") {
      margin: 0 0 13px;
    }
    @include media("screen", "<tablet") {
      margin: 0 0 20px;
      padding: 0 0 0 60px;
    }
    .navbar-nav{
      font-weight: 300;
      margin: 0;
      font-size: 15px;
      @include media("screen", "<desktop") {
        font-size: 14px;
      }
      @include media("screen", "<tablet") {
        font-size: 15px;
        line-height: 1.2;
        text-align: right;
        float: right;
        position: relative;
        padding-bottom: 18px;
      }
      &:before{
        @extend %double-border;
        bottom: 0;
        left: 0;
        right: 0;
        display: none;
        @include media("screen", "<tablet") {
          display: block;
        }
      }
      li{
        margin: 0 0 0 52px;
        position: relative;
        float: left;
        @include media("screen", "<desktop") {
          margin-left: 48px;
        }
        @include media("screen", "<tablet") {
          display: block;
          float: none;
          margin: 0 0 4px;
        }
        &:before{
          content: '';
          @include absolute-top(50%, -26px);
          @include size(1px, 16px);
          margin-top: -8px;
          background: #dcdcdc;
          @include media("screen", "<desktop") {
            left: -24px;
          }
          @include media("screen", "<tablet") {
            display: none;
          }
          .homepage &{
            background: $white;
          }
        }
        &:first-child{
          margin: 0;
          @include media("screen", "<tablet") {
            margin: 0 0 4px;
          }
          &:before{
            display: none;
          }
        }
      }
      a{
        @include media("screen", "<tablet") {
          line-height: 1.2;
        }
      }
    }
  }
  .collapsing{
    // position: absolute;
    // left: -10px;
    // right: -10px;

  }
  .navbar-collapse {
    padding: 0;
    margin: 0;
    @include media("screen", "<tablet") {
      @include absolute-top(100%, -10px);
      padding: 0 20px;
      right: -10px;
      background: $white;
      overflow: hidden;
      height: auto !important;
      opacity: 0;
      visibility: hidden;
      @include animate(opacity visibility );
      transition:none;
    }
    &[aria-expanded="true"]{
      @include media("screen", "<tablet") {
      @include animate(opacity visibility );
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .navbar-toggle{
    padding: 0;
    margin: 0 0 22px;
    @include size(37px, 21px);
    z-index: 5;
    .icon-bar{
      @include size(100%, 3px);
      display: block;
      background: $brand-primary;
      @include animate(all);
      border-radius: 0;
    }
    .center{
      opacity: 0;
    }
    .top{
      transform: rotate(-45deg);
      top: 7px;
      position: relative;
    }
    .bottom{
       transform: rotate(45deg);
       position: relative;
       bottom: 7px;
    }
    &.collapsed{
      .center{
        opacity: 1;
      }
      .top{
       transform: rotate(0);
       margin-top: 0;
       top: -2px;
      }
      .bottom{
          transform: rotate(0);
          bottom: -2px;
      }
    }
  }
  .social-networks{
    @include media("screen", "<tablet") {
      float: left;
      font-size: 19px;
      width: 40px;
      text-align: center;
      margin: 53px 0 0 4px;

    }
    li{
      @include media("screen", "<tablet") {
        margin: 0 0 10px;
      }
    }
  }
}

/* main-nav styles */
.main-nav{
  font-size: 14px;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
  padding: 23px 0;
  margin: 0;
  position: relative;
  @include media("screen", "<desktop") {
    font-size: 12px;
    text-align: justify;
    line-height: 0;
    float: none !important;
    padding-bottom: 0;
  }
  @include media("screen", "<tablet") {
    text-align: right;
    float: none;
    overflow: hidden;
    padding: 16px 2px 7px 0;
  }
  &:before{
    @extend %double-border;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    @include media("screen", "<desktop") {
      right: -40px;
    }
    @include media("screen", "<tablet") {
      right: 0;
      border-color: $brand-primary;
      bottom: 0;
      width: 184px;
      left: auto;
      top: auto;
    }
    .homepage &{
      border-color: rgba($white, 0.5);
      @include media("screen", "<tablet") {
        border-color: $brand-primary;
      }
     }
  }
  &:after{
    @include media("screen", "<desktop") {
      content: '';
      @include inline-block(top);
      width: 100%;
    }
    @include media("screen", "<tablet") {
      display: none;
    }
  }
  li{
    margin: 0 0 0 57px;
    @include media("screen", "<desktop") {
      float: none;
      line-height: 1.2;
      @include inline-block(top);
    }
    @include media("screen", "<tablet") {
      width: 49.3%;
      margin: 0 0 34px;
    }
    &:first-child{
      margin: 0;
      @include media("screen", "<tablet") {
        margin-bottom: 34px;
      }
    }
    a{
      line-height: 1;
    }
  }
  .active{
    a{
      &:before{
        display: block;
      }
    }
  }
  a{
    line-height: 1;
    transition:none;
    &:hover{
      @include animate(color);
    }
    &:before{
      content: '';
      @include absolute-bottom(-9px, 0);
      right: 0;
      background: $black;
      height: 1px;
      display: none;
      .homepage &{
        background: rgba($white, 0.5);
        @include media("screen", "<tablet") {
          background: $link-color;
          bottom: -2px;
        }
      }
    }
  }
}