body.location {
	.img-holder {
		padding-top:0px;
		margin-bottom: 0px;
		&:after{
			display: none;
		}
	}
}

/* location styles */
.location{
  position: relative;
  margin: 0 0 231px;
  @include media('screen', '<desktop') {
    margin: 0 0 94px;
  }
  @include media('screen', '<tablet') {
    margin: 0 0 56px;
  }
  h2{
    font-size: 20px;
    line-height: 1.2;
    margin: 0 0 19px;
  }
  p{
    margin: 0 0 23px;
    line-height: 1.9;
    color: #585858;
    @include media('screen', '<tablet') {
      margin: 0 0 13px;
    }
  }
  .img-holder{
    position: relative;
    padding: 290px 0 0;
    margin: 0 0 55px;
    z-index: 1;
    @include media('screen', '<tablet') {
      padding: 116px 0 0;
      margin: 0 0 151px;
    }
    &:after{
      @extend %double-border;
      bottom: 0;
      left: -5px;
      right: -300px;
      z-index: -1;
      @include media('screen', '<desktop') {
        left: 0;
      }
      @include media('screen', '<tablet') {
        left: -9999px;
      }
    }
  }
  .visual-img{
    position:absolute;
    left:100%;
    &.style1{
      top:30px;
      margin:0 0 0 -138px;
      z-index:2;
      @include square(225px);
      @include media('screen', '<desktop') {
        margin:0 0 0 -237px;
      }
      @include media('screen', '<tablet') {
        @include square(77px);
        margin: -6px 0 0 -58px;
        left: 0;
      }
    }
    &.style2{
      top:100%;
      margin:84px 0 0 28px;
      z-index:3;
      @include square(350px);
      @include media('screen', '<desktop') {
        @include square(236px);
        margin:7px 0 0 29px;
      }
      @include media('screen', '<tablet') {
        @include square(118px);
        margin: 9px 0 0;
        left: 0;
      }
    }
    &.style3{
      top:0;
      margin:0 0 0 117px;
      z-index:1;

      @include size(806px, 630px);
      @include media('screen', '<desktop') {
        @include size(521px, 407px);
        margin:0 0 0 11px;
      }
      @include media('screen', '<tablet') {
        @include size(271px, 212px);
        margin: 0;
        left: 29px;
      }
    }
    img{
      @include size(100%, auto);
    }
  }
  .btn{
    min-width: 189px;
  }
}

// map styles //

div.gjmaps-wrapper {
  ul.gjmaps-categories {
	display: none;
    li.gjmaps-category {
      &.active {}
      div.gjmaps-label {
        span {}
      }
    }
  }
  .gjmaps-map-canvas {}
}