/* overview-section styles */
.home {
	.headline
	h2.home-title {

    }
}
.overview-section {
  padding-top: 61px;
  padding-bottom: 61px;
  @include media("screen", "<tablet") {
    padding-top: 0;
    padding-bottom: 0;
  }
  .headline {
    font-size: 24px;
    color: $brand-primary;
    padding: 39px 0;
    margin: 0 auto 46px;
    max-width: 680px;
    line-height: 1.2;
    font-family: $second-font-family-sans-serif;
    @include media ('screen', '<desktop') {
      max-width: 560px;
      line-height: 1.15;
      margin: 0 auto 56px;
      padding-bottom: 0;
    }
    @include media ('screen', '<tablet') {
      padding: 24px 10px 0;
      margin-bottom: 0;
      color: black(0.6);
      font: 14px/1.86 $font-family-sans-serif;
    }
    &:before {
      left: 50%;
      margin-left: -41px;
      top: 0;
      bottom: auto;

    }
    h2 {
	    font: 42px/1.2 $second-font-family-sans-serif;
		color: #692f25;
		margin: 0 0 4px;
		text-align: center;
		text-transform: none;
		@include media('screen', '<tablet') {
        	font-size: 34px;
      	}
    }
    h3 {
	    font-size: 20px;
    }
  }
  .mobile-text {
    padding: 0 10px;
  }
  h2 {
    text-transform: uppercase;
    margin-bottom: 10px;
    @include media ('screen', '<desktop') {
      margin: 0 0 10px;
    }
  }
  .intro-holder{
    padding: 26px 65px 39px;
    @include media("screen", "<desktop") {
      padding: 26px 40px 19px;
    }
    @include media("screen", "<tablet") {
      padding: 8px 0 39px;
      text-align: left;
    }
    h2{
      margin: 0 0 20px;
    }
    p{
      margin: 0 0 23px;
      @include media("screen", "<tablet") {
        margin-bottom: 10px;
      }
    }
    .btns-holder{
      .btn{
        margin: 0 7px;
        @include media("screen", "<tablet") {
          margin: 0 0 22px;
        }
      }
    }
  }
}

/* overview-block styles */
.overview-block {
  position: relative;
  margin: 0 0 70px;
  @include media("screen", "<desktop") {
    margin: 0 0 10px;
  }
  @include media ('screen', '<tablet') {
    padding: 45px 0;
    margin-bottom: 30px;
  }
  &:before,
  &:after {
    @extend %double-border;
    width: 462px;
    @include media ('screen', '<desktop') {
      width: 385px;
    }
    @include media ('screen', '<tablet') {
      width: 170px;
    }
  }
  &:before {
    right: 16.2%;
    top: 31px;
    z-index: 15;
    @include media ('screen', '<widescreen') {
      display: none;
    }
    .vision & {
	    display: none;
    }
  }
  &:after {
    bottom: 51px;
    left: -154px;
    z-index: 1;
    @include media ('screen', '<desktop') {
      bottom: 313px;
      left: -40px;
      width: 150px;
      z-index: 10;
    }
    @include media ('screen', '<tablet') {
      bottom: -12px;
      left: 0;
      width: 140px;
    }
  }
  .text-holder {
    padding: 10px 8.8% 20px;
    width: 95%;
    @include inline-block(middle);
    @include media ('screen', '<desktop') {
      width: 100%;
      display: block;
      padding: 0;
    }
    @include media ('screen', '<tablet') {
      padding: 18px 10px 11px 0;
    }
  }
  .row {
    &:first-child {
      .text-holder {
        @include media ('screen', '<desktop') {
          padding-top: 0px;
        }
        @include media ('screen', '<tablet') {
          padding: 25px 10px 11px 0;
        }
      }
    }
  }
  .text-block {
    height: 100%;
    &:after {
      content: '';
      @include inline-block(middle);
      width: 1px;
      height: 100%;
      margin-left: -1px;
      @include media ('screen', '<desktop') {
        display: none;
      }
    }
  }
  img {
    margin-bottom: 20px;
    @include img-responsive;
    @include media("screen", "<desktop") {
      margin-bottom: 59px;
    }
    @include media ('screen', '<tablet') {
      margin: 0 auto 7px;
      max-width: 280px;
    }
  }
}