/* request-block styles */

iframe {
    min-height: 260px;
}

@media (max-width: $screen-lg) {
    iframe {
        min-height: 340px;
    }
}

@media (max-width: $screen-md) {
    iframe {
        min-height: 460px;
    }
}

@media (max-width: 480px) {
    iframe {
        min-height: 400px;
    }
}

.request-block {
    padding-top: 60px;
    @include media("screen", "<tablet") {
        padding-top: 11px;
    }
    .info-list {
        color: $black;
        font-size: 15px;
        font-weight: 600;
        @include media ('screen', '<tablet') {
            line-height: 1.1;
        }
        li {
            margin-right: 10px;
            @include media ('screen', '<tablet') {
                margin: 0 0 4px;
                padding: 0 10px 0 36px;
                position: relative;
                display: block;
            }
        }
        a {
            color: inherit;
            &:hover {
                color: $brand-primary;
            }
        }
        .fa {
            color: $brand-primary;
            margin-right: 10px;
            @include media ('screen', '<tablet') {
                position: absolute;
                left: 5px;
                top: 2px;
            }
        }
        address {
            margin: 0;
            @include media ('screen', '<tablet') {
                line-height: 1.55;
            }
        }
    }
    .headline {
        position: relative;
        padding: 40px 0 7px;
        @include media ('screen', '<desktop') {
            padding: 41px 0 4px;
        }
        @include media ('screen', '<tablet') {
            padding: 30px 0 7px;
        }
        h2 {
            font-size: 23px;
        }
        &:before {
            @extend %double-border;
            width: 81px;
            top: 0;
            left: 50%;
            margin-left: -40px;
            @include media ('screen', '<tablet') {
                left: 0;
                margin: 0;
            }
        }
    }
    .inner-holder {
        padding: 0 0 69px;
        @include media ('screen', '<desktop') {
            padding: 0 0 50px;
        }
        @include media ('screen', '<tablet') {
            text-align: left;
            padding: 0 0 30px;
        }
        p {
            margin: 0 0 4px;
            @include media ('screen', '<tablet') {
                margin: 0 0 14px;
            }
        }
    }
    .intro-text {
        margin: 0 0 72px;
        @include media ('screen', '<desktop') {
            margin: 0 0 32px;
        }
        @include media ('screen', '<tablet') {
            margin: 0 0 28px;
        }
    }
}


/* request-form styles */

.request-form {
    margin: 0 0 50px;
    @include media ('screen', '<tablet') {
        margin: 0 0 31px;
    }
    .btn {
        min-width: 130px;
    }
}


/* request-link */

#request-link {
    @include absolute-top(276px, 0);
    transform: rotate(-90deg) translateY(-45px);
    width: 181px;
    max-height: 22px;
    font-size: 12px;
    padding-left: 40px;
    z-index: 100;
    @include animate(opacity visibility);
    @include media("screen", "<=1300px") {
        transform: rotate(-90deg) translateY(-60px);
    }
    @include media("screen", "<desktop") {
        top: 108px;
    }
    @include media("screen", "<tablet") {
        display: none !important;
    }
    .homepage & {
        @include media("screen", "<desktop") {
            //top: 170px;
        }
    }
    &.fixed-link {
        position: fixed;
        @include media("screen", "<desktop") {
            top: 150px;
        }
        &.hide-link {
            opacity: 0;
            visibility: hidden;
        }
    }
    &:hover {
        .text {
            color: $link-color;
        }
    }
    .text {
        font-weight: 600;
        color: $black;
        text-transform: uppercase;
    }
    .fa {
        margin: 0 26px 0 0;
        @include absolute-top(5px, 0);
    }
}