/* info box styles */

.info-box {
    position: relative;
    padding-top: 50px;
    padding-bottom: 84px;
    @include media('screen', '<desktop') {
        padding-bottom: 61px;
        padding-left: 48px;
    }
    @include media('screen', '<tablet') {
        padding-bottom: 25px;
        padding-top: 31px;
        padding-left: 10px;
    }
    h2 {
        font: 42px/1.2 $second-font-family-sans-serif;
        margin: 0 0 14px;
        @include media('screen', '<tablet') {
            font-size: 34px;
            margin: 0 0 27px;
        }
    }
    p {
        margin: 0 0 26px;
    }
    .data-list {
        @include media("screen", "<tablet") {
            margin-left: 19px;
            margin-bottom: 24px;
        }
    }
    .name {
        @include inline-block(top);
        width: 63px;
        padding: 0 10px 0 0;
        color: $brand-primary;
        @include media("screen", "<desktop") {
            width: 60px;
        }
    }
}

.more-residences {
    margin-top: 110px;
    margin-bottom: 60px;

    h2 {
        text-transform: uppercase;
        margin: 20px 0;
        

    }
    .residences-next {
        margin-top: 20px;
        img {
            transition: all .2s linear;
            &:hover {
                -ms-transform: scale(1.1, 1.1);
          
                -webkit-transform: scale(1.1, 1.1);
          
                transform: scale(1.1, 1.1);
            }
        }
        
        
    }
      
}




/* residence-features styles */

.residence-features {
    position: relative;
    overflow: hidden;
    padding-bottom: 53px;
    @include media("screen", "<desktop") {
        padding-bottom: 63px;
    }
    @include media("screen", "<tablet") {
        padding-bottom: 26px;
    }
    h2 {
        font: 20px/1.2 $second-font-family-sans-serif;
        text-transform: uppercase;
        margin: 0 0 59px;
        padding: 0 0 31px;
        position: relative;
        @include media('screen', '<tablet') {
            margin: 0 0 37px;
        }
        &:after {
            @extend %double-border;
            bottom: 0;
            left: 0;
            right: -9999px;
        }
    }
    .img-holder {
        padding: 5px 0 40px;
        @include media('screen', '<desktop') {
            padding: 5px 0 44px;
        }
        @include media('screen', '<tablet') {
            padding: 0 0 36px;
        }
        img {
            display: block;
            height: auto;
            max-width: 100%;
        }
        picture {
            img {
                width: auto;
            }
        }
    }
    h3 {
        font: 16px/1.2 $second-font-family-sans-serif;
        margin: 0 0 9px;
        text-transform: uppercase;
        color: $black;
        @include media('screen', '<tablet') {
            margin: 0 0 8px;
        }
    }
    p {
        margin: 0;
    }
    .box {
        padding: 0 0 50px;
        @include media('screen', '<desktop') {
            padding: 0 0 27px;
        }
    }
}

section.plans-carousel {
    .plans-bg {
        .bg-stretch {
            background-attachment: fixed;
            height: 500px;
        }
    }
}