/* vision-section styles */
.vision-section {
  padding-top: 27px;
  padding-bottom: 56px;
  .intro-block {
    position: relative;
    padding: 30px 0 50px;
    @include media ('screen', '<desktop') {
      padding: 30px 0 43px 40px;
    }
    @include media ('screen', '<tablet') {
      padding: 30px 0 44px;
    }
    h2 {
      font: 42px/1.2 $second-font-family-sans-serif;
      color: #692f25;
      margin: 0 0 4px;
      text-align: center;
      @include media('screen', '<tablet') {
        font-size: 34px;
      }
     &.vision-header {
	     text-align: left;
	     margin-bottom: 5px;
	     text-transform: none;
     }
    }
  }
  .intro-text {
    padding: 0 0 0 0;
    margin: 0 0 59px;
    @include media ('screen', '<desktop') {
      margin: 0 0 10px;
      padding: 0 10px 0 0;
    }
    @include media ('screen', '<tablet') {
      padding: 0;
    }
  }
}

/* vision-block styles */
.vision-block {
  padding: 53px 0;
  position: relative;
  @include media ('screen', '<desktop') {
    padding: 73px 0 31px;
  }
  @include media ('screen', '<tablet') {
    padding: 16px 0;
  }
  &:before{
    @extend %double-border;
    left: 67.67%;
    bottom: 6px;
    width: 9999px;
    @include media("screen", "<desktop") {
      left: 51.5%;
      bottom: 4px;
    }
    @include media("screen", "<tablet") {
      bottom: 1px;
      left: 78.5%;
    }
  }
  .visual-box {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 20px;
    text-align: left;
    @include media("screen", "<desktop") {
      margin-bottom: 18px;
    }
    @include media ('screen', '<tablet') {
      margin-bottom: 10px;
    }
    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: black(.4);
      z-index: 10;
      transition: background .3s .3s;
    }
    &.hover {
      &:before {
        transition: background .3s;
        background: black(.8);
      }
      .overlay-box {
        transition: transform .3s, top .3s;
        transform: translateY(0) translateZ(0);
        bottom: 0;
        &:before {
          transition: transform .3s .3s, opacity .3s .3s;
          transform: translateX(0) translateZ(0);
          opacity: 1;
        }
        .text {
          opacity: 1;
          transition: opacity .3s .2s;
        }
      }
    }
  }
  .text-box {
    padding: 77px 0 10px 30px;
    @include media ('screen', '<desktop') {
      padding: 0;
      margin-top: -17px;
    }
    @include media ('screen', '<tablet') {
      margin: 0 0 30px;
    }
    h2 {
      @include media ('screen', '<desktop') {
        margin-top: 0;
      }
    }
  }
  .overlay-box {
    position: absolute;
    z-index: 20;
    left: 0;
    right: 0;
    bottom: 90px;
    color: $white;
    padding: 20px 29px;
    transform: translateY(100%) translateZ(0);
    transition: transform .3s .3s, bottom .3s .3s;
    @include media ('screen', '<desktop') {
      padding: 20px;
    }
    &:before {
      @extend %double-border;
      width: 87px;
      left: 2px;
      top: 2px;
      border-color: $white;
      opacity: 0;
      transform: translateX(-100%) translateZ(0);
      transition: transform .3s, opacity .3s;
    }
    p {
      margin: 0;
    }
    .text {
      opacity: 0;
      transition: opacity .3s;
      padding-right: 5%;
    }
  }
  h3 {
    font-size: 24px;
    line-height: 1.17;
    text-transform: uppercase;
    margin: 0 0 10px;
    color: $white;
    position: relative;
    z-index: 20;
  }
  .bg-stretch {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
}