/* visual styles */
.visual{
  position: relative;
  overflow: hidden;
  text-align: center;
  margin-right: -149px;
  @include media("screen", "<widescreen") {
    margin-right: 0;
  }
  @include media("screen", "<desktop") {
    padding: 0 0 40px;
  }
  @include media("screen", "<tablet") {
    padding: 0;
  }
  .homepage &{
    height: 100vh;
    min-height: 500px;
    margin-right: 0;
    @include media("screen", "<desktop") {
      height: auto;
      min-height: 0;
    }
  }
  .bg-stretch{
    @include absolute-top(0, 0);
    bottom: 0;
    right: 0;
    z-index: -1;
    @include media("screen", "<tablet") {
      position: relative;
      height: 319px;
      overflow: hidden;
      margin: 0 0 24px;
    }
    img{
      display: block;
    }
    .homepage &{
		background-attachment: fixed;
		@include media("screen", "<=desktop", ">phone") {
			background-attachment: inherit !important;
		}
	}
  }
  .btn-next{
    @include absolute-bottom(44px, 50%);
    @include animate(color background);
    @include size(72px, 40px);
    display: block;
    border: 1px solid rgba($white, 0.5);
    z-index: 5;
    margin-left: -36px;
    color: $white;
    text-align: center;
    font-size: 11px;
    line-height: 40px;
    @include media("screen", "<desktop") {
      position: relative;
      transform: translateY(0);
      bottom: auto;
      top: 0;
    }
    @include media("screen", "<tablet") {
      @include size(60px, 33px);
      margin-left: -30px;

    }

    &:hover{
      background: rgba($white, 0.5);
    }
  }
  .text-holder{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    h1{
      color: $white;
    }
  }
  .jumbotron{
    z-index: 5;
    @include vertical-align-el;
    background: none;
    color: $white;
    font-size: 36px;
    line-height: 1.39;
    font-weight: normal;
    font-family: $second-font-family-sans-serif;
    @include media("screen", "<desktop") {
      line-height: 1.24;
      padding:0;
      max-width: 70%;
      margin: 0 auto 30px;
      padding: 0 60px;
      transform: translateY(0);
      top: 0;
      padding: 124px 60px 0;
    }
    @include media("screen", "<tablet") {
      color: $brand-primary;
      max-width: none;
      padding: 0 10px;
      margin-bottom: 25px;
    }
    p{
      font-weight: normal;
      @include media("screen", "<desktop") {
        font-size: 34px;
      }
      @include media("screen", "<tablet") {
        font-size: 24px;
      }
      &:last-child{
        margin: 0;
      }
    }
  }
}
@include media("screen", "<tablet") {
	.homepage {
		.visual {
			.bg-stretch {
				background-attachment: inherit !important;
			}
		}
	}
}

/* intro-visual styles*/
.intro-visual{
  padding: 0 30px;
  @include media("screen", "<tablet") {
    padding: 0;
  }
  .img-holder{
    margin-right: -150px;
    position: relative;
    @include media("screen", "<widescreen") {
      margin-right: 0;
    }
    @include media("screen", "<tablet") {
      margin: 0 -10px;
    }
    &:before{
      @extend %double-border;
      bottom: 54px;
      right: 53.9%;
      width: 9999px;
      z-index: 1;
      @include media("screen", "<desktop") {
        bottom: 21px;
      }
      @include media("screen", "<tablet") {
        bottom: 8px;
        right: 30.2%;
      }
    }
    img{@include size(100%, auto);}
  }
}