/*
Theme Name: 8500 Sunset
Theme URI: https://www.premiumwd.com
Author: Chris Rodriguez
Author URI: http://premiumwd.com
Description: Theme is for 8500 Sunset Blvd.
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: bootstrap, boilerplate, html5, light, gray, white, one-column, two-columns, right-sidebar, flexible-width, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready
Text Domain: premiumwd
*/

/* RESET */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* NORMAL */
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],/* 1 */
input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

body {height:100%;padding:0 50px;}


.center {text-align:center;}
.left {float:left;}
.right{float:right;}

a:hover {text-decoration:none !important;}

/* FONTS */
@font-face {
  font-family: 'Judson';
  font-style: normal;
  font-weight: 500;
  src: local('Judson'), url('assets/fonts/Judson-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Judson Italic';
  font-style: italic;
  font-weight: 500;
  src: local('Judson Italic'), url('assets/fonts/Judson-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway Thin';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Thin'), url('assets/fonts/Raleway-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local('Raleway'), url('assets/fonts/Raleway-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), url('assets/fonts/Raleway-Bold.ttf') format('truetype');
}

/* HEADER */
header {z-index:2;padding:20px 0;position:relative;height:90px;background:#fff;}
header i {color:purple;}
.inquire-info {font-size:16px;display:inline-block;margin:12px 0 0 0;}
.inquire-info a, .inquire-info li {color:#bbb;font-family:'Judson', serif;}
.inquire-info li:first-child {font-family:'Raleway Bold', sans-serif;font-size:14px;}
.inquire-info li {position:relative;display:inline-block;}
.inquire-info li:after {content:'';height:10px;width:1px;position:relative;top:6px;float:right;margin:0px 15px;background:#aaa;}
.inquire-info li:first-child {text-transform: uppercase;}
.inquire-info li:last-child:after {display:none;}

.logo {width:100%;max-width:160px;left:-200px;position:relative;display:inline-flex;}
.logo svg .cls-1 {fill:#ccc;}
.hamburger {
  top:15px;
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 16px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  background:transparent;
}

.hamburger:focus {
  outline: none;
}
.hamburger span {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 2px;
  background: purple;
}

.hamburger span:before,
.hamburger span:after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: purple;
  content: "";
}

.hamburger span:before {
  transition-property: top, transform;
  top: 5px;
}
.hamburger span::after {
  transition-property: bottom, transform;
  bottom: -10px;
}
.hamburger span {
  transition: background 0s 0.3s;
  transition: transform 0.3s;
}

.hamburger span:before,
.hamburger span:after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.hamburger span:before {
  transition-property: top, transform;
}

.hamburger span:after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.hamburger.active span:before {
  top: 7px;
  transform: rotate(45deg);
}
.hamburger.active span {
  background: none;
}
.hamburger.active span:after {
  bottom: -7px;
  transform: rotate(-45deg);
}

.hamburger.active span:before,
.hamburger.active span:after {
  transition-delay: 0s, 0.3s;
}

.full-screen {display:none;z-index:1;background:#fff;position:absolute;top:120px;bottom:80px;left:48px;right:48px;}
.full-screen.top {top:120px !important;}
.full-screen #menu-header {margin-bottom:30px;}
.full-screen > ul {display:table-row;float:left;width:100%;margin:0px;}
.full-screen ul li.menu-item-has-children {border:2px solid #fff;position:relative;float:left;width:33.33%;min-height:250px;height:50%;}
.full-screen ul li.menu-item-has-children:nth-child(1){background: url('assets/img/1.jpeg');}
.full-screen ul li.menu-item-has-children:nth-child(2){background: url('assets/img/2.jpeg');}
.full-screen ul li.menu-item-has-children:nth-child(3){background: url('assets/img/3.jpeg');}
.full-screen ul li.menu-item-has-children:nth-child(4){background: url('assets/img/4.jpeg');}
.full-screen ul li.menu-item-has-children:nth-child(5){background: url('assets/img/5.jpeg');}
.full-screen ul li.menu-item-has-children:nth-child(6){background: url('assets/img/6.jpeg');}

.full-screen ul li.menu-item-has-children .vertical-align {padding:20px;background:rgba(0,0,0,0.5);position:absolute;top:0;bottom:0;width:100%;text-align:center;}
.full-screen ul li.menu-item-has-children:hover .vertical-align {background:rgba(255,255,255,.8);}
.full-screen ul li.menu-item-has-children .vertical-align .text-inner {display: table; height: 100%; width: 100%;}
.full-screen ul li.menu-item-has-children .vertical-align .text-inner .text {vertical-align: middle;display:table-cell;}
.full-screen ul li a {font-family:'Judson Italic', serif;font-style:italic;}
.full-screen ul li.menu-item-has-children .vertical-align .text-inner .text > a {text-transform:uppercase;letter-spacing:.5px;font-size:32px;color:#fff;}
.full-screen ul li.menu-item-has-children .vertical-align .text-inner .text:hover > a {color:purple;}
.full-screen ul li.menu-item-has-children .vertical-align .text-inner .text:hover > a:after {content:'';height:1px;width:50px;margin:10px auto;background:#aaa;display:block;}
.full-screen ul li.menu-item-has-children .vertical-align .text-inner .text:hover > ul, .full-screen ul > li.menu-item-has-children:hover > ul li {display:block;}
.full-screen ul li.menu-item-has-children .vertical-align .text-inner .text:hover > ul li {margin:3px 0;}
.full-screen ul li.menu-item-has-children .vertical-align .text-inner .text:hover > ul li a {font-size:15px;color:#444;}
.full-screen ul li ul {display:none;}

.credentials, .credentials a {color:#ccc;}
.credentials {font-family:'Judson', serif;}
.credentials .copyright span:before, .credentials .copyright span:after {margin:0 10px;height:12px;width:1px;background:#ddd;position:relative;top:1px;content:'';display:inline-block;}
.social {float:right;}
.social li {display:inline-block;margin-left:20px;}
.social li a {color:#ccc;font-size:18px;}

#inquiry-module {left:-60%;padding:0px 50px 75px;width:60%;position:absolute;top:120px;bottom:0;background:#fff;display: table-cell;vertical-align: middle;}
#inquiry-module.left {left:0px;}
#inquiry-module p {margin:0;position:relative;bottom:-10px;}
#inquiry-module .text-inner {   display: table;height: 100%;width: 100%;}
#inquiry-module .text-inner .text {display: table-cell;vertical-align: middle;}
#inquiry-module h1 {font-family:'Raleway light', sans-serif;text-align:center;font-size:40px;margin:0 0 50px 0;text-transform:uppercase;font-weight:300;}
#inquiry-module aside {max-width:500px;display:block;margin:0px auto;}
#inquiry-module span {float:left;}
#inquiry-module span#prospect, #inquiry-module span#sales {cursor:pointer;letter-spacing:1px;padding:8px 0;width:200px;text-align:center;border:1px solid purple;color:purple;text-transform: uppercase;font-weight:bold;}
#inquiry-module span#prospect:hover, #inquiry-module span#sales:hover, #inquiry-module span#prospect.active, #inquiry-module span#sales.active {background:purple;color:#fff;}

#inquiry-module span.or {margin-top:12px;text-transform: uppercase;font-size:12px;font-family:'Judson', serif;} 
#inquiry-module span.or:before {margin-right:8px;}
#inquiry-module span.or:after {margin-left:8px;}
#inquiry-module span.or:before, #inquiry-module span.or:after {content:'';width:22px;height:1px;display:inline-block;position:relative;top:-3px;background:#ccc;}

.inquire-now {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 15px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  background:transparent;
  top:-5px;
}

.inquire-now:focus {
  outline: none;
}
.inquire-now span {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 2px;
  background: purple;
  transform:rotate(180deg);
}

.inquire-now span::before,
.inquire-now span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: purple;
  content: "";
}

.inquire-now span::before {
  top:0;
  transform-origin: top left;
  transform: translateX(-8px) translateY(4px) rotate(-45deg);
  transition: transform 0.3s, width 0.3s, top 0.3s;
}

.inquire-now span::after {
transform-origin: bottom left;
bottom: 0;
  transform: translateX(-8px) translateY(-4px) rotate(45deg);
  transition: transform 0.3s, width 0.3s, bottom 0.3s;
}

/* active state, i.e. menu open */
.inquire-now.active span:before {
  top: 13.5px;
  transform: rotate(45deg);
}

.inquire-now.active span:after {
  bottom: -14px;
  transform: rotate(-45deg);
}

.inquire-now.active span:before,
.inquire-now.active span:after {
  transition-delay: 0s, 0.3s;
}

/* Home */
.home footer {display:none;}