#wta-logo {
	text-align: center;
}
#wta-logo img {
	position: absolute;
	bottom:80px;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	max-width:90%;
	height:auto;
}
#wta-logo a {
	position: absolute;
	bottom:30px;
	left:0;
	right:0;
	color:#fff;
	font-family: 'Droid Sans Mono', 'Lucida Console', sans-serif;
	text-decoration: none;
	letter-spacing: 4px;
}
.fullscreen-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    max-height: 100%;
}
.fullscreen-bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
