// custom variables and override bootstrap variables

$proxima-nova: "proxima-nova",sans-serif !important;

$body-bg: #fff;
$storm-dust: #666;
$text-color: $storm-dust !default;

$grid-gutter-width:         30px !default;
$container-tablet:          (738px + $grid-gutter-width) !default;

$font-size-base:          16px !default;
$line-height-base:        1.375 !default;

$tarawera: #003d4c;
$white: #fff;
$nobel: #b2b2b2;
$silver-chalice: #acacac;
$dove-gray: #6b6b6c;
$romance: #fefefe;
$white-smoke: #f5f5f5;
$input-color-placeholder: #666 !default;

// set some global margins

$margin-top: 40px;
$margin-bottom: 40px;