$mq-breakpoints: (
    // Base device classes
    mobile:      320px,
    tablet:      640px,
    desktop:    1024px,
    widescreen: 1200px,
    tvscreen:   1920px,

    // Tweakpoints
    mobileLandscape: 480px
);

// Show active breakpoint in top right corner of viewport
// $mq-show-breakpoints: (mobile, mobileLandscape, tablet, desktop, widescreen, tvscreen);

@import "bootstrap-custom";
@import "bootstrap/variables";
@import "bootstrap/mixins";

@import "base/markup-mixins";
@import "mq";
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }
/* ---------------------------------------------------------
   1. Common site styles
   2. Custom form styles
   3. Styles for responsive breakpoints
   ---------------------------------------------------------*/

html{height: 100%;}
body{
	font-family: $proxima-nova;
	min-width: 320px;
	height: 100%;
	font-weight:300;
}
a{outline: none !important;}
/* ---------------------------------------------------------
   1. Сommon site styles
   ---------------------------------------------------------*/

/* main container styles */
#wrapper{
	position: relative;
	overflow: hidden;
	@include size(100%, 100%);
	display: table;
	table-layout: fixed;
}
.w1 {
    display: table-row;
    width: 100%;
}
.w2 {
    display: table-cell;
    overflow: hidden;
}
.mb60 {margin-bottom:60px;}

.three-imgs {
	div[class*="col-"] {
		padding:0px;
	}
	&.no-edges {
		margin-left:0;
		margin-right:0;
	}
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	iframe, object, embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

/* header styles */
#header{
	overflow: hidden;
	padding-top: 30px;
	padding-bottom: 84px;
	.header-holder{
		@extend %clearfix;
		margin: 0;
		padding: 0 0 0 195px;
	}
	/* page logo styles */
	.logo{
		width: 165px;
		position: absolute;
		left: 15px;
		right: 0;
		img{
			@include img-resize;
		}
	}
	.holder{
		overflow: hidden;
		margin: 0 0 18px;
	}
	.contact{
		float: right;
		margin: 7px 10px 0 0;
		width: 150px;
		text-transform: uppercase;
		@include font-size(13px, 13px);
		a{
			text-decoration: none;
			color: $tarawera;
			&:hover{
				opacity: 0.7;
			}
		}
		.tel{
			pointer-events: none;
		}
	}
	.open-close{
		float: right;
		margin: 1px 0 0;
		.opener{
			background: none;
			text-decoration: none;
			color: $tarawera;
			@include font-size(16px, 42px);
			padding: 0 10px;
			text-align: center;
			font-weight: bold;
			@include alignment(inline-block, middle);
			border: 1px solid $tarawera;
			min-width: 165px;
			&:hover{
				opacity: 0.7;
			}
		}
		.mob{
			display: none;
		}
	}
	.btn-contact {
		text-align: right;
		.btn-info {
			background: none;
			text-decoration: none;
			color: $tarawera;
			@include font-size(16px, 42px);
			padding: 0 10px;
			text-align: center;
			font-weight: bold;
			@include alignment(inline-block, middle);
			border: 1px solid $tarawera;
			min-width: 165px;
			&:hover{
				opacity: 0.7;
			}
		}
	}
}
.nav-holder{
	display: none;
}
/* main navigation styles */
#nav{
	overflow: hidden;
	address{
		@include alignment(inline-block, bottom);
		width: 298px;
		margin: 6px 0 0;
		text-transform: uppercase;
		border-bottom: 1px solid $dove-gray;
		span{
			display: block;
			padding: 11px 0 5px;
		}
		.tel{
			color: $tarawera;
			text-decoration: none;
			pointer-events: none;
			&:hover{
				opacity: 0.7;
			}
		}
		em{font-style: normal;}
		a{
			text-decoration: none;
			color: $storm-dust;
			&:hover{
				opacity: 0.7;
			}
		}
	}
	ul{
		@extend %listreset;
		margin: 0 -60px 0 0;
		counter-reset:item;
		max-width: 530px;
		li{
			float: left;
			min-width: 148px;
			margin: 0 13px 10px 0;
			position: relative;
			&:before{
				position: absolute;
				left: 10px;
				top: 9px;
				color: $storm-dust;
				@include font-size(10px, 12px);
				// content: counters(item, ".") " ";
				// counter-increment: item;
				z-index: 1;
				pointer-events: none;
			}
			&.current-menu-item,
			&.active,
			&.hover,
			&:hover{
				&:before{
					color: $white;
				}
				a{
					background: $tarawera;
					color: $white;
					padding: 18px 12px 2px;
					&:after{
						font-weight: normal;
					}
				}
			}
		}
		a{
			display: block;
			color: $storm-dust;
			position: relative;
			@include font-size(15px, 30px);
			padding: 18px 0 2px;
			text-transform: uppercase;
			text-decoration: none;
			&:after{
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				content: '';
				background: $storm-dust;
				height: 1px;
			}
		}
		ul{
			margin:0;
		}
		ul li:before {
			float:left;
			width:30px;
			margin:0 0 0 -30px;
			content:counters(item, ".") " ";
			counter-increment:item;
		}
	}
}
/* main informative part styles */
#main{
	overflow: visible;
	margin:0 0 60px;
	&.mb0 {
		margin-bottom: 0px;
	}
}

.txt-area{
	overflow: hidden;
	padding: 0 99px 4px;
	p{
		margin: 0 0 15px;
	}
}
hr {
	margin:$margin-top 0 $margin-bottom 0;
}
.margin-top {
	margin-top: $margin-top;
}
.margin-bottom {
	margin-bottom: $margin-bottom;
}
.nav{
	overflow: hidden;
	margin: 0 0 54px;
	ul{
		@extend %listreset;
		@extend %clearfix;
	}
	li{
		@include alignment(inline-block, middle);
		margin: 0 32px;
		&.mob{display: none;}
		&.active{
			a{
				color: $storm-dust;
				text-decoration: underline;
			}
		}
	}
	a{
		color: #CCCCCC;
		font-size: 18px;
		text-decoration: none;
		&:hover{
			color: $tarawera;
			text-decoration: underline;
		}
	}
}

h1{
	margin: 0 0 $margin-bottom;
	font-weight: 300;
	color: $tarawera;
	text-transform: uppercase;
	@include font-size(30px, 36px);
}
h2{
	margin: 0 0 20px;
	color: $tarawera;
	font-weight: 300;
	@include font-size(30px, 34px);
}
h3{
	margin: 0;
	text-transform: uppercase;
	color: $tarawera;
	font-weight: 300;
	@include font-size(24px, 28px);
}

.bh-list {
	margin-top: $margin-top;
	ul {
		list-style:none;
		li {
			float:left;
			width:33%;
			font-weight: 300;
			font-size:16px;
			margin-top:10px;
		}
	}

}

.amenities-list {
	ul {
		list-style:none;
		li {
			font-weight: 300;
			font-size:16px;
			margin-top:10px;
		}
	}

}

/* article holder */
.article-holder{
	overflow: hidden;
	margin: 0 0 54px;
}
.article{
	overflow: hidden;
	.img-box{
		margin: 0 -15px;
		overflow: hidden;
		img{
			display: block;
		}
	}
	p{margin: 0 0 20px;}
	.text-box{
		padding: 5% 15px;
		float: left;
		width: 100%;
	}
	.img-holder{
		overflow: hidden;
		img{
			@include img-resize;
		}
	}
	.btn-holder{
		overflow: hidden;
		.btn-default,
		.btn-info{
			float: left;
			min-width: 165px;
			line-height: 32px;
			background: $tarawera;
			font-weight: bold;
			white-space: normal;
			text-transform: uppercase;
			color: $white;
			margin: 0 20px 0 0;
			border-radius: 0;
			border:0;
			&:hover{
				opacity: 0.7;
			}
		}
		.btn-info{
			background: $white;
			color: $tarawera;
			line-height: 30px;
			border: 1px solid $tarawera;
		}
	}
}

/* text area */
.text-area{
	overflow: hidden;
	margin: 0 0 36px;
	address{
		font-weight: 300;
		margin: 0;
		@include font-size(24px, 26px);
		a{
			text-decoration: none;
			color: $tarawera;
			@include font-size(16px, 20px);
			border-bottom: 1px dotted $tarawera;
			&:hover{
				border:0;
			}
		}
	}
}
/* user form styles */
.user-form{
	overflow: hidden;
	margin: 0 0 30px;
	.col-holder{
		overflow: hidden;
		margin: 0 0 29px;
	}
	.col{
		float: right;
		width: 48.7%;
		&:first-child{
			float: left;
		}
	}
	.col-3{
		float: left;
		width: 33%;
		padding-right:15px;
		&:first-child{
			float: left;
		}
		&:last-child{
			padding-right:0px;
		}
	}
	.sub-title{
		margin: 0 0 4px;
		display: block;
		font-weight: 300;
	}
	label{
		font-weight: 300;
		margin: 0;
		float: left;
	}
	input[type="text"],
	input[type="email"]{
		box-shadow: none;
		padding: 6px 9px;
		border-width: 0 0 1px;
		outline: none;
		border-radius: 0;
	}
	.form-control{
		@include size(100%, 32px);
		float: left;
		border: solid $nobel;
		color: $storm-dust;
	}
	.radio-holder{
		overflow: hidden;
		margin: 3px 0 8px;
		.title{
			margin: 0 19px 0 0;
		}
		input[type="radio"]{
			float: left;
			width: 13px;
			height: 13px;
		}
		.radio-box{
			float: left;
			margin: 0 22px 0 11px;
		}
		.radio-area{
			@include alignment(inline-block, middle);
		}
	}
	input[type="submit"]{
		display: block;
		margin: 40px auto 0;
		min-width: 165px;
		background: $tarawera;
		color: $white;
		text-transform: uppercase;
		font-weight: 700;
		border: 0;
		border-radius: 0;
		text-align: center;
		height: 44px;
		line-height: 32px;
		&:hover{
			opacity: 0.7;
		}
	}
	.title{
		font-weight: 300;
		margin: 4px 0 4px 9px;
		@include alignment(inline-block, middle);
	}
}
/* visual styles */
.visual{
	overflow: hidden;
	padding: 0 0 96px;
	.carousel{
		padding: 0 8.5%;
	}
	.carousel-inner{
		margin: 0 auto;
		.item{
			padding: 0 50px;
		}
	}
	.carousel-control.left,
	.carousel-control.right{
		background: none;
	}
	.carousel-caption{
		position: static;
		overflow: hidden;
		padding: 0 0 20px;
		margin: 0 0 0 -49px;
	}
	.carousel-indicators{
		li{
			float: left;
			text-indent: 0;
			margin: 0;
			@include size(auto, auto);
			color: $tarawera;
			@include font-size(18px, 22px);
			&:hover,
			&.active{
				color: $storm-dust;
				text-decoration: underline;
			}
		}
	}
	.frame{
		img{
			@include img-resize;
		}
	}
	.links-holder{
		overflow: hidden;
		margin: 0 0 14px;
		position: relative;
		z-index: 10;
		h3{
			float: left;
			margin: 0 25px 0 0;
			max-width: 50%;
			@include font-size(30px, 34px);
			color: $tarawera;
			text-transform: none;
			font-weight: 300;
		}
		.carousel-indicators{
			position: static;
			overflow: hidden;
			margin: 6px 0 0;
			width: auto;
			li{
				margin: 0 23px 0 0;
			}
		}
	}
	.carousel-control{
		top: 50%;
		bottom: auto;
		width: 10%;
		.glyphicon-chevron-left,
		.glyphicon-chevron-right{
			@include size(42px, 82px);
			@include font-size(0, 0);
			margin-left: 0;
			margin-top: 16px;
			opacity: 1;
			position: relative;
			left: 0;
			top: 0;
			&:after,
			&:before{
				position: absolute;
				left: -18px;
				top: -4px;
				content: '';
				background: $tarawera;
				@include size(3px, 55px);
				@include rotate(45deg);
			}
			&:after{
				margin: 38px 0 0;
				@include rotate(-45deg);
			}
		}
		.glyphicon-chevron-right{
			margin-right: 0;
			&:after,
			&:before{
				left: auto;
				right: -17px;
				@include rotate(45deg);
			}
			&:before{
				@include rotate(-45deg);
			}
		}
	}

	.btn-default{
		color: $tarawera;
		min-width: 176px;
		font-weight: bold;
		text-transform: uppercase;
		background: none;
		line-height: 30px;
		border:1px solid $tarawera;
		border-radius: 0;
		float: left;
		&:hover{
			opacity: 0.7;
		}
	}
}
/* map styles */
div.gjmaps-wrapper {
  ul.gjmaps-categories {
	  padding-left: 0;
	  list-style: none;
	  width: 100%;
	  height: auto;
	  margin: 0 auto 40px;
	  text-align: center;
	  position: relative;
	  -webkit-transition: height 0.5s;
	  transition: height 0.5s;
    li.gjmaps-category {
	    display: inline-block;
		font-size: 17px;
		font-weight: 400;
		text-decoration:underline;
		text-transform: uppercase;
		text-align: center;
		cursor: pointer;
		color: #bcbec0;
      &.active {
	    	color: $tarawera;
      }
      div.gjmaps-label {
        span {}
      }
    }
  }
  .gjmaps-map-canvas {
	  height:600px;
  }
}
/* page styles */
body.page {
	main {
		p {
			em {
				color: $tarawera;
			}
			a {
				color: $tarawera;
			}
		}
	}
}
.txt-area {
	em {
		color:$tarawera;
	}
}
.footer-image {
	margin-top: 8px;
}
/* home specific styles */
.home {
	#ps-carousel {
		.home-text {
			z-index: 99;
			p {
				color: $tarawera;
				font-size: 18px;
				line-height:26px;
				margin:0;
			}
			.btn-default {
			  margin: 5px 0 40px;
			  width:auto;
			  background: #003d4c;
			  color: #fff;
			  text-transform: uppercase;
			  font-weight: 700;
			  border: 0;
			  border-radius: 0;
			  height: 44px;
			  line-height: 32px;
			  padding-left:20px;
			  padding-right:20px;
			}
			.cta-text {
				text-align: right;
				@include breakpoint($screen-md) {
					text-align: center;
				}
			}
			.cta-btn {
				text-align: left;
				@include breakpoint($screen-md) {
					text-align: center;
				}
			}
		}
		.home-image {
			position: relative;
			bottom: -webkit-calc(-100% + 40px);
			bottom:calc(-100% + 40px);
			margin-bottom: 20px;
		}
	}
	.carousel-indicators {
		position: relative;
		width: 100%;
		text-align: right;
		right:0;
		left:0;
		margin: 0;
		padding: 0;
		bottom: 0;
		li {
			border-radius: 0px;
			border-color: $tarawera;
			background: #fff;
			&.active {
				background-color: $tarawera;
			}
		}
	}
	.carousel-fade {
		.carousel-inner {
		    .item {
	    	    opacity: 0;
			    -webkit-transition-property: opacity;
			    -moz-transition-property: opacity;
			    -o-transition-property: opacity;
			    transition-property: opacity;
		    }
			.active {
				opacity: 1;
    		}
		    .active.left,
		    .active.right {
		      	left: 0;
			  	opacity: 0;
			  	z-index: 1;
		    }
			.next.left,
			.prev.right {
				opacity: 1;
	    	}
	  	}
	  	.carousel-control {
	    	z-index: 2;
	  	}
	}
	hr {
		color: $tarawera;
	}
}

/* footer styles */
#footer{
	overflow: hidden;
	display: table-footer-group;
	width: 100%;
	@include font-size(12px, 16px);
	.f1{
	    display: table-row;
	    height: 1%;
	}
	.f2{
	    display: table-cell;
	}
	.footer-holder{
		border-top: 1px solid $nobel;
		padding: 10px 0;
		overflow: hidden;
	}
	.copy-right{
		float: right;
		width: 16.5%;
		margin: 6px 0 0;
		text-align: right;
		text-transform: uppercase;
		color: $tarawera;
		.tel{
			pointer-events: none;
		}
		a{
			text-decoration: none;
			color: $tarawera;
			&:hover{
				opacity: 0.7;
			}
		}
	}
	.footer-area{
		float: left;
		width: 28%;
		a{
			&:hover{
				img{
					opacity: 0.7;
				}
			}
		}
		img{
			float: right;
		}
		p{
			margin: 5px 0 0;
			overflow: hidden;
			span{
				display: block;
			}
		}
	}
}
/* ---------------------------------------------------------
   2. Custom form styles
   ---------------------------------------------------------*/

/* custom radio styles */
.jcf-radio {
	float: left;
	position: relative;
	overflow: hidden;
	cursor: default;
	background: $white;
	border: 1px solid $storm-dust;
	border-radius: 9px;
	margin: 3px 8px 0 0;
	@include size(16px, 16px);
	span{
		display:none;
		position:absolute;
		top:1px;
		left:1px;
		right:1px;
		bottom:1px;
		background: $tarawera;
		border-radius:100%;
	}
	input[type="radio"] {
		position: absolute;
		@include size(100%, 100%);
		border: 0;
		margin: 0;
		left: 0;
		top: 0;
	}
	&.jcf-checked{
		span{
			display: block;
		}
	}
}

/* ---------------------------------------------------------
   3. Styles for responsive breakpoints
   ---------------------------------------------------------*/

/* styles for screens 767px wide and larger  */
@media only screen and (min-width: 767px){
	#header{
		.open-close{
			.slide{
				display: none !important;
			}
		}
	}
}

/* styles for screens 1224px wide and narrower */
@include breakpoint ( $screen-lg + 24){
	#header{
		.contact{
			.tel{
				pointer-events: inherit;
			}
		}
		address{
			.tel{
				pointer-events: inherit;
			}
		}
	}
	#footer{
		.copy-right{
			.tel{
				pointer-events: inherit;
			}
		}
	}
}

/* styles for screens 1200px wide and narrower */
@include breakpoint ( $screen-lg){
	#header{
		.logo{
			margin: 0 5px 0 0;
			width: 145px;
		}
		address{
			width: 210px;
			word-break: break-all;
		}
	}
	.article{
		&.align-right{
			.text-box{
				margin: 0 0 0 -15px;
			}
		}
	}
	.visual{
		.carousel-control{
			.glyphicon-chevron-left{
				&:after,
				&:before{
					left: -5px;
				}
			}
			.glyphicon-chevron-right{
				&:after,
				&:before{
					right: -5px;
				}
			}
		}
	}
}

/* styles for screens 992px wide and narrower */
@include breakpoint ( $screen-md){
	#header{
		padding-top: 15px;
		padding-bottom: 51px;
		.logo{
			width: 124px;
		}
		address{
			display: none;
		}
		.open-close{
			.opener{
				@include font-size(12px, 22px);
				min-width: 123px;
			}
		}
		.contact{
			margin: 0;
			font-size: 12px;
		}
		.holder{
			margin: 0 0 2px;
		}
	}
	#nav{
		ul{
			li{
				margin: 0 20px 2px 0;
				&:before{
					left: 7px;
					top: 8px;
				}
			}
			a{
				padding: 18px 12px 2px 0;
			}
		}
	}
	.txt-area{
		padding: 0 36px 4px;
		p{
			margin: 0 0 18px;
		}
	}
	h2{
		margin: 0 0 18px;
	}
	.article{
		@include font-size(15px, 20px);
		.text-box{
			padding: 14px 0 0 4px;
		}
		.btn-holder{
			margin: 0 -36px 0 2px;
			.btn-default,
			.btn-info{
				margin: 0 18px 0 0;
			}
		}
	}
	.text-area{
		margin: 0 0 15px;
		address{
			@include font-size(18px, 22px);
			padding: 1% 0 0 12%;
			a{
				@include alignment(inline-block, middle);
				margin: 11px 0 0;
			}
		}
	}
	.article-holder{
		margin: 0 0 56px;
	}
	.user-form{
		.col{
			width: 48%;
		}
		.radio-holder{
			.radio-box{
				position: relative;
				overflow: hidden;
				width: 100%;
				margin: 0 22px 4px 11px;
			}
			.radio-area{
				.radio-box{
					width: auto;
					margin: 0 22px 0 11px;
				}
			}
		}
		input[type="submit"]{
			margin: -7px auto 0;
		}
	}
	#main.mb60{
		margin: 0 0 30px;
	}
	#footer{
		.footer-area{
			width: 43.4%;
		}
		.copy-right{
			width: 26.5%;
		}
	}
	.visual{
		padding: 0 0 92px;
		.links-holder{
			h3{
				margin: 0 25px 13px 0;
			}
			.carousel-indicators{
				li{
					margin: 0 16px 0 0;
				}
			}
		}
		.btn-default{
			float: none;
		}
		.carousel{
			padding: 0 8.3%;
		}
		.carousel-inner{
			.item{
				padding: 0;
			}
		}
		.carousel-control{
			.glyphicon-chevron-left,
			.glyphicon-chevron-right{
				@include size(21px, 41px);
				margin-top: 10px;
				&:after,
				&:before{
					@include size(2px, 28px);
					left: 6px;
					top: -1px;
				}
				&:after{
					margin: 19px 0 0;
				}
			}
			.glyphicon-chevron-right{
				&:after,
				&:before{
					right: 6px;
					left: auto;
				}
				&:after{
					margin: 19px 0 0;
				}
			}
		}
	}
}

/* styles for screens 767px wide and narrower */
@include breakpoint ( $screen-sm - 1){
	.visual{
		padding: 0;
		margin: 0 0 30px;
		.frame{
			display: table;
			width: 100%;
			table-layout: fixed;
			img{
				margin: 0 0 25px;
			}
		}
		.carousel-caption{
			display: table-footer-group;
			width: 100%;
			height: 1%;
		}
		.carousel-control.left,
		.carousel-control.right{
			top: auto;
			bottom: 0;
		}
		.carousel-control{
			.glyphicon-chevron-left,
			.glyphicon-chevron-right{
				margin-top: 0;
				position: static;
			}
		}
	}
	.nav-opener{
		.bar-holder{
	        position: relative;
	        display: block;
	        right: 0;
	        top: 0;
	        @include size(25px, 20px);
	        border-radius:5px;
	        background: none;
	        transition: ease all 0.5s;
	        &:before,
	        &:after,
	        .bar{
	            background: $storm-dust;
	            border-radius:3px;
	            position:absolute;
	            top:50%;
	            left:20%;
	            right:20%;
	            height:2px;
	            margin-top:-2px;
	            transition:all 0.2s linear;
	        }
	        &:before,
	        &:after{
	            content:'';
	            top:30%;
	        }
	        &:after{
	            top:70%;
	        }
	        &:hover{
	            opacity:0.9;
	        }
	    }
	}
	.nav-active{
		.nav-opener{
	        .bar-holder{
	            .bar{
	                opacity:0;
	            }
	            &:after,
	            &:before{
	                @include rotate(45deg);
	                top:50%;
	                left:15%;
	                right:15%;
	            }
	            &:after{
	                @include rotate(-45deg);
	            }
	        }
	    }
	}
    .nav-holder{
    	display: block;
    	position: absolute;
    	right: 22px;
    	top: 10px;
    	width: 55px;
    	padding: 0 0 5px;
    	z-index: 10;
    	border-bottom: 1px solid $storm-dust;
    	.nav-txt{
    		.show-btn,
    		.close-btn{
    			@include font-size(16px, 20px);
    			color: $storm-dust;
    			text-transform: uppercase;
    			font-style: normal;
    			text-decoration: none;
    		}
    	}
    }
    .nav-opener{
    	text-decoration: none;
    	&:hover,
    	&:focus{
    		text-decoration: none;
    	}
    	.nav-txt{
    		.close-btn{
    			display: none;
    		}
    	}
    }
    .nav-active{
    	.nav-txt{
    		.show-btn{
    			display: none;
    		}
    		.close-btn{
    			display: block;
    		}
    	}
    	#header{
    		background: $white-smoke;
    	}
    	.drop-holder{
	    	z-index: 99;
			max-height: inherit;
    	}
    	.drop-area{
    		transform: translateY(0px);
    	}
    }
    .drop-holder{
		transition: all 0.25s linear 0s;
		position: absolute;
    	right: 0;
    	left: 0;
    	padding: 0;
    	//top: 79px;
    	top: 101%;
    	max-height: 0;
    	overflow: hidden;
    	z-index: 10;
    }
    .drop-area{
    	margin: 20px 0 1px;
    	background-color: $romance;
        background: linear-gradient(to bottom, $white-smoke 10%, $romance 100%);
    	transform: translateY(-100%);
    	transition: all 0.25s linear 0s;
    }
    #nav{
    	padding: 9px 20px 0;
    	border-bottom: 1px solid $silver-chalice;
    	address{
    		display: block;
    		width: auto;
    		font-size: 15px;
    		border:0;
    		span{
    			padding: 16px 0 5px;
    		}
    		em{
    			font-style: normal;
    			display: block;
    		}
    	}
    	ul{
    		overflow: hidden;
    		margin: 0 -30px 22px 0;
    		li{
    			margin: 0 20px 9px 0;
    			min-width: 130px;
    		}
    	}
    }
    #header{
    	position: relative;
    	overflow: visible;
    	padding-top: 20px;
    	padding-bottom: 32px;
    	.header-holder{
    		padding: 0 0 0 60px;
    	}
		.logo{
			width: 56px;
			left: 20px;
		}
    	.contact{display: none;}
    	.holder{
    		overflow: visible;
    		margin: 0;
    		float: right;
    		margin: 9px 79px 0 0;
    		.slide{
    			position: absolute;
    			left: 0;
    			top: 79px;
    			background: $white;
    			z-index: 99;
    			right: 0;
    			padding: 16px 20px 20px;
    			line-height: 20px;
    			border-bottom: 1px solid $silver-chalice;
    			p{margin: 0 0 7px;}
    		}
    		.user-form{
    			margin: 0;
    			.col-holder{
    				margin: 0;
    			}
    			.col {
    				width: 100%;
    				margin: 0 0 9px;
    				&.last{
    					margin: -21px 0 9px;
    				}
    			}
    			.col-3 {
    				width: 100%;
    				margin: 0 0 9px;
    				&.last{
    					margin: -21px 0 9px;
    				}
    			}
    			input[type="text"],
    			input[type="email"]{
    				font-size: 15px;
    			}
    			input[type="submit"]{
    				margin: 0 auto;
    			}
    			.title{
    				margin: 6px 0;
    				font-size: 15px;
    			}
    			.radio-holder{
    				.radio-box{
    					margin: 0 22px 6px 9px;
    				}
    			}
    			.sub-title{
    				font-size: 15px;
    			}
    		}
    	}
    	.col-xs-9{
    		position: inherit;
    	}
    	.open-close{
    		.opener{
    			@include font-size(16px, 32px);
    			border:0;
    			position: relative;
    			text-align: left;
    			text-transform: uppercase;
    			min-width: 141px;
    			padding: 15px 9px 1px;
    			&:before{
    				position: absolute;
    				left: 12px;
    				top: 5px;
    				content: 'i';
    				font-style: italic;
    				@include font-size(11px, 13px);
    			}
    			&:after{
    				position: absolute;
    				left: 10px;
    				right: 10px;
    				bottom: 0;
    				content: '';
    				height: 1px;
    				background: $tarawera;
    			}
    		}
    		&.active{
    			.opener{
    				color: $white;
    				background: $tarawera;
    				&:before{
    					content: '+';
    					font-size: 13px;
    					font-weight: 300;
    					@include rotate(45deg);
    				}
    				.desktop{
    					display: none;
    				}
    				.mob{
    					display: block;
    				}
    			}
    		}
    	}
    }
    h1{
    	margin: 0 0 16px;
    }
    .txt-area{
    	padding: 0 5px 0 3px;
    	text-align: left;
    	p{margin: 0 0 16px;}
    }
    .nav{
    	margin: 0 0 35px;
    	li{
    		margin: 0 -2px;
    		font-size: 12px;
    		&.mob{
    			@include alignment(inline-block, middle);
    		}
    		&.desktop{
    			display: none;
    		}
    		a{
    			font-size: 12px;
    		}
    	}
    }
    .article-holder{
    	overflow: visible;
    	margin: 0 -15px 35px;
    }
    h2{
    	margin: 0 0 16px;
    }
    .article{
    	overflow: visible;
    	line-height: 22px;
    	&.align-right{
    		.text-box{
    			padding: 33px 20px;
    		}
    	}
    	.img-box{
    		img{
    			height: auto !important;
				width: 100% !important;
	    		margin: 0 !important;
    		}
    	}
    	.same-height{
			height: auto !important;
    	}
    	.text-box{
    		padding: 20px 5px;
    	}
    	.btn-holder{
    		&.inner{
    			.btn-default{
    				min-width: 168px;
    			}
    		}
    		.btn-default,
    		.btn-info{
				min-width: 141px;
				margin: 0;
    		}
    	}
    	.img-holder{
    		padding: 7px 0 0;
    		img{
    			position: relative;
    			left: 50%;
    			width: 1140px;
    			margin: 0 0 0 -570px;
    		}
    	}
    }
    h3{
    	letter-spacing: -1.2px;
    }
    .text-area{
    	margin: 0 5px 8px;
    	line-height: 24px;
    	address{
    		display: none;
    	}
    }
    .user-form{
    	margin: 0 5px 30px;
    	.col-holder{
    		margin: 0;
    	}
    	.col{
    		width: 100%;
    		margin: 0 0 19px;
    		&.last{
    			margin: -14px 0 0;
    		}
    	}
    	.col-3{
    		width: 100%;
    		margin: 0 0 19px;
    		&.last{
    			margin: -14px 0 0;
    		}
    	}
    	input[type="text"],
    	input[type="email"]{
    		font-size: 15px;
    	}
    	.title{
    		margin: 4px 0 6px;
    		font-size: 15px;
    	}
    	.sub-title{
    		font-size: 15px;
    	}
    	.radio-holder{
    		.title{
    			margin: 0;
    		}
    	}
    	input[type="submit"]{
    		margin: 22px auto 0;
    	}
    }
    .visual{
    	overflow: visible;
    	margin: -34px 0 56px;
    	.carousel{
    		padding: 0 5px;
    	}
    	.links-holder{
    		margin: 0 0 28px;
    		overflow: visible;
    		h3{
    			float: none;
    			max-width: inherit;
    			margin: 0 0 7px;
    		}
    		.carousel-indicators{
    			margin: 6px -15px 0 0;
    			li{
    				margin: 0 15px 0 0;
    			}
    		}
    	}
    	.frame{
    		img{
    			margin: 0 0 19px;
    		}
    	}
    	.carousel-control{
    		&.left,
    		&.right{
				background: $white;
    		}
			.glyphicon-chevron-left,
			.glyphicon-chevron-right{
				&:after,
				&:before{
					left: 10px;
				}
			}
			.glyphicon-chevron-right{
				&:after,
				&:before{
					right: 10px;
				}
			}
		}
    }
    #footer{
    	.footer-holder{
    		padding: 11px 5px;
    	}
    	.copy-right,
    	.footer-area{
    		width: 100%;
    		text-align: left;
    	}
    	.copy-right{
    		.email{
    			@include alignment(inline-block, middle);
    			margin: 4px 0 0;
    		}
    		p{margin: 0;}
    	}
    	.footer-area{
    		font-size: 11px;
    		p{margin: 7px 0 0;}
    	}
    }
    /* #wrapper,
    .w1,
    .w2{
    	display: block;
    }
    #footer{
    	display: block;
    	.f1,
    	.f2{
    		display: block;
    	}
    } */
}