/* ----- GLOBAL STYLES----- */

html, body {
  min-height: 100%;
  height: 100%;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

.height-fix {
  height: 50%;
}

.start-container {
  height: 100%;
  margin-top:70px;
}

.hero-img {
  height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0px;
  &.hero-right, &.hero-left {
    background-position: 0 35%;
  }
}

.hero-shadow {
  position: absolute;
  bottom: 0px;
}

.hero-full {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 50px;
  padding-bottom:100px;
  padding-right: 0;
  padding-left: 0;
  height: auto;
  background-attachment: fixed;
  background-position: center bottom;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  &.row {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width:769px) {
	.hero-full {
		background-attachment: inherit;
	}
}

.header-row {
  margin-top: 100px;
}

body {
  font-family: 'Raleway',sans-serif;
  color: #666;
}

h1 {
  font-size: auto;
  font-weight: 100;
  text-transform: uppercase;
}

.hero-full {
	h1 {
	  color: #FFF;
	  font-weight: 300;
  	}
  	h3 {
	  color: #FFF;
	  font-weight: 300;
  	}
}

h2 {
  font-size: 36px;
  font-weight: 100;
  line-height: 32px;
  text-transform: uppercase;
}

h3, h4, h5, h6 {}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

h1 span {
  border-bottom: #f8f8f8 1px solid;
}

.hero-button {
  position: absolute;
  display: table;
  width: 100%;
  bottom: 60px;
  text-transform: uppercase;
}

.hero-full {
  h1 span {
    border-bottom: #fff 1px solid;
  }
  p {
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
  }
}

a:hover {
  color: #4cc8f2;
  text-decoration: none;
}

b, strong {
  font-weight: 500;
}

.white {
  color: #fff;
}

.black {
  color: #000;
}

.m-no-pad {
  padding-left: 0;
  padding-right: 0;
}

.marg-above {
  margin-top: 40px;
}

.marg-below {
  margin-bottom: 40px;
}

.pad-below {
  margin-bottom: 20px;
}

.with-shadow img {
  vertical-align: top;
}

.sub-nav-pad {
  margin-bottom: 80px;
}

.hero-sub-nav {
  margin-top: 15px;
  margin-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
  height: 65px;
  div {
    display: inline-block;
    vertical-align: middle;
    max-width: 50%;
  }
}

#home-arrow {
	color: #4cc8f2;
	font-size: 34px;
	font-weight: normal;
}

/* centered columns styles */

.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: center;
  /* inline-block space fix */
  margin-right: -4px;
}

.hero-sub-nav {
  a {
    color: #fff;
    font-weight: 400;
    line-height: 60%;
  }
  span:hover {
    color: #4cc8f2;
  }
  a:hover {
    text-decoration: none;
    &::after {
      font-family: FontAwesome;
      content: & #xf107;
    }
    text-decoration: underline;
  }
  &::before {
    font-weight: 200;
    color: #4cc8f2;
    font-size: 46px;
    vertical-align: middle;
    content: "[";
    padding-right: 0px;
  }
  &::after {
    font-weight: 200;
    color: #4cc8f2;
    font-size: 46px;
    vertical-align: middle;
    content: "]";
    padding-left: 0px;
  }
}

.no-edges {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

#grid-container [class*='col-'] {
  &:first-child {
    padding: 0;
    border: 0px;
  }
  &:last-child {
    padding: 0;
  }
  border: 0px;
  background-size: cover;
}

#grid-container {
	.grid-item {
	  background-position: center center;
	  background-size: cover;
	  background-repeat: no-repeat;
	  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	  /* Firefox 3.5+ */
	  filter: gray;
	  /* IE6-9 */
	  -webkit-filter: grayscale(100%);
	  /* Chrome 19+ & Safari 6+ */
	    &:hover {
	      filter: none;
	      -webkit-filter: grayscale(0%);
	      -webkit-transition: 500ms -webkit-filter linear;
	      -moz-transition: 500ms -moz-filter linear;
	      -o-transition: 500ms -o-filter linear;
	    }
	}
}

/* ----- NAV TOP ----- */

.navbar-default {
  height: 71px;
  background-color: #fff;
  border: #f8f8f8 1px solid;
}

.navbar-brand {
  padding: 10px 15px;
  width: 30px;
  height: 25px;
}

.navbar-nav > li > a, #menu-main-nav-1 > li > a {
  padding-top: 25px;
  color: #333;
}

.menu-item a {
  &:hover {
    text-decoration: none;
  }
  &::before {
    font-weight: 200;
    color: #4cc8f2;
    font-size: 36px;
    vertical-align: middle;
    content: "[ ";
    padding-right: 0;
    visibility: hidden;
  }
}

ul.dropdown-menu a::before {
  font-weight: 200;
  color: #4cc8f2;
  font-size: 36px;
  vertical-align: middle;
  content: "[ ";
  padding-right: 0;
  visibility: hidden;
}

.menu-item a::after, ul.dropdown-menu a::after {
  font-weight: 200;
  color: #4cc8f2;
  font-size: 36px;
  vertical-align: middle;
  content: " ]";
  padding-left: 0;
  visibility: hidden;
}

.menu-item a:hover {
  &::before, &::after {
    text-decoration: none;
    visibility: visible;
  }
}

.current-menu-item {
	background-color: #fff !important;
	a {
	  &::before, &::after {
	    text-decoration: none;
	    visibility: visible;
	    background-color: #fff !important;
	  }
	}
}
ul.dropdown-menu .current-menu-item a {
  &::before, &::after {
    text-decoration: none;
    visibility: visible;
  }
}

.current-menu-parent a {
  &::before, &::after {
    text-decoration: none;
    visibility: visible;
  }
}

.navbar-default .navbar-nav > .active > a {
  background-color: #fff !important;
  &:hover, &:focus {
    background-color: #fff !important;
  }
}

.disappear {
  display: block;
}

.dropdown-menu {
  position: absolute;
  z-index: 1000;
  padding: 0;
  margin: 0;
  font-size: 12px;
  text-align: center;
  list-style: none;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  float: none;
}

.home .dropdown-menu {
  position: relative;
  padding: 10px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.home .absolute .dropdown-menu {
  position: absolute;
  border-top: 0px;
  border-bottom: 0px;
}

.dropdown-menu > li > a {
  padding: 0 20px;
  line-height: 1;
  &:hover {
    color: #262626;
    text-decoration: none;
    background-color: #fff;
  }
}

.home {
  .dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #fff;
  }
  #menu-main-nav-1 li {
    float: none !important;
  }
}

.navbar-default .navbar-nav > .open > a {
  background: none !important;
  &:hover, &:focus {
    background: none !important;
  }
}

.dropdown-menu > .active > a {
  background: none;
  color: #333;
  &:hover, &:focus {
    background: none;
    color: #333;
  }
}

/*** collapsed navbar styles ***/

.navbar-toggle {
  margin-top: 17px;
  margin-bottom: 17px;
}

.navbar-collapse {
  &.in, &.collapsing {
    background: #fff;
    width: 100%;
    text-align: center;
    position: absolute;
  }
  &.in ul li a, &.collapsing ul li a {
    padding-bottom: 5px;
  }
}

/*** fixed page ****/

.page-fixed {
  padding-top: 150px;
  padding-bottom: 150px;
  color: #fff;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.quote-box {
  padding: 30px;
  border: #4cc8f2 2px solid;
  margin-bottom: 30px;
}

.quote-wrap {
  border-bottom: 1px solid #efefef;
  padding-bottom: 10px;
  margin-bottom: 20px;
  &:last-child {
    border-bottom: 0px;
  }
}

.quote-box h4 {
  line-height: inherit;
}

.make-table {
  position: relative;
  display: table;
}

/* ----- INDEX ----- */

body.home {
	#menu-main-nav-1 {
		margin-bottom: 40px;
	}
}
body.home .nav-item a {
  color: #666;
  &:hover {
    text-decoration: none;
    color: #000;
  }
}

#theLogo {
  margin-top: 40px;
  margin-bottom: 40px;
}

#home-logo {
  margin: 50px 0;
}

.hero-img {
  padding-right: 0;
  padding-left: 0;
  img {
    overflow: hidden;
  }
}

.hero-left {
  padding-right: 15px;
  margin-top: 2px;
}

.hero-right {
  padding-left: 15px;
  margin-top: 2px;
}

.hero-button {
  a {
    font-size: 30px;
    font-weight: 100;
  }
  .aleft {
    margin-right: -36%;
  }
  .aright {
    margin-left: -36%;
  }
  .hero-sub-nav {
    &::before, &::after {
      font-weight: 200;
      font-size: 72px;
    }
  }
}

#Tagline {
  padding: 20px;
  border-top: #f8f8f8 2px solid;
  border-bottom: #f8f8f8 2px solid;
  margin-top: 30px;
  margin-bottom: 40px;
}

.featured {
  margin-bottom: 30px;
}

.featured-textbox {
  position: absolute;
  display: table;
  width: 100%;
  left: 0;
  text-transform: uppercase;
}

.textbox-left {
  width: 40%;
}

.featured-valign-t, .featured-valign-m, .featured-valign-b {
  display: table-cell;
  vertical-align: middle;
}

.tall {
  height: 200px;
}

.square {
  height: 200px;
  overflow: hidden;
}

.wide {
  margin-top: 30px;
  height: 200px;
}

.marg-square {
  margin-top: 30px;
}

.featured-textbox h2, .featured-bottom-text h2 {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 0;
  margin-top: 6px;
  line-height: 1;
}

.featured-textbox h3 {
  font-weight: 300;
  font-size: 18px;
  margin-top: 0;
}

.featured-bottom-text {
  h3 a {
    font-weight: 300;
    font-size: 18px;
    margin-top: 0;
    color: #000;
  }
  width: 100%;
  height: 218px;
  text-align: center;
  padding-top: 16%;
}

.featured-textbox {
  a {
    font-size: 14px;
  }
  .hero-sub-nav {
    &::before, &::after {
      font-size: 46px;
    }
  }
}

.featured-bottom img {
  vertical-align: top;
}

.bottom-outline {
  border: #f5f5f5 2px solid;
}

.bottom-fill {
  background-color: #f5f5f5;
}

#grid-container

/* ----- WHO WE ARE ----- */

.hero-dancers {
  background-image: url(../images/Header-img-dancers.jpg);
}

p i {
  margin-left: 10px;
  vertical-align: middle;
}

.about-valign-m {
  display: table-cell;
  vertical-align: middle;
  height: 350px;
}

.company-bio.readmore-js-section {
  border-bottom: #f8f8f8 solid 1px;
}

.readmore-js-toggle.marg-above {
  margin-top: 20px;
}

.twitter-fix iframe {
  margin-bottom: -5px;
}

/* ----- OUR WORK ----- */

.work-full {
  margin-top: 70px;
  margin-bottom: 40px;
  padding-right: 0;
  padding-left: 0;
  color: #fff;
}

.work-header {
  position: absolute;
  width: 95%;
  height: 100%;
  max-height: 300px;
  left: 5%;
  .make-table {
    height: 30%;
  }
  div h1 {
    height: 70%;
    font-size: 18px;
    span {
      /* border-bottom:none; */
    }
  }
}

.header-row img {
  border-bottom: #f8f8f8 2px solid;
}

.work-text {
  margin-top: 20px;
  margin-bottom: 40px;
  h1 span {
    border-bottom: none;
  }
}

.work-item {
  border: #f8f8f8 2px solid;
  margin-bottom: 20px;
  overflow: hidden;
  &:hover {
  	border: #ececec 2px solid;
  }
  h2 {
	  a {
		  &:hover {
		  	border-bottom:0px !important;
		  	font-weight: 300;
		  }
	  }
  }
  img {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
  .work-image-wrap {
    img {
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
      /* Firefox 3.5+ */
      filter: gray;
      /* IE6-9 */
      -webkit-filter: grayscale(100%);
      /* Chrome 19+ & Safari 6+ */
    }
    &:hover img {
      filter: none;
      -webkit-filter: grayscale(0%);
      -webkit-transition: 500ms -webkit-filter linear;
      -moz-transition: 500ms -moz-filter linear;
      -o-transition: 500ms -o-filter linear;
    }
    h3.work-more {
      display: none;
      a {
        color: #fff !important;
        &:hover {
	        border: 0px !important;
        }
      }
    }
    &:hover h3.work-more {
      display: block;
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 19%;
      width: 50%;
      text-align: center;
      a {
        color: #fff !important;
        &:hover {
	        border: 0px !important;
        }
      }
    }
  }
}

/*** blog page ***/

.blog-item {
  border: #f8f8f8 2px solid;
  margin-bottom: 20px;
  overflow: hidden;
  &:hover {
  	border: #ececec 2px solid;
  }
  h2 {
	  a {
		  &:hover {
		  	border-bottom:0px !important;
		  	font-weight: 300;
		  }
	  }
  }
  img {
    width: 100%;
    height: auto;
    margin-top: 0px;
  }
  .blog-image-wrap {
	  padding:0px;
    img {
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
      /* Firefox 3.5+ */
      filter: gray;
      /* IE6-9 */
      -webkit-filter: grayscale(100%);
      /* Chrome 19+ & Safari 6+ */
    }
    &:hover img {
      filter: none;
      -webkit-filter: grayscale(0%);
      -webkit-transition: 500ms -webkit-filter linear;
      -moz-transition: 500ms -moz-filter linear;
      -o-transition: 500ms -o-filter linear;
    }
    h3.blog-more {
      display: none;
      a {
        color: #fff !important;
        &:hover {
	        border: 0px !important;
        }
      }
    }
    &:hover h3.blog-more {
      display: block;
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 19%;
      width: 50%;
      text-align: center;
      a {
        color: #fff !important;
        &:hover {
	        border: 0px !important;
        }
      }
    }
  }
}

/** press page **/

.press-item {
  border: #f8f8f8 2px solid;
  margin-bottom: 20px;
  overflow: hidden;
  h2 {
	  a {
		  &:hover {
		  	border-bottom:0px !important;
		  	font-weight: 300;
		  }
	  }
  }
  .press-image-wrap {
	  text-align: center;
    img {
	  margin-top:10%;
	  width: auto;
	  height: auto;
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
      /* Firefox 3.5+ */
      filter: gray;
      /* IE6-9 */
      -webkit-filter: grayscale(100%);
      /* Chrome 19+ & Safari 6+ */
    }
    &:hover img {
      filter: none;
      -webkit-filter: grayscale(0%);
      -webkit-transition: 500ms -webkit-filter linear;
      -moz-transition: 500ms -moz-filter linear;
      -o-transition: 500ms -o-filter linear;
    }
    h3.work-more {
      display: none;
      a {
        color: #fff !important;
        &:hover {
	        border: 0px !important;
        }
      }
    }
    &:hover h3.work-more {
      display: block;
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 19%;
      width: 50%;
      text-align: center;
      a {
        color: #fff !important;
        &:hover {
	        border: 0px !important;
        }
      }
    }
  }
}

/* ----- CONTACT ------ */

.contact-header {
  margin-bottom: 30px;
}

.contact-img-h {
  height: 300px;
}

.contact-txt-h {
  min-height: 460px;
  z-index: 100;
}

.contact-txt-left, .contact-txt-right {
  text-align: center;
}

/* ----- SINGLE PERFORMANCES ------ */
/*** fade the slides ***/

.carousel-fade {
  .carousel-inner {
    .item {
      opacity: 0;
      -webkit-transition-property: opacity;
      -moz-transition-property: opacity;
      -o-transition-property: opacity;
      transition-property: opacity;
    }
    .active {
      opacity: 1;
      &.left, &.right {
        left: 0;
        opacity: 0;
        z-index: 1;
      }
    }
    .next.left, .prev.right {
      opacity: 1;
    }
  }
  .carousel-control {
    z-index: 2;
  }
}

/** add some arrows to the content row carousel **/

#bt-performance-gallery .bt-carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 10%;
  font-size: 40px;
  color: #fff;
  text-align: center;
  text-shadow: inherit;
  filter: inherit;
  opacity: inherit;
  &.right {
    right: 0;
    left: auto;
  }
  i {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 45px;
  }
}

/** responsive video embeds */

#bt-performance-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/* ----- SUPPORT ----- */

.support-header {

}

.bkg-white {
	background-color:#ffffff;
	}

.support-item {
  border: none;
  margin-bottom: 30px;
  text-align: center;
}

.support-text {
  margin-top: 40px;
  margin-bottom: 40px;
}

.support-item form {
  margin-bottom: 30px;
  text-align: center;
}

#amznCharityBanner {
  margin: 0 auto;
}

/* ----- CONTACT ----- */

.page-contact {
	background-image: url(../images/contact-bkg.jpg);
	background-repeat:no-repeat;
	background-position:top right;
	background-size:cover;
	}

/* ----- PAGE ------ */

#content a {
  color: #4cc8f2;
  &:link, &:visited {
    color: #4cc8f2;
  }
  &:hover {
    border-bottom: #4cc8f2 1px solid;
  }
}

/* ----- ROLES ------- */

.company-social {
	.insta {
		a {
			font-size: 24px;
			color: #4cc8f2;
			line-height: 22px;
			vertical-align: middle;
		}
	}
}

/* ----- FOOTER ----- */

#Footer {
  padding: 20px 0;
  border-top: #f8f8f8 1px solid;
  border-bottom: #f8f8f8 1px solid;
  margin-top: 100px;
  a {
    color: #4cc8f2;
    text-decoration: none;
    font-weight: 700;
    &:hover {
      color: #4cc8f2;
      text-decoration: underline;
    }
  }
}

.fa-15x {
  font-size: 1.5em;
}
@media (max-width:468px) {
	h1 {
		font-size: 28px;
	}
	.contact-img-h {
	  height: 350px;
	}
	.hero-img {
		.hero-button {
			position: relative;
			display: inline-block;
			padding-top:30px;
			bottom: 0px;
		}
	}
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
	.hero-img {
		height:95%;
		background-attachment: inherit;
		margin-bottom: 0px;
		&.hero-right, &.hero-left {
			background-position: top center !important;
		}
	}
	#Tagline {
		margin-top:0px;
	}
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
	.hero-img {
		height:100%;
		background-attachment: fixed;
		&.hero-right, &.hero-left {
			background-position: top center !important;
		}
	}
	#Tagline {
		margin-top:25px;
	}
}

@media (min-width: 768px) {
  h1 {
    font-size: 50px;
  }
  .height-fix {
    height: 85%;
  }
  .start-container {
    height: 100%;
    margin-top: 0px;
  }
  .hero-img {
  }
  .hero-sub-nav {
    &::before {
      padding-right: 10px;
    }
    &::after {
      padding-left: 10px;
    }
    a {
      font-weight: 400;
    }
  }
  #grid-container [class*='col-'] {
    border-left: 30px solid #fff;
  }
  .grid-item {}
  .disappear {
    display: none;
  }
  .navbar-brand {
    width: 60px;
    height: 50px;
  }
  .nav > li > a {
    padding-left: 0;
    padding-right: 0;
  }
  .header-row img {
    border: none;
  }
  .m-no-pad {
    padding-left: 15px;
  }
  .nav-center .nav-item {
    line-height: 1.2;
  }
  body {
    &.single-repertory .hero-full, &.page .hero-full, &.single .hero-full {
      height: auto;
      padding: 7% 0;
    }
  }
  /* ----- HOME PAGE -----*/
  .hero-button {
    a {
      font-size: 28px;
      margin-right: 0;
    }
    .aleft {
      margin-right: 0;
    }
    .aright {
      margin-left: 0;
    }
    .hero-sub-nav {
      &::before, &::after {
        font-size: 72px;
      }
    }
  }
  .featured-8 {
    margin-top: 13px;
  }
  .featured-valign-t {
    vertical-align: top;
  }
  .featured-valign-m {
    vertical-align: middle;
  }
  .featured-valign-b {
    vertical-align: bottom;
    padding-bottom: 20px;
  }
  .hero-img {}
  .hero-left {
    padding-right: 0;
    margin-top: 0;
  }
  .hero-right {
    padding-left: 0;
    margin-top: 0;
  }
  #Tagline {
    margin-bottom: 100px;
  }
  .tall {
    height: 406px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .square {
    height: 220px;
    overflow: visible;
  }
  .wide {
    height: 173px;
    margin-top: 12px;
  }
  .marg-square {
    margin-top: 0;
  }
  .featured-textbox h2, .featured-bottom-text h2 {
    font-size: 30px;
    margin-bottom: 0;
  }
  .featured-textbox h3 {
    font-size: 15px;
    margin-top: 0;
  }
  .featured-bottom-text {
    h3 {
      font-size: 15px;
      margin-top: 0;
    }
    padding-top: 15%;
  }
  /* ----- OUR WORK ----- */
  .work-header {
    .make-table {
      height: 90%;
    }
    div h1 {
      height: 70%;
      font-size: 50px;
    }
  }
  .work-text {
    margin-top: 0;
    margin-bottom: 0;
    h1 span {
      border-bottom: #f8f8f8 1px solid;
    }
  }
  .work-item img {
    width: 570px;
    margin-top: 0;
  }
  .hero-sub-nav {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .quote-box {
    margin-bottom: 0;
  }
  /* ----- SUPPORT ----- */
  .support-item {
    border: #f8f8f8 1px solid;
    text-align: left;
  }
  /* ----- CALENDAR ----- */
  .hero-submit {
    margin-top: 0;
  }
  /* ----- CONTACT ----- */
  .contact-txt-left {
    text-align: right;
  }
  .contact-txt-right {
    text-align: left;
  }
}

@media (min-width: 992px) {
  /* ----- HOME PAGE -----*/
  .hero-img img {}
  .featured-8 {
    margin-top: 23px;
  }
  .tall {
    height: 542px;
  }
  .square {
    height: 293px;
  }
  .wide {
    height: 226px;
  }
  .featured-textbox h2, .featured-bottom-text h2 {
    font-size: 36px;
    margin-bottom: 0;
  }
  .featured-textbox h3 {
    font-size: 18px;
    margin-top: 0;
  }
  .featured-bottom-text {
    h3 {
      font-size: 18px;
      margin-top: 0;
    }
    padding-top: 12%;
  }
  /* ----- OUR WORK ----- */
  .work-text {
    margin-top: 6%;
    margin-bottom: 0;
  }
  .hero-sub-nav {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  /* ----- CALENDAR ----- */
  .hero-submit {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .work-text {
    margin-top: 10%;
  }
  .hero-sub-nav {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  /* ----- HOME PAGE -----*/
  .hero-img {
	height: 100%;
    margin-bottom: 30px;
    background-attachment: fixed;
    background-size: contain;
	&.hero-right {
      background-position: right center;
    }
	&.hero-left {
      background-position: left center;
    }
  }
  .hero-button {
    a {
      font-size: 42px;
    }
    .hero-sub-nav {
      &::before, &::after {
        font-size: 90px;
      }
    }
  }
  #Tagline {
    margin-top: 25px;
    margin-bottom: 100px;
  }
  .featured-8 {
    margin-top: 30px;
  }
  .featured-bottom-text {
    height: 250px;
  }
  .featured-textbox h2, .featured-bottom-text h2 {
    margin-top: 15px;
  }
  .tall {
    height: 665px;
  }
  .square {
    height: 360px;
  }
  .wide {
    height: 275px;
  }
  /* ----- CALENDAR ----- */
  .hero-submit {
    margin-top: 10px;
  }
  /* ----- CONTACT ----- */
  .contact-txt-h {
    min-height: 600px;
  }
}

/**** Content Sliding ******/

.height-transition {
  -webkit-transition: max-height .5s ease-in-out;
  -moz-transition: max-height .5s ease-in-out;
  -o-transition: max-height .5s ease-in-out;
  transition: max-height .5s ease-in-out;
  overflow-y: hidden;
}

.height-transition-hidden {
  max-height: 0;
}

/**** remove wow.js animation for tablet/mobile ******/

@media (max-width: 768px) {
  .wow {
    visibility: visible !important;
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
}

/*** ecs tweaks ***/

ul.ecs-event-list {
  list-style-type: none;
  margin: 15px 0 15px 0;
  padding: 0;
  border-top: 1px solid #efefef;
  li {
    margin: 0 0 15px 0;
    padding: 0 0 15px 0;
    border-bottom: 1px solid #efefef;
  }
}