body {
	background: #000 !important;
}
#wp-submit, .wp-core-ui .button-primary {
	background-color:#000 !important;
	background:#000 !important;
	border: #000 !important;
	box-shadow: none !important;
	border-radius: 0px !important;
	text-shadow: none !important;
}
.login #login_error, .login .message {
	border-left: 0px !important;
}
.login form {
	box-shadow:0px !important;
	border:0px;
}
