/* page styles */

h1 {
	font-family:Georgia, serif;
	font-weight:bold;
	margin-bottom:0;
	color:#3C3C3C;
}
h2 {
	font-family:Georgia, serif;
	font-style:italic;
	margin-top:10px;
	font-size:19px;
	color:#737373;
}

p {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#888888;
}

a {
	font-family:Georgia, serif;
	color:#3C3C3C;
	text-transform:uppercase;
	&:hover{
		color:#000;
		}
	}

.btn {
	border-radius:0;
	color:#fff;
	font-family:Georgia, serif;
	text-transform:uppercase;
}
.btn-primary{
	color:#fff;
	background-color:#414141;
	border:none;
	padding:10px 20px;
	&:hover{
		background-color:#888;
		color:#000;
		}
	}

.container-fluid { padding:0; }

.pr0 {padding-right:0;}

.hero{
	background-image:url(../imgs/hero.jpg);
	background-size:cover;
	background-position:bottom center;
	height:500px;
	@media only screen and (min-width:768px) {
		height:600px;
	}
	@media only screen and (min-width:1200px) {
		height:700px;
	}
	
	.show-mobile{
		margin-top:20px!important;
	}
	
	margin-top:0;
	margin-bottom:0;
	.logo-container{
		height:100%;
		
		img {
			position:absolute;
			bottom:0;
			left:10%;
			}
	}
}


#top-updates{
	&.row{
		margin:0 0 0 15px;
		height:100%;
		}
	.hidden-xs{
		height:100%;
		}
	.headline-text{
		a {
			color:rgba(255,255,255,1.00);
			font-size: 20px;
			font-style: italic;
			line-height: 1.3;
			text-transform:none;
			text-decoration:none;
		}
	}
}
		
.carousel {
	min-height:300px;
	padding-top: 30px;
	  
	.carousel-indicators {
	  position:relative;
	  padding-right:15px;
	  width:auto;
	  bottom:0;
	  left:auto;
	  right:15px;
	  text-align:right;
	  
	  li{
		  color:rgba(255,255,255,0.75);
		  font-size:12px;
		  font-family:Georgia, serif;
		  text-align:right;
		  
		  background-color:transparent;
		  border:none;
		  width: 20px;
		  height: 16px;
		  }
		  & .active {
			  font-weight:bold;
			  color:rgba(255,255,255,1);
			  }
		  
	  }
	
	.carousel-inner{
		border-top:#fff 1px solid;
		}
	
	.carousel-caption {
		padding-top: 10px;
		padding-bottom: 60px;
		padding-right:15px;
		position: static;
		text-shadow: none;
		text-align:left;
		
		p{
		font-family:Georgia, serif;
		color:#FFFFFF;
		font-size:20px;
		font-style:italic;
		line-height: 1.3;
		}
		a{
			font-size:17px;
			color:rgba(255,255,255,0.75);
			& img {
				vertical-align:middle;
				margin-top: -3px;
			}
			&:hover{
				color:rgba(255,255,255,1);
				text-decoration:underline;
				}
		}
	}
}

.row {
	margin-top:10px;
	margin-bottom:40px;
	}

.gallery-link{
	font-size:16px;
	color:#3C3C3C;
	border: 1px solid #3C3C3C;
	background-color:#fff;
	padding:10px 20px;
	margin-top: 8px;
	
	&:hover {
		background-color:#3C3C3C;
		color:#fff;
		}
	
	& img {
		vertical-align:middle;
		margin-top: -3px;
		}
	}
	
.thumbs {
	margin-bottom: 40px;
		a {
			background-color:#000;
			&:hover{
				opacity:.6;
			}
		}
	}
	
.MAform, form {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  
	padding-left:15px;
	padding-right:15px;
	.control-label,
	.maForm label {
		font-family:Georgia, serif;
		font-size:14px;
		padding-left:0;
		}
	.form-control,
	.maForm input.formText {
		border-radius:0;
		box-shadow:none;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight:normal;
		width: 100%;
		height: 34px;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #999;
		}
	.maForm label {
		width:100%;
		}
	.maForm div.maFormComboHalf input.formText {
		width:100%;
		}
	.maFormComboFirstHalf {
		margin-right:4%;
		}
	.maFormComboHalf {
		display: inline-block;
  		width: 48%;
		}
	textarea {
		resize:none;
		}
	#submit,
	.maForm button,
	.maForm .formSubmit {
		margin-top:6px;
		margin-bottom: 0;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.42857143;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		cursor: pointer;
		-webkit-user-select: none;
		text-shadow:none;
		
		border-radius: 0;
		color: #fff;
		font-family: Georgia, serif;
		text-transform: uppercase;
		background-color: #414141;
		border: none;
		padding: 10px 20px;
		background-image: none;
		}
}

footer .social {
	margin:50px 0 20px 0;
	}
footer .social img {
	margin:0 10px;
	}

footer {
	.phone {
		margin-bottom:5px;
		}
	.phone,
	.address {
		font-family:Georgia, serif;
		font-size:22px;
		color:#3c3c3c;
		}
	a {
		color:#3c3c3c;
		&:hover{
			color:#000;
			}
	}
	.disclaimer {
		font-size:11px;
		color:#000;
		margin-top:40px;
	}
}

@media only screen and (min-width:768px) {
	.show-mobile{
		display: none!important;
	}
	.row {
		margin-top:50px;
		margin-bottom:50px;
	}
}