/* media includes */

// devices viewport width starts at:
$breakpoints: (xs-phone: 320px, phone: 480px, tablet: 754px, desktop: 1024px, widescreen: 1200px);

// keywords
$media-expressions: ("screen": "screen", "print": "print", "handheld": "handheld", "landscape": "(orientation: landscape)", "portrait": "(orientation: portrait)", "retina2x": "(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)", "retina3x": "(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)");

// fonts

@font-face {
  font-family: 'BodoniItalic';
  src: url('../../fonts/bodonibookitalic-webfont.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/bodonibookitalic-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/bodonibookitalic-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/bodonibookitalic-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../fonts/bodonibookitalic-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/bodonibookitalic-webfont.svg') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'BodoniReg';
  src: url('../../fonts/bodonibook-webfont.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/bodonibook-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/bodonibook-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/bodonibook-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../fonts/bodonibook-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/bodonibook-webfont.svg') format('svg'); /* Legacy iOS */
}

.bodoni-italic {
	font-family: 'BodoniItalic', Garamond, serif;
}
.bodoni-reg {
	font-family: 'BodoniReg', Garamond, serif;
}

.proxima {
	font-family: "proxima-nova", Helvetica, sans-serif;
	letter-spacing: 1.2px;
}

.get-up {
	text-transform: uppercase;
}

/* general styles */

html, body, main, #w1 {
	height: 100%;
	width:100%;
}

body {
	background: #fff;
	&.home {
		background: #000;
	}
}

h1 {
	margin-top: 10px;
	text-transform: uppercase;
	a {
		color:#000;
		&:hover {
			text-decoration: none;
			color:#000;
		}
		@include media("screen", "<tablet") {
			font-size: 14px;
		}
	}
	@include media("screen", "<tablet") {
		width: 50%;
	}
}

h2 {
	margin-bottom: 60px;
	font-size: 40px;
}


.btn {
	border-radius: 0px;
	background: #fff;
	color:#000;
	font-size: 20px;
	&.btn-inverse {
		background: #000;
		color:#fff;
	}
}

.modal-dialog {
	&.modal-wide {
		@include media("screen", ">tablet") {
			min-width:1200px;
		}
	}
	.modal-content {
		box-shadow: none;
		border-radius: 0px;
		.modal-header {
			a {
				color:#000;
			}
		}
		#loginform {
			input {
				border-radius: 0px;
				color:#000;
				&.form-control {
					height: 105px;
					font-size: 16px;
					border:0px;
					border-bottom: 1px solid #000;
					color:#000;
					box-shadow: none;
					text-align: center;
				}
				&[type="submit"] {
					height: 65px;
					font-size: 36px;
					color:#fff !important;
					margin-top:20px;
					width:100%;
				}
			}
		}
	}
}

::-webkit-input-placeholder {
	font-family: "proxima-nova"Helveticasans-serif;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	color:#000 !important;
	opacity: 1 !important;
}

:-moz-placeholder {
	font-family: "proxima-nova"Helveticasans-serif;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	color:#000 !important;
	opacity: 1 !important;
}

::-moz-placeholder {
	font-family: "proxima-nova"Helveticasans-serif;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	color:#000 !important;
	opacity: 1 !important;
}

:-ms-input-placeholder {
	font-family: "proxima-nova"Helveticasans-serif;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	color:#000 !important;
	opacity: 1 !important;
}

:placeholder-shown {
	font-family: "proxima-nova"Helveticasans-serif;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	color:#000 !important;
	opacity: 1 !important;
}

.home .flex-container {
    height: 45%;
}

.home .black-bg.flex-container {
    height: 100%;
}

.flex-container {
	display:flex;
	height:100%;
	width:100%;
	align-items: center;
	.flex-item {
		margin: 0 auto;
	}
}

header {
	position: relative;
	top:0px;
	padding-left: 20px;
	z-index: 999;
	width: 100%;
	h1 {

	}
}

nav {
	z-index: 99;
	margin: 0 auto;
	ul {
		li {
			margin:0 20px;
			a {
				color:#000;
				font-size: 24px;
				&:hover, &:focus {
					color:#fff;
					text-decoration: none;
					background: none !important;
					header & {
						color: #000;
						text-decoration: underline !important;
						background: none !important;
					}
				}
				@include media("screen", "<tablet") {
					margin: 0;
					padding: 10px 0 0 !important;
				}

			}
			&:focus {
				background: none !important;
			}
			@include media("screen", "<tablet") {
				margin: 0 0 15px;
				padding: 0;
			}
		}
		@include media("screen", "<tablet") {
			margin: 0;
			padding: 0;
		}
	}
	.icon-bar {
		background: #000;
	}
	#navbar {
		background: #fff;
	}
	@include media("screen", "<tablet") {
		padding-right: 15px;
	}
}
#pb-carousel {
	height: 100%;
	border-width: 20px;
	border-style: solid;
	border-color: #fff;
	.carousel-inner {
		height: 100%;
		.item {
			height: 100%;
			img {
				position: absolute;
			    top: 0;
			    left: 0;
			    min-width: 100%;
			    min-height: 100%;
			    @include media("screen", "<tablet"){
				    min-height: 70%;
			    }
			}
		}
	}
	.carousel-control {
		background-image: none !important;
		i {
			position: absolute;
			top: 40%;
			font-size: 2em;
			color:#000;
			&.left {
				left: 0px;
				background-image: none !important;
			}
			&.right {
				right: 0px;
				background-image: none !important;
			}
		}
	}
}

#timeline {
	.jcarousel-wrapper {
	  	margin: 20px auto 0;;
	  	position: relative;
	  	.jcarousel {
		  	position: relative;
		  	overflow: hidden;
		  	width: 100%;
		  	ul {
		    	width: 20000em;
				position: relative;
				list-style: none;
				margin: 0;
				padding: 0;
		  	}
		  	li {
		    	width: 33%;
				float: left;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				text-align: center;
				.marker {
					i {
						color:#000;
					}
				}
		  	}
		  	.timeline-image {
		  		padding:0 10px;
			}
			.timeline-text {
				text-align: center;
				padding:20px 20px 0;
				font-size: 22px;
				margin:20px 0 0;
				min-height: 175px;
			}
		}
		.jcarousel-control-prev, .jcarousel-control-next {
			position: absolute;
			top: 50%;
			margin-top: -15px;
			width: 10%;
			height: 30px;
			text-align: center;
			color: #000;
			text-decoration: none;
			font: 24px/27px Arial, sans-serif;
		}
		.jcarousel-control-prev {
		  left: -115px;
		  @include media("screen", "<desktop") {
				left:-30px;
			}
		}
		.jcarousel-control-next {
		  right: -115px;
		  @include media("screen", "<desktop") {
				right:-30px;
			}
		}
		&:after {
			content: '';
			position: absolute;
			height: 5px;
			border: solid #000;
			border-width: 1px 0;
			bottom: 4px;
			left:0;
			width:100%;
		}
	}
}

#timeline-mobile {
	padding:0px 0 0;
	.timeline-image {
  		padding:0 10px;
  		margin-top: 30px;
	}
	.timeline-text {
		text-align: center;
		padding-top:20px;
	}
	.timeline-item {
		margin-bottom:30px;
		padding-bottom: 20px;
		&:after {
			content: '';
			position: absolute;
			height: 5px;
			border: solid #000;
			border-width: 1px 0;
			bottom: 0;
			left:0;
			right:0;
			margin: auto;
			width:80%;
		}
	}
}

.bg-stretch {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    img {
	    max-width: 1550;
		vertical-align: top;
    }
}

.home .bg-stretch {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    img {
	    max-width: none;
		vertical-align: top;
    }
	@include media("screen", "<tablet") {
		background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    -webkit-background-size: cover;
	    background-image: url('../../images/centerfold.jpg');
	    background-position: center;
	    img {
		    display: none;
	    }
	}
}

.z-neg-one {
	z-index: -1;
}
.z-zero {
    z-index: 0;
}
.z-one {
    z-index: 1;
}

.access-holder {
	width: 50%;
	@include media("screen", "<tablet") {
		width: 100%;
	}
	height: auto;
	display: block;
	position: relative;
	.bg-stretch {
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    z-index: 1;
	}
	video {
		position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    width: 100%;
	    height: 100%;
	    z-index: 0;
	}
	.logo-holder {
		height: 700px;
		overflow: hidden;
		@include media("screen", "<tablet") {
			height: auto;
		}
		img {
			width:50%;
		}
	}
	.btn-holder {
		ul {
			li {
				@include media("screen", "<tablet") {
					width:100%;
				}
				&.or {
					color:#fff;
					font-size: 16px;
					margin-left: 20px;
					@include media("screen", "<tablet") {
						margin:10px 0 0;
					}
				}
			}
		}
	}
}