body {
	background: #fff !important;
}
#wp-submit {
	background-color:#EF4035 !important;
	background:#EF4035 !important;
}
.wp-core-ui .button-primary {
	background-color:#EF4035 !important;
	background:#EF4035 !important;
	border:#fff !important;
	box-shadow: 0px !important;
}
.login form {
	box-shadow:0px !important;
	border:0px;
}