@font-face {
	font-family:'Bebas';
	src:url(../fonts/bebasneue-webfont.eot);
	src:url(../fonts/bebasneue-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/bebasneue-webfont.woff) format("woff"),url(../fonts/bebasneue-webfont.ttf) format("truetype"),url(../fonts/bebasneue-webfont.svg#bebas_neueregular) format("svg");
	font-weight:400;
	font-style:normal;
}

@font-face {
	font-family:'Proxima Nova - Regular';
	src:url(../fonts/proxima-nova-reg.ttf) format("truetype");
	font-weight:400;
	font-style:normal;
}

@font-face {
	font-family: 'BauerBodoniLT-Roman';
	src: url('../fonts/BauerBodoniLT-Roman.eot?#iefix') format('embedded-opentype'), url('../fonts/BauerBodoniLT-Roman.woff') format('woff'), url('../fonts/BauerBodoniLT-Roman.ttf') format('truetype'), url('../fonts/BauerBodoniLT-Roman.svg#BauerBodoniLT-Roman') format('svg');
	font-weight: normal;
	font-style: normal; }

html, body {
	color:#222;
	font-size:1em;
	line-height:1.4;
	height:100%;
	width:100%;
	background:#000;
	font-family:'Proxima Nova - Regular',Helvetica Neue,Helvetica,sans-serif;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
	background:#b3d4fc;
	text-shadow:none;
}

::selection {
	background:#b3d4fc;
	text-shadow:none;
}

.clear {
	clear:both;
}

header {
	background:#000;
	padding-top:2px;
	z-index:99;
}

header h1 {
	margin:5px 0 !important;
}
header h1 a {
	font-family: 'BauerBodoniLT-Roman',serif !important;
	margin:7px 0 !important;
	font-size:22px;
}
header h1 a:hover {
	color:#fff !important;
	text-decoration: none;
}

.navbar-default .navbar-brand {
	font-family:'Proxima Nova - Regular';
	padding:10px 10px 0;
	z-index:1;
	text-transform:uppercase;
	letter-spacing:0;
	color:#fff;
	text-decoration:none;
	font-weight:400;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-nav {
	float: right;
	margin-top:10px !important;
}
.navbar-brand {
	font-size: 31px !important;
}

header .navbar-default {
	background: #000;
	border:0px;
}
header .navbar {
	min-height: auto;
	margin:0;
}
header .navbar-default .navbar-nav>li>a {
	color:#fff;
	font-size: 16px;
}
header .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, header .navbar-default .navbar-nav>.active>a:focus, header .navbar-default .navbar-nav>li>a:hover, header .navbar-default .navbar-nav>li>a:focus {
	color:#fff;
	text-decoration: underline;
	background: transparent;
}

header nav ul li a {
	color:#ccc;
	text-transform:uppercase;
	letter-spacing:1px;
	text-decoration:none;
	font-family:'Proxima Nova - Regular',Helvetica Neue,Helvetica,sans-serif;
	font-size:15px;
}

header nav ul li a:hover,header nav ul li.current-menu-item a {
	color:#EF4035;
}

#main {
	  height: 100%;
	  width: 100%;
	  z-index: -1!important;
	  background-size: cover;
	  background-attachment: fixed;
	  background-position: 0 -5px;
}

#left-border,#right-border {
	background:none repeat scroll 0 0 #FFF;
	bottom:0;
	height:100%;
	position:fixed;
	width:30px;
	z-index:1;
}

#left-border {
	left:0;
}

#right-border {
	right:0;
}

#pp-carousel {
	height:100%;
	width:100%;
}

#pp-carousel .carousel-inner, #pp-carousel .item {
	height: 100%;
}

#pp-carousel .item {
	background-position: center center;
	 background-repeat: no-repeat;
	 width: 100%!important;
	 height: 100%!important;
	 -webkit-background-size: cover!important;
	 -moz-background-size: cover!important;
	 -o-background-size: cover!important;
	 background-size: cover!important;
}

.carousel-control {
    background-image: none !important; /* remove background gradients on controls */
}

.carousel-fade .carousel-inner .item {
      opacity: 0;
      transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
      opacity: 1;
    }

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
      opacity: 1;
    }

.carousel-fade .carousel-inner .carousel-control {
    z-index: 2;
  }

#simple-slider {
 overflow: hidden;
 position: relative;
 width: 100%;
 height: 100%;
 margin: 0;
 -webkit-backface-visibility: hidden;
 backface-visibility: hidden;
 -webkit-transform-style: preserve-3d;
 transform-style: preserve-3d;
 background-color: black;
}
.simple-slide {
 background-position: center center;
 background-repeat: no-repeat;
 position: absolute;
 width: 100%!important;
 height: 100%!important;
 top: 0;
 z-index: 1;
 opacity: 0;
 -ms-filter: 'alpha(opacity=0)';
 -webkit-background-size: cover!important;
 -moz-background-size: cover!important;
 -o-background-size: cover!important;
 background-size: cover!important;
}
.simple-slide-content-wrapper {
 height: 100%;
}
.simple-slide-content {
 display:none;
}
.simple-slide-content h2 {
display:none;
}
.simple-slide-content p {
 display:none;
}
.fader_controls .prev,
.fader_controls .next {
 position: absolute;
 height: 80px;
 line-height: 55px;
 width: 50px;
 font-size: 100px;
 text-align: center;
 color: #fff;
 top: 50%;
 left: 0;
 z-index: 4;
 margin-top: -25px;
 cursor: pointer;
 opacity: .7;
 transition: all 150ms;
}
.fader_controls .prev:hover,
.fader_controls .next:hover {
 opacity: 1;
}
.fader_controls .next {
 left: auto;
 right: 0;
}
.pager-list, .pager-list li {
 display:none;
}
@media screen and (max-width: 1160px) {
 .simple-slide-content {
 bottom: 0;
 padding: 50px 0;
 }
 .simple-slide-content h2,
 .simple-slide-content p {
 text-align: center;
 }
 .simple-slide-content a.button {
 margin-top: 30px;
 float: none;
 }
}
@media screen and (max-width: 960px) {
 #simple-slider {
 margin-top: -60px;
 }
 .simple-slide {
 padding: 0;
 }
 #simple-slider .fader_controls {
 display: none;
 }
}
@media screen and (max-width: 680px) {
 .simple-slide-content {
 width: 100%;
 margin-left: 0;
 left: inherit;
 height: auto;
 }
 .simple-slide-content h2,
 .simple-slide-content p {
 font-size: 20px;
 }
}

#wrapper {
	color:#000;
	background:#fff;
	background:rgba(255,255,255,0.8);
	padding: 50px;
	margin-top: 50px;
}

#wrapper h2 {
	font-family: 'BauerBodoniLT-Roman',serif;
	font-size:40px;
	font-weight:400;
	margin:10px;
	text-align:center;
	text-transform:uppercase;
}

#wrapper p {
	font-family:'Proxima Nova - Regular',Helvetica Neue,Helvetica,sans-serif;
	font-size:15px;
}

#wrapper a {
	color:#EF4035;
}

#wrapper ul li {
	font-family:Georgia,Arial,Helvetica,sans-serif;
}

.one_half {
	float:left;
	margin-right:30px;
	width:48%;
}

.last {
	margin-right:0!important;
	clear:right;
}

#gallery-1 {
	padding-left:0;
}

.gallery-columns-6 dl {
	margin-right:6px!important;
}

footer {
	bottom:0;
	height:auto;
	left:0;
	position:fixed;
	width:100%;
	background:rgba(47,45,45,0.45);
	z-index:99;
}

footer .logo {
	padding:10px 0 10px 10px;
	float: left;
}

footer .credits {
	font-family:Georgia,Arial,Helvetica,sans-serif;
	font-size:12px;
	font-style:italic;
	float:right;
	margin-right:30px;
	padding:25px 10px 0 0;
	color:#fff;
}

footer .credits a {
	color:#63D1F4;
}

footer .break {
	float:left;
	margin-left:5px;
}

footer .no-break {
	float:left;
}

img.size-auto,img.size-full,img.size-large,img.size-medium,.attachment img {
	max-width:100%;
	height:auto;
}

.alignleft,img.alignleft {
	display:inline;
	float:left;
	margin-right:24px;
	margin-top:4px;
}

.alignright,img.alignright {
	display:inline;
	float:right;
	margin-left:24px;
	margin-top:4px;
}

.aligncenter,img.aligncenter {
	clear:both;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

img.alignleft,img.alignright,img.aligncenter {
	margin-bottom:12px;
}

.wp-caption {
	background:#f1f1f1;
	line-height:18px;
	margin-bottom:20px;
	max-width:632px!important;
	padding:4px;
	text-align:center;
}

.wp-caption img {
	margin:5px 5px 0;
}

.wp-caption p.wp-caption-text {
	color:#888;
	font-size:12px;
	margin:5px;
}

.wp-smiley {
	margin:0;
}

.gallery {
	margin:0 auto 18px;
}

.gallery .gallery-item {
	float:left;
	margin-top:0;
	text-align:center;
	width:33%;
}

.gallery-columns-2 .gallery-item {
	width:50%;
}

.gallery-columns-4 .gallery-item {
	width:25%;
}

.gallery img {
	border:2px solid #cfcfcf;
}

.gallery-columns-2 .attachment-medium {
	max-width:92%;
	height:auto;
}

.gallery-columns-4 .attachment-thumbnail {
	max-width:84%;
	height:auto;
}

.gallery .gallery-caption {
	color:#888;
	font-size:12px;
	margin:0 0 12px;
}

.gallery dl {
	margin-right:0;
}

.gallery img {
	border:10px solid #f1f1f1;
}

.gallery br+br {
	display:none;
}

#content .attachment img {
	display:block;
	margin:0 auto;
}

#passwd-protected-request {
	margin:20px auto 0;
	text-align:center;
}

#passwd-protected-request a {
	color:#EF4035;
}

.jp-carousel-titleanddesc {
	display:none!important;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/loading.gif) 50% 50% no-repeat rgb(249,249,249);
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
	#left-border,#right-border {
		display:none;
	}

	.logo {
		margin-left:5px;
		font-size:14px;
	}

	header nav {
		margin-right:5px;
	}

	#wrapper {
		padding:60px 5px 80px;
		width:98%;
	}

	#gallery-1 {
		width:100%;
		padding:0 0 0 4px;
	}

	#gallery-1 img {
		height:auto;
		width:100%;
	}

	iframe,object {
		max-width:960px;
	}
}

@media only screen and (max-width: 480px) {
	header {
		width:100%;
		height:auto;
		background:#000;
		padding-top:2px;
		z-index:1;
	}

	.navbar-header a {
		font-family:'Elsie',cursive;
		font-size:.8em;
		padding:3px;
		z-index:1;
	}

	#left-border,#right-border {
		display:none;
	}

	#wrapper {
		padding:20px 0 80px;
		width:100%;
	}

	#wrapper .agent-contact {
		margin:0 0 20px 50px;
	}

	#gallery-1 {
		width:100%;
		padding:0!important;
	}

	#gallery-1 img {
		height:auto;
		width:100%;
	}

	footer {
		position:relative;
		height:80px;
		text-align: center;
	}

	footer .credits {
		margin-right:0;
		width:100%;
		text-align:center;
		padding:5px 0;
	}

	footer .logo {
		padding:5px 0 0;
		float:none;
		margin-bottom: 8px;
	}

	footer .logo img {
		width:60px;
	}

	.hide {
		display:none;
	}

	footer .break {
		clear:both;
		text-align:center;
		width:100%;
	}

	footer .no-break {
		float:left;
		text-align:center;
		width:100%;
	}

	iframe,object {
		max-width:480px;
	}
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
	#left-border,#right-border {
		display:none;
	}

	#wrapper {
		padding:60px 5px 80px;
		width:98%;
	}

	#gallery-1 {
		width:100%;
		padding:0 0 0 4px;
	}

	#gallery-1 img {
		height:auto;
		width:100%;
	}

	footer {
		padding-bottom:10px;
		position:relative;
	}

	iframe,object {
		max-width:767px;
	}
}


}

.ir {
	background-color:transparent;
	border:0;
	overflow:hidden;
	*text-indent:-9999px;
}

.ir:before {
	content:"";
	display:block;
	width:0;
	height:100%;
}

.hidden {
	display:none!important;
	visibility:hidden;
}

.visuallyhidden {
	border:0;
	clip:rect(0 0 0 0);
	height:1px;
	margin:-1px;
	overflow:hidden;
	padding:0;
	position:absolute;
	width:1px;
}

.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
	clip:auto;
	height:auto;
	margin:0;
	overflow:visible;
	position:static;
	width:auto;
}

.invisible {
	visibility:hidden;
}

.clearfix:before,.clearfix:after {
	content:" ";
	display:table;
}

.clearfix:after {
	clear:both;
}

.clearfix {
	*zoom:1;
}

@media print {
	* {
		background:transparent!important;
		color:#000!important;
		box-shadow:none!important;
		text-shadow:none!important;
	}

	a,a:visited {
		text-decoration:underline;
	}

	a[href]:after {
		content:" (" attr(href) ")";
	}

	abbr[title]:after {
		content:" (" attr(title) ")";
	}

	.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after {
		content:"";
	}

	pre,blockquote {
		border:1px solid #999;
		page-break-inside:avoid;
	}

	thead {
		display:table-header-group;
	}

	tr,img {
		page-break-inside:avoid;
	}

	img {
		max-width:100%!important;
	}

	@page {
		margin:.5cm;
	}

	p,h2,h3 {
		orphans:3;
		widows:3;
	}

	h2,h3 {
		page-break-after:avoid;
	}
}