/* ----- CALENDAR ----- */
#bt-cal-template {
  padding: 0; }
  #bt-cal-template a {
    color: #4cc8f2; }
    #bt-cal-template a:hover, #bt-cal-template a:focus {
      color: #4cc8f2; }

#tribe-events-bar {
  background-image: url(../images/Header-img-calendar.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed; }
  #tribe-events-bar h1 {
    color: #fff; }

#tribe-bar-form {
  background: none;
  margin: 10% 0; }
  #tribe-bar-form label {
    color: #ffffff; }
  #tribe-bar-form input[type="text"] {
    border-bottom: 1px solid #b9b9b9;
    font-weight: normal;
    color: #06b0cf; }
  #tribe-bar-form .tribe-bar-views-inner label {
    padding-left: 0px; }

.tribe-bar-views-inner {
  background: none;
  padding: 10px 0 45px 0; }

#tribe-bar-form .tribe-bar-submit input[type=submit] {
  width: auto !important;
  background: transparent !important; }

.tribe-bar-submit::before {
  font-weight: 200;
  color: #06b0cf;
  font-size: 36px;
  vertical-align: middle;
  content: "[ ";
  padding-left: 0; }
.tribe-bar-submit::after {
  font-weight: 200;
  color: #06b0cf;
  font-size: 36px;
  vertical-align: middle;
  content: " ]";
  padding-left: 0; }

#tribe-bar-views .tribe-bar-views-list {
  width: 120px; }
  #tribe-bar-views .tribe-bar-views-list::after {
    font-family: FontAwesome;
    content: "\f0d7";
    color: #444;
    font-size: 20px;
    position: absolute;
    right: 8px;
    top: 0px; }

#tribe-bar-collapse-toggle {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 21px; }

#legend_box {
  font-family: 'Raleway',sans-serif !important;
  font-weight: 300 !important;
  font-size: 16px !important; }
  #legend_box ul {
    padding-left: 0; }

.tribe-events-category-performances h2.tribe-events-list-event-title.entry-title a, .tribe-events-category-classes h2.tribe-events-list-event-title.entry-title a {
  background: #fff !important;
  color: #4cc8f2 !important;
  font-size: 26px;
  text-transform: uppercase;
  border-left: 0px !important;
  padding: 0px !important;
  font-weight: 300; }

.tribe-events-list-separator-month + .type-tribe_events.tribe-events-first, .tribe-events-list .type-tribe_events {
  padding-top: 0px !important; }
