body{
	margin:0;
	padding:0;
    background:#FFF;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
}
a:hover{text-decoration: none; cursor:pointer;}

/* Globals type styling */
 h1, h2, h3, h4, h5, h6, p, label, .btn, a{
	font-family: "proxima-nova",sans-serif;
	font-weight: 400;
}

h3 {
	margin-top:0;
	text-align:right;
	text-transform: uppercase;
	}
h3.mg-md { margin-top:0; }
#clients h3.mg-md { margin-top:11px; }

h4,h5 {
	font-size: 20px;
	text-transform: uppercase;
	word-wrap: normal;
}
h5.mg-md { margin-top:1px; }


/* Site container width */

.container{
	max-width:1170px;
}

/* Blocs */

.bloc{
	width:100%;
	clear:both;
	background: 50% 50% no-repeat;
	padding;
	0 50px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Bloc sizes */

.bloc-lg{
	padding:100px 50px 0 50px;
}
.bloc-sm{
	padding:20px 50px;
}

/* Bloc - Dark theme */

.d-bloc{
	color:rgba(255,255,255,.7);
}
.d-bloc button:hover{
	color:rgba(255,255,255,.9);
}
.d-bloc h1, .d-bloc h2, .d-bloc h3, .d-bloc h4,.d-bloc h5, .d-bloc h6, .d-bloc .ico{
	color:rgba(255,255,255,.9);
}
.d-bloc .icon-round{
	border-color:rgba(255,255,255,.9);
}
.d-bloc .divider-h span{
	border-color:rgba(255,255,255,.2);
}
.d-bloc a{
	color:rgba(255,255,255,.6);
}
.d-bloc a:hover{
	color:rgba(255,255,255,1);
}
.d-bloc .navbar-toggle .icon-bar{
	background:rgba(255,255,255,1);
}
.d-bloc .btn-wire,.d-bloc .btn-wire:hover{
	color:rgba(255,255,255,1);
	border-color:rgba(255,255,255,1);
}


/* Bloc - Light theme */

.l-bloc{
	color:rgba(0,0,0,.5);
}
.l-bloc button:hover{
	color:rgba(0,0,0,.7);
}
.l-bloc h1,.l-bloc h2,.l-bloc h3,.l-bloc h4,.l-bloc h5, .l-bloc h6, .l-bloc .ico{
	color:rgba(0,0,0,.7);
}
.l-bloc .icon-round{
	border-color:rgba(0,0,0,.7);
}
.l-bloc .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.l-bloc a{
	color:rgba(0,0,0,.6);
}
.l-bloc a:hover{
	color:rgba(0,0,0,1);
}
.l-bloc .navbar-toggle .icon-bar{
	color:rgba(0,0,0,.6);
}
.l-bloc .btn-wire, .l-bloc .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}

/* Row Margin Offsets */

.voffset{
	margin-top:30px;
}


/* Custom bloc styling */

#hero-bloc {
	border:0px;
}
#hero-bloc,#nav-bloc,#bloc-2,#bloc-3,#bloc-4,#bloc-5,#bloc-6,#footer{
	background-color:#FFF;
}
#hero-bloc h2{
  	font-family: "bebas-neue",sans-serif;
	font-size:48px;
	text-transform: uppercase;
	color:#000;
	font-weight: 700;
}
#hero-bloc h3{
	font-family: "proxima-nova",sans-serif;
	font-size:18px;
	text-transform: uppercase;
	color:#000;
	font-weight: 200;
	line-height: 22px;
}
#hero-bloc img{
	margin-bottom:40px;
}


/* Bloc image backgrounds */

.bg-lions{
	background-image:url("img/lions.jpg");
}
.bg-water{
	background-image:url("img/hero-water.jpg");
}
.bg-lion{
	background-image:url("img/lion.jpg");
}

/* NavBar */

.navbar{
	background: transparent;
	color:#000;
	margin-bottom: 0;
}
.navbar.solid-bg {
	background: #fff !important;
}
.navbar-brand{
	height:auto;
	padding: 7px 0;
	font-size:25px!important;
	font-weight:normal;
	font-weight:600;
}
.navbar-brand img{
	max-height: 200px;
	margin: 0 5px 0 0;
	display:inline;
}
.navbar .nav{
	padding-top: 50px;
	margin-right: 0px;
	float:right;
}
.nav > li{
	float:left;
	font-size:16px;
}
.nav > li a {
	color:#000;
	font-size: 14px;
}
.nav > li.active a, .nav > li > a:hover {
	font-weight: bold;

}
.nav > li a:hover, .nav > li a:focus{
	background:transparent;
}
.navbar-toggle{
	margin: 5px 45px 0 0;
	border-radius: 0px;
	padding: 12px 10px;
}
.navbar-toggle:hover{
	background:transparent!important;
}
.navbar-toggle .icon-bar{
	background-color: #000;
	width: 26px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	margin-left: 30px;
}
/* navbar collapse */
.navbar-collapse {
	border:0px;
}
.navbar-collapse .site-navigation {
	background:transparent;
}
.navbar-collapse .site-navigation li {
	text-align: right;
	padding-right:5px;
}
@media (min-width:767px) {
	.navbar-collapse .site-navigation li {
		width:90px;
	}
	.navbar .nav {
		margin-right: 0px;
	}
}
.navbar-collapse .nav {

}

 /* Inverted navbar */

.nav-invert .navbar .nav{
	float:left;
}
.nav-invert .navbar-header, .nav-invert .navbar-brand{
	float:right;
}
@media (min-width: 768px){
	.site-navigation{
		position:absolute;
		top:50%;
		right:20px;
		transform:translate(0, -50%);
		-webkit-transform:translateY(-50%);
	}
	.nav-invert .site-navigation{
		left:20px;
		right:0;
	}
}
/* Hero bloc */

.hero{
	padding-top:0;
}
.hero-nav{
	position:absolute;
	margin: 0 auto;
	left:0;
	right:0;
	padding:0px;
}
.v-center{
	width:100%;
	height: 100%;
	display: table;
}
.v-center .vc-content{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 100%;
	height: 100%;
}
.hero-logo{
	max-width:90%;
	height:auto;
	}
.hero .btn-dwn{
	width: 58px;
	height: 58px;
	line-height: 58px;
	margin: 0 0 0 -29px;
	padding: 0;
	text-align: center;
	font-size: 50px;
	color: rgba(0,0,0,.8);
	position: absolute;
	left: 50%;
	bottom: 60px;
	border:0;
}
.hero .btn-dwn:hover{
	color: rgba(0,0,0,1);
}

/* Padding adjustments */
.pt20{padding-top:20px;}

/* Margin adjustments */
.mt20{margin-top:20px;}
.mg-sm{
	margin-top:10px;
	margin-bottom:5px;
}
.mg-md{
	margin-top:20px;
	margin-bottom:20px;
}
img.mg-sm,img.mg-md,img.mg-lg{
	margin-top: 0;
}
img.mg-sm{
	margin-bottom:30px;
}
img.mg-md{
	margin-bottom:30px;
}
img.mg-lg{
	margin-bottom:50px;
}

/* Margin adjustments */

.pl0 {padding-left:0;}
.pr0 {padding-right:0;}

/* Buttons */

.btn{
	margin: 0 5px 5px 0;
}
.btn.pull-right{
	margin: 0 0 5px 5px;
}
.btn-d,.btn-d:hover,.btn-d:focus{
	color:#FFF!important;
	background:rgba(0,0,0,.3);
}
.btn-sq{
	border-radius: 0px;
}
.btn-wire{
	background:transparent!important;
	border:2px solid transparent;
}
.btn-wire:hover{
	background:transparent!important;
	border:2px solid transparent;
}
.btn-xl{
	padding: 16px 40px;
	font-size: 28px;
}

/* page content */

span.mobile-break {
	clear: both;
	display: block;
}


/* WHAT WE DO */
.do-box {
	float: left;
	padding: 0 0 50px 0;
	}

/* WHO WE ARE */

.who-box {
	padding: 20px 30px 30px;
	}

/* CLIENTS */
#bloc-6 img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter ….3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
}

#bloc-6 img:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
  -webkit-transition: 50ms -webkit-filter linear;
  -moz-transition: 50ms -moz-filter linear;
  -o-transition: 50ms -o-filter linear;
  }


/* Dividers */
.divider-h{
	padding:20px 0;
}
.divider-h span{
	display: block;
	border-top:1px solid transparent;
}
.divider-half{
	width: 50%;
	margin: 0 auto;
}

/* iFrame */

iframe{
	border:0;
}
/* ScrollToTop button */

.scrollToTop{
	width:22px;
	height:52px;
	position:fixed;
	bottom:20px;
	right:20px;
	opacity: 0;
	z-index: 500;
	transition: all .3s ease-in-out;
}
.scrollToTop icon{
	margin-top: 6px;
}
.showScrollTop{
	opacity: 1;
}

#footer { padding-bottom:50px;}

#footer .social li {
	width:40%;
}

/* Accoridians */

.panel {
	border: 0;
}

.panel-heading{
    background-color: #000 !important;
    border-radius: 0 !important;
}

.panel-title a {
	color: #fff !important;
}

.arrow-pad {
    padding-right: 8px;
}

/* Tabs */

.tab-center{display:table; margin: 0 auto;}

.nav-tabs, .nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus{
	border: 0;
    font-weight: normal;
    text-decoration: none;
    color: #fff;
}

.nav-tabs li {
    background-color: #ec2027;
    margin: 5px;
}

.nav-tabs li.active, .nav-tabs li.active a, .nav-tabs li.active a:hover, .nav-tabs li.active a:focus{
    background-color: #ec2027;
}


.nav-tabs li a{
	 font-size: 18px;
    text-decoration: underline;
    background-color: #ec2027;
}


/* Flash Banners */

.flash-contain{
    margin: 15px 0;
}

/* Resources */

.button-portfolio{
    padding: 15px 25px;
    background-color: #000;
    color: #fff !important;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    min-width: 180px;
    margin: 30px;
}

.button-portfolio:hover{
    text-decoration: underline;
}


/* Mobile adjustments */

@media (max-width: 469px) {
	.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
		max-width: 72% !important;
	}
    
    #hero-bloc {
        min-height: 710px !important;
        max-height: 710px !important;
	}
}


@media (max-width: 767px) {
    .page-container{
        overflow-x: hidden;
    }
    h1,h2,h3,h4,h5,h6,p{
        padding-left:10px!important;
        padding-right:10px!important;
    }
    h4,h5 {
		font-size: 16px;
	}
    #hero-bloc {
		border: 0px;
        min-height: 550px;
        max-height: 550px;
	}
    #hero-bloc h1{
        font-size:40px;
    }
    #hero-bloc h2{
        font-size:34px;
    }
    #hero-bloc h3{
        font-size:25px;
    }
    
    .fullscreen-bg-video {
        display: none;
    }
    
    .bloc{
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        -webkit-background-size: auto 200%;
        -moz-background-size: auto 200%;
        -o-background-size: auto 200%;
        background-size: auto 200%;
    }
    .bloc-lg, .block-xl {
	    padding:0px;
    }
    .b-parallax{
        background-attachment:scroll;
    }
    .navbar {
	    min-height:38px;
	    border:0px !important;
    }
    .navbar .nav{
        padding-top: 0;
        border-top:1px solid rgba(0,0,0,.2);
        float:none!important;
		margin: 0px;
    }
    .navbar.row{
        margin-left: 0;
        margin-right: 0;
    }
    .site-navigation{
	   position:inherit;
	   transform:none;
	   -webkit-transform:none;
	   -ms-transform:none;
    }
    .nav > li{
        margin-top: 0;
        border-bottom:1px solid rgba(0,0,0,.1);
        background:rgba(0,0,0,.05);
        text-align: left;
        width:100%;
        padding-right: 20px !important;
    }
    .nav > li:hover{
        background:rgba(0,0,0,.08);
    }
    .navbar-toggle {
	    margin: 5px 25px 0 0;
		border-radius: 0px;
		padding: 6px 6px;
    }
    #hero-bloc .navbar .nav{
        background:rgba(0,0,0,.8);
    }
    #hero-bloc .navbar .nav a{
        color:rgba(255,255,255,.6);
    }
    .hero-nav{
	   left:-1px;
	   right:-1px;
    }
    .navbar-collapse{
        padding:0;
        overflow-x: hidden;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-brand img {
	  max-height: 40px;
	  width: auto;
	  margin: -2px 10px 0 0;
	}
	.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
		margin-left: 25px;
		max-width:50%;
	}
    .nav-invert .navbar-header{
        float: none;
        width:100%;
    }
    .nav-invert .navbar-toggle{
        float:left;
    }
    .navbar-collapse .site-navigation {
		background:#fff;
	}
    .collapsing, .in {
	    background: #fff;
    }
    .btn.pull-left, .btn.pull-right{
       float:none!important;
    }
    span.mobile-break {
		clear: none;
		display: inline;
		padding-left: 8px;
	}
    .bloc-group .bloc{
         display:block;
         width:100%;
     }
    .bloc-tile-2 .container, .bloc-tile-3 .container, .bloc-tile-4 .container{
	   padding-left: 10px;
	   padding-right: 10px;
    }
    .bloc-sm,.bloc-md{
        padding-left: 0;
        padding-right: 0;
    }
    .a-block{
        text-align: center;
    }
    .btn-dwn{
       display:none;
    }
    .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .do-box {
	    padding:0px;
	    margin:0px;
    }
    .who-box {
		padding: 5px 0px;
	}
	#who-are:first-child {
		padding-top:0px;
	}
}

@media (max-width: 1199px) {

h4,h5 {
		font-size: 18px;
	}
}

/* Rollover Animations */

/* Outline Out */
.hvr-outline-out {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-outline-out:before {
  content: '';
  position: absolute;
  border: #fff solid 1px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}
.hvr-outline-out:hover:before, .hvr-outline-out:focus:before, .hvr-outline-out:active:before {
	border: #ddd solid 1px;
	top: -8px;
	right: -8px;
	bottom: -8px;
	left: -8px;
}

/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098d1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Sweep To Bottom */
.hvr-sweep-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098d1;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
  color: white;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
.fullscreen-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    max-height: 100%;
}
.fullscreen-bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
