@charset "UTF-8";
.gallery-filters:after {
  clear: both;
  content: "";
  display: table; }
.gallery-filters:before {
  content: "";
  display: table; }


@media (max-width: 767px) {
  #temp-width-control {
    display: none; }
}
@media (min-width: 770px) {
  .js [data-entrance] {
    opacity: 0; }
}
.touch [data-entrance] {
  opacity: 1 !important; }

.container-fluid {
  position: relative;
  max-width: 1600px;
  padding: 0; }
  .container-fluid .row {
    margin: 0; }
  .container-fluid div[class*="col"] {
    padding-right: 0;
    padding-left: 0; }


@-webkit-keyframes fadeInContent {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; }
}
@-moz-keyframes fadeInContent {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; }
}
@keyframes fadeInContent {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; }
}
.main-cont {
  background: #fff;
  padding: 0 15px;
  -webkit-animation: fadeInContent 0.3s linear;
  -moz-animation: fadeInContent 0.3s linear;
  animation: fadeInContent 0.3s linear; }

.gal-sizer {
  width: 100%; }

.gallery-filters {
  position: relative;
  font-size: 18px; }
  .gallery-filters span {
    display: inline-block;
    padding: 15px 24px;
    color: #666; }
  .gallery-filters a[data-filter] {
    color: #999;
    display: inline-block;
    padding: 30px 25px;}

    .gallery-filters a[data-filter]:hover, .gallery-filters a[data-filter].active-filter {
      text-decoration: underline;
      color: #003d4c; }


.gallery-items {
  width: 100%;
  background: #fff;
  position: relative;
  min-height: 555px;
  overflow: hidden; }
  .gallery-items img {
    position: relative;
    left: -3px;
    width: 100%;
    height: auto;
    display: block;
    border-width: 4px 0;
    border-color: #fff;
    border-style: solid;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    }
  .gallery-items .hp-gal-item {
    overflow: hidden;
    height: 0;
    padding-bottom: 25%;
    }
    .gallery-items .hp-gal-item.hp-gal-2xh {
      height: 0;
      padding-bottom: 50%; }
  .gallery-items .hp-gal-half {
    width: 50%; }
  .gallery-items .hp-gal-quad {
    width: 25%; }

.hp-gal-video:hover, .hp-gal-img:hover {
  cursor: pointer; }
  .hp-gal-video:hover img, .hp-gal-img:hover img {
    opacity: .65; }

.hp-video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 599;
  background: rgba(55, 55, 55, 0.9); }
  .hp-video-overlay #close-overlay {
    color: #fff;
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding: 15px;
    font-size: 2.2em; }
    .hp-video-overlay #close-overlay:before {
      content: '\e807';
      font-family: 'fontello';
      margin-right: 5px;
      font-size: 1em; }
    .hp-video-overlay #close-overlay:hover {
      cursor: pointer; }

.hp-fluid-video {
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 59.3%; }
  .hp-fluid-video iframe {
    z-index: 1999;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100%; }

@media (min-width: 767px) {
  .gallery-filters a[data-filter] {
    padding: 15px 25px 30px 25px; }

  .gallery-items {
    min-height: 800px; } }
.hp-map-options {
  position: absolute;
  z-index: 999;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.55);
  font-weight: 400; }
  .hp-map-options ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .hp-map-options li {
    width: 33%;
    float: left;
    text-align: center;
    padding: 15px 0;
    color: #fff;
    border-right: 1px solid rgba(153, 153, 153, 0.8); }
    .hp-map-options li:last-child {
      border-right: none; }
    .hp-map-options li.map-option_active {
      background: rgba(0, 0, 0, 0.5); }

.no-csstransforms .hp-map {
  height: 425px;
  padding-bottom: 0; }

.hp-map {
  position: relative;
  height: 420px;
  overflow: hidden; }
  .hp-map .hp-static-map {
    width: 100%;
    max-width: 100%;
    height: auto; }

#hp-map_canvas,
[id*="gmap_terminal_"] {
  width: 100%;
  height: 420px;
  position: absolute;
  top: 0;
  left: 0; }
  #hp-map_canvas > img,
  [id*="gmap_terminal_"] > img {
    max-width: auto !important; }

@media (max-width: 1080px) {
  .hp-overview h1 {
    padding-top: 70px; } }
@media (max-width: 850px) {
  .on-track h1 {
    padding-top: 10px; } }
@media (max-width: 767px) {
  .hp-overview h1 {
    padding-top: 20px; }

  .gates-desc p {
    margin-bottom: 0; }

  #hp-bynumbers h3 {
    margin: 10px 20px 20px; }

  .hp-map {
    height: 300px; } }
@media (max-width: 550px) {
  .gallery-filters span {
    padding-left: 15px;
    padding-right: 15px; }
  .gallery-filters .imguse-policy {
    display: none; }
  .gallery-filters a[data-filter] {
    padding-left: 22px;
    padding-right: 22px; }

  .hp-map-options {
    font-size: .9em; }

  .gates-desc + div.text-center {
    text-align: left; }
    .gates-desc + div.text-center a {
      margin: 10px 40px 40px; }

  #hp-productivity h4,
  #hp-bynumbers h4 {
    font-size: 36px; } }

  .csstransforms #team-headshots figure:hover .team-member_info, .csstransforms .corp-directors figure:hover .team-member_info {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }

#team-headshots .team-member_info, .corp-directors .team-member_info {
  display: block;
  position: absolute;
  bottom: -9px;
  left: 0;
  width: 100%;
  padding: 12px 12px 20px;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: -moz-transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  .csstransforms #team-headshots .team-member_info, .csstransforms .corp-directors .team-member_info {
    -webkit-transform: translateY(70px);
    -moz-transform: translateY(70px);
    -ms-transform: translateY(70px);
    -o-transform: translateY(70px);
    transform: translateY(70px); }



@media (min-width: 767px) {
  .page-template-templatessafety-security-php .gct-btn {
    margin-bottom: 20px; }

  .ppe-outer, .vehiclerules-outer,
  .security-outer, .marsec-outer {
    padding: 40px 55px; }

  .ppe-leadin, .ppe-leadout {
    margin-left: 40px;
    margin-right: 40px; }

  .ppe-leadout {
    margin-bottom: 40px; }

  .ppe-symbols p {
    margin: 0 10px; }

  .security-outer .security-leadin {
    margin-bottom: 60px;
    margin-left: 10px;
    margin-right: 10px; }

  .marsec-outer {
    padding: 80px 0 55px;
    width: 88%;
    margin: 10px auto; } }
@media (min-width: 900px) {
  .ppe-item {
    width: 25%;
    float: left; }
    .ppe-item figure {
      float: none;
      margin: 0 auto; }

  .rule-item {
    width: 25%;
    float: left;
    min-height: 190px; }

  .ppe-symbols {
    padding-left: 20px;
    padding-right: 20px; }

  .vehiclerules-outer {
    padding-top: 60px; }

  .vehiclerules-outer .row,
  .security-outer .row {
    padding-left: 20px;
    padding-right: 20px; }

  .security-leadin, .marsec-leadout {
    padding-right: 20px;
    padding-left: 20px; } }
@media (min-width: 1080px) {
  .marsec-outer {
    width: 82%; } }
/* Magnific Popup CSS */
#hp-gal-close {
  position: fixed;
  z-index: 7999;
  top: 0;
  right: 0;
  text-align: center;
  padding: 20px 0;
  background-color: #151515;
  color: #fff;
  text-transform: uppercase; }
  #hp-gal-close i {
    margin-right: 5px; }

button.hp-gal-arrow {
  position: absolute;
  top: 50%;
  margin-top: -43px;
  width: 43px;
  height: 85px;
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 4005;
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .75;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; }
  button.hp-gal-arrow:hover {
    opacity: 1; }
  button.hp-gal-arrow:active {
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
    transform: translateY(2px); }
  button.hp-gal-arrow.hp-gal-arrow_right {
    right: 4%;
    background: url("../../images/gallery/arrow-right.png") top left no-repeat; }
  button.hp-gal-arrow.hp-gal-arrow_left {
    left: 4%;
    background: url("../../images/gallery/arrow-left.png") top left no-repeat; }

.mfp-counter {
  visibility: hidden !important; }

.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.33s linear;
  -moz-transition: opacity 0.33s linear;
  transition: opacity 0.33s linear; }
  .mfp-bg.mfp-ready {
    opacity: 0.85; }
  .mfp-bg.mfp-removing {
    opacity: 0; }

.mfp-wrap div.mfp-content {
  opacity: 0;
  top: 120px;
  -webkit-transition: opacity 0.33s linear, top 0.33s ease;
  -moz-transition: opacity 0.33s linear, top 0.33s ease;
  transition: opacity 0.33s linear, top 0.33s ease; }
.mfp-wrap.mfp-ready div.mfp-content {
  top: 0;
  opacity: 1; }
.mfp-wrap.mfp-removing div.mfp-content {
  top: -120px;
  opacity: 0; }

.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4001;
  overflow: hidden;
  position: fixed;
  background: #111;
  filter: alpha(opacity=85); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4002;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 4004; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 4003; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 4005;
  -webkit-box-shadow: none;
  box-shadow: none; }
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 105px !important;
  line-height: 1;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.9;
  filter: alpha(opacity=90);
  padding: 20px 0;
  font-style: normal;
  font-size: 16px; }

.mfp-close-btn-in .mfp-close {
  color: #fff; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px; }

.mfp-arrow {
  position: absolute;
  opacity: 0.9;
  filter: alpha(opacity=90);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-arrow:before, .mfp-arrow:after,
  .mfp-arrow .mfp-b,
  .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after,
  .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before,
  .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after,
  .mfp-arrow-left .mfp-a {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before,
  .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after,
  .mfp-arrow-right .mfp-a {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before,
  .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 80px 0 80px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 80px;
    bottom: 80px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: none;
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -76px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
   * Remove all paddings around the image on small screen
   */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }
.mfp-ie7 .mfp-img {
  padding: 0; }
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }
.mfp-ie7 .mfp-container {
  padding: 0; }
.mfp-ie7 .mfp-content {
  padding-top: 44px; }
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }

@media (min-width: 767px) {
  .js.csstransforms .valign-parent .valign-child h1, .js.csstransforms .valign-parent .valign-child p {
    padding-top: 0 !important;
    padding-bottom: 0 !important; }

  .js.csstransforms .valign-parent {
    position: relative;
    overflow: hidden; }
    .js.csstransforms .valign-parent .valign-child {
      position: absolute;
      width: 100%;
      top: 49%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
	}
.no-csstransforms [data-fill-parent] {
  overflow: hidden;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear; }
  @media (max-width: 767px) {
    .no-csstransforms [data-fill-parent] {
      height: 335px; }
	}
  @media (max-width: 600px) {
    .no-csstransforms [data-fill-parent] {
      height: 280px; }
	}
  @media (max-width: 480px) {
    .no-csstransforms [data-fill-parent] {
      height: 235px; }
	}
.no-csstransforms img[data-fill-img] {
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear; }
@media (max-width: 1080px) {
    .no-csstransforms img[data-fill-img] {
      width: 120%;
      max-width: 200%;
      left: -5px; }
	}
@media (max-width: 990px) {
    .no-csstransforms img[data-fill-img] {
      width: 142%;
      left: -35px; }
	}
@media (max-width: 890px) {
    .no-csstransforms img[data-fill-img] {
      width: 160%;
      left: -55px; }
	}
@media (max-width: 820px) {
    .no-csstransforms img[data-fill-img] {
      width: 170%;
      left: -70px; }
	}
@media (max-width: 790px) {
    .no-csstransforms img[data-fill-img] {
      width: 180%;
      left: -99px; }
	}
@media (max-width: 767px) {
    .no-csstransforms img[data-fill-img] {
      left: 0;
      top: -170px;
      width: 100%;
      max-width: 100%; }
	}
@media (max-width: 650px) {
    .no-csstransforms img[data-fill-img] {
      top: -89px; }
	}
@media (max-width: 480px) {
    .no-csstransforms img[data-fill-img] {
      top: -10px; }
	}
