// custom variables and override bootstrap variables
$white: #fff;
$black: #000;
$red-dark:#692f25;
$gray-darker: #171717;
$gray-dark: #333;



$brand-primary: $red-dark;
$btn-border-radius-base: 0;
$btn-border-radius-large: 0;
$btn-border-radius-small: 0;
$btn-primary-border:$brand-primary;
$padding-base-vertical: 12px;
$padding-base-horizontal: 18px;

$body-bg: $white;
$text-color: rgba($black, .8);
$input-border: $gray-dark;
$link-hover-color: $gray-darker;
$headings-color:$brand-primary;

$link-hover-decoration: none;

$font-family-sans-serif: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
$second-font-family-sans-serif: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-family:$second-font-family-sans-serif;

$font-size-base: 14px;
$line-height-base: 1.86;


$font-size-h1: floor(($font-size-base * 3)); // 42px
$font-size-h2: floor(($font-size-base * 1.43)); // 20px
$font-size-h3: ceil(($font-size-base * 1.14)); // 16px

$grid-gutter-width:20px;

$jumbotron-font-size:            ceil(($font-size-base * 2.57)) !default;
$jumbotron-heading-font-size:    ceil(($font-size-base * 4.5)) !default;


$input-border-radius: 0;
$input-border-radius-large: $input-border-radius;
$input-border-radius-small: $input-border-radius;
$input-border-focus: $gray-darker;
$input-color-placeholder: $brand-primary;
$input-color: $black;
$form-group-margin-bottom: 20px;

$btn-default-color: $brand-primary;
$btn-default-border: $brand-primary;

$input-height-large: 65px;
$input-height-base: 55px;
$input-height-small: 40px;

$headings-font-weight:400;
$btn-font-weight:600;

$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1200px;
$screen-xl: 1500px;
$container-sm: 688px;
$container-md: 914px;

$breakpoints: (
  'xs-phone': 320px,
  'phone': 480px,
  'tablet': $screen-sm,
  'desktop': $screen-md,
  'widescreen': $screen-lg,
  'rich-people': $screen-xl
);

$grid-float-breakpoint: $screen-sm;