/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
    height:100%;
    width:100%;
}

body {
    font-size: 1em;
    line-height: 1.4;
    height:100%;
    width:100%;
    background: #000;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.clear {
	clear:both;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
/* Bebas */
@font-face {
	font-family: 'Bebas';
	src: url('../fonts/bebasneue-webfont.eot');
	src: url('../fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/bebasneue-webfont.woff') format('woff'),
		url('../fonts/bebasneue-webfont.ttf') format('truetype'),
		url('../fonts/bebasneue-webfont.svg#bebas_neueregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova - Regular';
	src: url('../fonts/proxima-nova-reg.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

header {
	width:100%;
	position: fixed;
	height:auto;
	background: #000;
	padding-top: 2px;
}

/* logo */
header h1 {
	margin: 0;
}
.logo {
	float:left;
	margin-left: 30px;
	font-family: 'Proxima Nova - Regular';
	padding: 3px 10px 0;
    position: relative;
    z-index: 1;
}
header .logo a {
	text-transform: uppercase;
	letter-spacing: 0px;
	color:#fff;
	text-decoration: none;
	font-weight: normal;
}

/* navigation */
header nav {
	float: right;
	margin-right: 30px;
}
header nav ul {
	margin: 10px 0 0;
}
header nav ul li {
	width:auto;
	float:left;
	margin-right: 25px;
}
header nav ul li:last-child {
	margin-right: 0;
}
header nav ul li a {
	color:#ccc;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-decoration: none;
	font-family: Bebas, Arial, Helvetica, sans-serif;
	font-size: 15px;
}
header nav ul li a:hover,  header nav ul li.current-menu-item a {
	color:#EF4035;
}
#main {
	height:100%;
	width:100%;
	z-index: -1 !important;
}
#left-border, #right-border {
	background: none repeat scroll 0 0 #FFFFFF;
    bottom: 0;
    height: 100%;
    position: fixed;
    width: 30px;
    z-index: 1;
}
#left-border {
	left: 0;
}
#right-border {
	right: 0;
}

/* internal pages */
#wrapper {
	color:#000;
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.8);
	margin: 0 auto 50px;
    overflow-x: hidden;
    padding: 50px 20px 70px;
    width: 960px;
}
#wrapper h2 {
	font-family: Bebas,Arial,Helvetica,sans-serif;
    font-size: 40px;
    font-weight: normal;
    letter-spacing: 2px;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
}
#wrapper p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
}
#wrapper a {
	color:#EF4035;
}
#wrapper ul li {
	font-family: Georgia, Arial, Helvetica, sans-serif;
}

/* columns */

.one_half {
	float: left;
    margin-right: 30px;
    width: 48%;
}
.last {
	margin-right:0 !important;
	clear:right;
}

/* gallery styling */
#gallery-1 {
	padding-left: 0px;
}
.gallery-columns-6 dl {
	margin-right: 6px !important;
}

/* footer */
footer {
	bottom: 0;
    height: auto;
    left: 0;
    position: fixed;
    width: 100%;
    background: rgba(47, 45, 45, 0.45);
}
footer .logo {
	padding:10px 0 10px 10px;
}
footer .credits {
	font-family: Georgia, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	float:right;
	margin-right: 30px;
	padding:25px 10px 0 0;
	color:#fff;
}
footer .credits a {
	color:#63D1F4;
}
footer .break {
    float: left;
    margin-left: 5px;
}
footer .no-break {
	float:left;
}

/* =Images
-------------------------------------------------------------- */

/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}
.wp-caption {
	background: #f1f1f1;
	line-height: 18px;
	margin-bottom: 20px;
	max-width: 632px !important; /* prevent too-wide images from breaking layout */
	padding: 4px;
	text-align: center;
}
.wp-caption img {
	margin: 5px 5px 0;
}
.wp-caption p.wp-caption-text {
	color: #888;
	font-size: 12px;
	margin: 5px;
}
.wp-smiley {
	margin: 0;
}
.gallery {
	margin: 0 auto 18px;
}
.gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
.gallery-columns-2 .gallery-item {
	width: 50%;
}
.gallery-columns-4 .gallery-item {
	width: 25%;
}
.gallery img {
	border: 2px solid #cfcfcf;
}
.gallery-columns-2 .attachment-medium {
	max-width: 92%;
	height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
	max-width: 84%;
	height: auto;
}
.gallery .gallery-caption {
	color: #888;
	font-size: 12px;
	margin: 0 0 12px;
}
.gallery dl {
	margin-right:0px;
}
.gallery img {
	border: 10px solid #f1f1f1;
}
.gallery br+br {
	display: none;
}
#content .attachment img {/* single attachment images should be centered */
	display: block;
	margin: 0 auto;
}

/* passwd protected css */

#passwd-protected-request {
	margin:20px auto 0 auto;
	text-align: center;
}
#passwd-protected-request a {
	color: #EF4035;
}

/* remove title/desc from carousel */

.jp-carousel-titleanddesc {
	display:none !important;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

/* 
#Tablet (Portrait)
================================================== 
*/

@media only screen and (min-width: 768px) and (max-width: 960px) {
	#left-border, #right-border {display:none;}
	.logo {margin-left:5px;font-size: 14px;}
	header nav {margin-right: 5px;}
	#wrapper {padding: 60px 5px 80px;width: 98%;}
	#gallery-1 {width: 100%;padding:0 0 0 4px;}
	#gallery-1 img {height:auto;width:100%;}
	iframe, object {max-width: 960px;}
}

/*  
#Mobile (Portrait)
================================================== 
*/

@media only screen and (max-width: 480px) {
	header {
		width:85%;
		position: absolute;
		height:auto;
		background: #000;
		padding-top: 2px;
		z-index:1;
	}
	.logo {
	    float: left;
	    font-family: 'Elsie',cursive;
	    font-size: 0.8em;
	    margin-left: 15px;
	    padding: 3px;
	    position: relative;
	    z-index: 1;
	}
	#left-border, #right-border {display:none;}
	#wrapper {padding: 20px 0px 80px 0px;width: 100%;}
	#wrapper .agent-contact {margin:0 0 20px 50px;}
	#gallery-1 {width: 100%;padding:0 !important;}
	#gallery-1 img {height:auto;width:100%;}
	footer {position: relative;height:80px;}
	footer .credits {margin-right:0px;width:100%;text-align: center;padding:5px 0 5px 0;}
	footer .logo {padding:5px 0 0;}
	footer .logo img {width:60px;}
	.hide {display:none;}
	footer .break {clear: both;text-align: center;width:100%;}
	footer .no-break {float:left;text-align: center;width:100%;}
	iframe, object {max-width: 480px;}
}

/* 
#Mobile (Landscape)
================================================== 
*/

@media only screen and (min-width: 481px) and (max-width: 767px) {
	#left-border, #right-border {display:none;}
	#wrapper {padding: 60px 5px 80px;width: 98%;}
	#gallery-1 {width: 100%;padding:0 0 0 4px;}
	#gallery-1 img {height:auto;width:100%;}
	footer {padding-bottom: 10px;position:relative;}
	iframe, object {max-width: 767px;}
	}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}